{{trace "CPR-FIGHT.HBS"}}
<div class="fight-tab">
    <div class="injuries-section">
        <li class="items-header flexrow">
            <span class="item-name section-name fg-white bg-black text-nowrap text-padding-left">
                {{localize "CPR.critinjuries"}}
                <span class="item-detail gear-actions bg-black text-nowrap text-float-right text-padding-right"><a class="roll-critical-injury" title="{{localize "CPR.criticalinjuryroll"}}" data-item-type="criticalInjury"><i class="fas fa-dice text-padding-right"></i></a></span>
                <span class="item-detail gear-actions bg-black text-nowrap text-float-right text-padding-right">{{#if (systemConfig "playersCreateInventory")}}<a class="item-create" title="{{localize "CPR.createnewitem"}}" data-item-type="criticalInjury"><i class="fas fa-plus-circle text-padding-right"></i></a>{{/if}}</span>
            </span>
        </li>
        <div class="critical-injury-content">
            {{!-- Critical Injury as Item --}}
            <ol class="items-list critical-injury-list">
              {{#each (sort actor.filteredItems.criticalInjury "name") as |criticalInjury| }}
              <li class="flex-space-between item flexrow" data-item-id="{{criticalInjury._id}}" data-item-category="{{criticalInjury.type}}" draggable="true">
                <div><a class="name item-edit text-nowrap {{#if criticalInjury.data.deathSaveIncrease}}text-bold{{/if}}" title="{{criticalInjury.name}}&#13Click to view the item&#13Ctrl-Click to send to chat">{{criticalInjury.name}} {{#if (compare criticalInjury.data.location "===" "body")}}<i class="fas fa-user-injured text-padding-left"></i>{{/if}}{{#if (compare criticalInjury.data.location "===" "head")}}<i class="fas fa-tired text-padding-left"></i>{{/if}}</a></div>
                <div class="item-detail gear-actions text-nowrap">
                  <a class="item-action" data-action-type="delete"><i class="fas fa-trash-alt fg-red text-float-right text-padding-right" title="Delete Item"></i></a>
                </div>
              </li>
              {{/each}}
            </ol>
        </div>
    </div>
    <div class="armor-section">
        <li class="items-header flexrow">
            <span class="item-name section-name fg-white bg-black text-nowrap text-padding-left">
                {{localize "CPR.armor"}}
            </span>
        </li>
        <div class="armor-content">
            <ol class="items-list fight-armor-list">
                {{#each (sort actor.filteredItems.armor "name") as |armor| }}
                {{#if (compare armor.data.equipped "===" "equipped")}}
                <li class="item armor-piece" >
                    <li class="flex-space-between item flexrow" data-item-id="{{armor._id}}" >
                        <div class="item-name armor-name text-nowrap"><a class="name item-edit">{{armor.name}}</a>
                        </div>

                    </li>
                    {{#if armor.data.isHeadLocation}}
                    <li class="flex-space-between">
                        <div class="text-padding-left">{{localize "CPR.head"}}</div>
                        <div>
                            {{#if (compare armor.data.headLocation.ablation ">" 0)}}
                                <span class="fg-red">
                            {{/if}}
                            {{math "subtract" armor.data.headLocation.sp armor.data.headLocation.ablation}}
                            {{#if (compare armor.data.headLocation.ablation ">" 0)}}
                                </span>
                            {{/if}}
                            /{{armor.data.headLocation.sp}}
                            <a class="ablate" data-location="head"><i
                                    class="far fa-arrow-alt-circle-down" title="Ablate Armor"></i></a>
                        </div>
                    </li>
                    {{/if}}
                    {{#if armor.data.isBodyLocation}}
                    <li class="flex-space-between">
                        <div> {{localize "CPR.bodylocation"}}</div>
                        <div>
                            {{#if (compare armor.data.bodyLocation.ablation ">" 0)}}
                                <span class="fg-red">
                            {{/if}}
                                {{math "subtract" armor.data.bodyLocation.sp armor.data.bodyLocation.ablation}}
                            {{#if (compare armor.data.bodyLocation.ablation ">" 0)}}
                                </span>
                            {{/if}}
                            /{{armor.data.bodyLocation.sp}}
                                                        <a class="ablate" data-location="body"><i
                                    class="far fa-arrow-alt-circle-down" title="Ablate Armor"></i></a>

                        </div>
                    </li>
                    {{/if}}
                    {{#if armor.data.isShield}}
                    <li class="flex-space-between">
                        <div> {{localize "CPR.shield"}}</div>
                        <div>
                            {{#if (compare armor.data.shieldHitPoints.value "<" armor.data.shieldHitPoints.max)}}
                                <span class="fg-red">
                            {{/if}}
                                {{armor.data.shieldHitPoints.value}}
                            {{#if (compare armor.data.shieldHitPoints.value "<" armor.data.shieldHitPoints.max)}}
                                </span>
                            {{/if}}
                            /{{armor.data.shieldHitPoints.max}}
                                                        <a class="ablate" data-location="shield"><i
                                    class="far fa-arrow-alt-circle-down" title="Damage Shield"></i></a>

                        </div>
                    </li>
                    {{/if}}
                    </li>
                {{/if}}
                {{/each}}
            </ol>
        </div>
    </div>
    <div class="weapon-section">
        <li class="items-header flexrow">
            <span class="item-name section-name fg-white bg-black text-nowrap text-padding-left">
                {{localize "CPR.weapons"}}
            </span>
        </li>
        <div class="weapon-content">
            <ol class="items-list weapons-grid">
                {{#each (sort actor.filteredItems.weapon "name") as |weapon|}}
                {{#if (compare weapon.data.equipped "===" "equipped")}}
                <li class="weapon-grid item flexrow" data-item-id="{{weapon._id}}">
                    <div class="fight-weapon-icon">
                        <img src="{{img}}"/>
                    </div>
                    <div class="fight-weapon">
                        <div class="item-name fight-weapon-name">
                            <a class="name item-edit" title="{{weapon.name}}&#13Click to view the item&#13Ctrl-Click to send to chat">{{weapon.name}}</a>
                            {{#if (compare weapon.data.quality "!==" "standard")}}
                            ({{localize weapon.data.quality}})
                            {{/if}}
                            {{#if (compare weapon.data.attackmod ">" "0")}}(+{{weapon.data.attackmod}}){{/if}}
                            {{#if (compare weapon.data.attackmod "<" "0")}}({{weapon.data.attackmod}}){{/if}}
                            {{#if weapon.data.magazine.ammoId}}
                                <br>
                                ({{localize "CPR.ammo"}}: {{weapon.data.magazine.value}}/{{weapon.data.magazine.max}})
                            {{/if}}
                        </div>
                        <div class="fight-weapon-actions text-nowrap">
                            {{#if weapon.data.isRanged}}
                            {{> "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-reload-glyph.hbs"}}
                            {{>"systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-dv-glyph.hbs"}}
                            {{/if}}
                        </div>
                    </div>
                    <div class="fight-weapon-firetype">
                        <div class="fight-weapon-aim">
                            {{localize "CPR.aim"}}
                        </div>
                        <div class="fight-weapon-aim-box">
                            <input class="fire-checkbox" type="checkbox" {{fireflag ../actor "aimed" weapon._id}} id="aimed-{{weapon._id}}"
                                data-target="aimed" data-item-id={{weapon._id}}>
                        </div>
                        {{#if (listContains "assaultRifle,smg,heavySmg" weapon.data.weaponType)}}
                        <div class="fight-weapon-auto">
                            {{localize "CPR.af"}}
                        </div>
                        <div class="fight-weapon-suppress">
                            {{localize "CPR.sf"}}
                        </div>
                        <div class="fight-weapon-auto-box">
                            <input class="fire-checkbox" type="checkbox" {{fireflag ../actor "autofire" weapon._id}} id="autofire-{{weapon._id}}"
                                data-target="autofire" data-item-id={{weapon._id}}>
                        </div>
                        <div class="fight-weapon-suppress-box">
                            <input class="fire-checkbox" type="checkbox" {{fireflag ../actor "suppressive" weapon._id}} id="suppressive-{{weapon._id}}"
                                data-target="suppressive" data-item-id={{weapon._id}}>
                        </div>
                        {{/if}}
                    </div>
                    <div class="item-detail text-largest fight-weapon-attack text-nowrap">
                        <a class="rollable" data-roll-type="attack" data-item-id={{weapon._id}}>
                            <i class="fas fa-fist-raised red-fg" title="Roll an Attack"></i>
                        </a>
                        {{#if (compare (fireflag ../actor "suppressive" weapon._id) "!==" "checked")}}
                        <a class="rollable damage-roll-{{weapon._id}}" data-roll-type="damage" data-item-id={{weapon._id}} data-damage="{{weapon.data.damage}}">
                            <i class="fas fa-tint red-fg" title="Roll Damage"></i>
                        </a>
                        {{/if}}
                    </div>
                </li>
                {{/if}}
                {{/each}}
            </ol>
        </div>
    </div>
</div>
{{trace "END CPR-FIGHT.HBS"}}
