<div class="lifepath-tab">
    <div class="notes-section">
        <div class="notes-details">
            <div class="text-large text-bold">{{localize "CPR.playernotes"}}</div>
            <div class="note-pad">
            {{editor content=data.information.notes target="data.information.notes" button=true owner=owner editable=editable}}
            </div>
        </div>
    </div>
    <div class="lifepath-section">
        <div class="cultural-origins">
            <div class="lifepath-label text-large text-underline text-bold">
                {{localize "CPR.culturalorigins"}}
                <span class="text-float-right"><a class="set-lifepath" data-item-prop="set-lifepath"><i
                            class="text-smaller text-super fas fa-wrench"></i></a></span>
            </div>
            <div class="lifepath-value">{{data.lifepath.culturalOrigin}}</div>
        </div>
        <br>
        <div class="personality">
            <div class="lifepath-label text-large text-underline text-bold">{{localize "CPR.personality"}}</div>
            <div class="lifepath-value">{{data.lifepath.personality}}</div>
        </div>
        <br>
        <div class="clothing-style">
            <div class="lifepath-label text-large text-underline text-bold">{{localize "CPR.clothingstyle"}}</div>
            <div class="lifepath-value">{{data.lifepath.clothingStyle}}</div>
        </div>
        <br>
        <div class="hairstyle">
            <div class="lifepath-label text-large text-underline text-bold">{{localize "CPR.hairstyle"}}</div>
            <div class="lifepath-value">{{data.lifepath.hairStyle}}</div>
        </div>
        <br>
        <div class="value-most">
            <div class="lifepath-label text-large text-underline text-bold">{{localize "CPR.valuemost"}}</div>
            <div class="lifepath-value">{{data.lifepath.valueMost}}</div>
        </div>
        <br>
        <div class="people-feelings">
            <div class="lifepath-label text-large text-underline text-bold">{{localize "CPR.peoplefeelings"}}</div>
            <div class="lifepath-value">{{data.lifepath.aboutPeople}}</div>
        </div>
        <br>
        <div class="valued-person">
            <div class="lifepath-label text-large text-underline text-bold">{{localize "CPR.valuedperson"}}</div>
            <div class="lifepath-value">{{data.lifepath.valuedPerson}}</div>
        </div>
        <br>
        <div class="valued-possession">
            <div class="lifepath-label text-large text-underline text-bold">{{localize "CPR.valuedpossession"}}</div>
            <div class="lifepath-value">{{data.lifepath.valuedPossession}}</div>
        </div>
        <br>
        <div class="family-background">
            <div class="lifepath-label text-large text-underline text-bold">{{localize "CPR.familybackground"}}</div>
            <div class="lifepath-value">{{data.lifepath.familyBackgrond}}</div>
        </div>
        <br>
        <div class="child-environment">
            <div class="lifepath-label text-large text-underline text-bold">{{localize "CPR.childhoodenvironment"}}
            </div>
            <div class="lifepath-value">{{data.lifepath.childhoodEnvironment}}</div>
        </div>
        <br>
        <div class="life-goals">
            <div class="lifepath-label text-large text-underline text-bold">{{localize "CPR.lifegoals"}}</div>
            <div class="lifepath-value">{{data.lifepath.lifeGoals}}</div>
        </div>
        <br>
        <div class="family-crisis">
            <div class="lifepath-label text-large text-underline text-bold">{{localize "CPR.familycrisis"}}</div>
            <div class="lifepath-value">{{data.lifepath.familyCrisis}}</div>
        </div>
    </div>
</div>