<div class="fight-tab">
    <div class="injuries-section">
        <li class="items-header flexrow">
            <span class="item-name section-name fg-white bg-black text-nowrap text-padding-left">
                {{localize "CPR.critinjuries"}}
            </span>
        </li>
        <div class="injuries-content">

        </div>
    </div>
    <div class="armor-section">
        <li class="items-header flexrow">
            <span class="item-name section-name fg-white bg-black text-nowrap text-padding-left">
                {{localize "CPR.armor"}}
            </span>
        </li>
        <div class="armor-content">
            <ol class="items-list fight-armor-list">
                {{#each (sort actor.filteredItems.armor "name") as |armor| }}
                {{#if (compare armor.data.equipped "===" "equipped")}}
                <li class="item armor-piece" >
                    <li class="flex-space-between item" data-item-id="{{armor._id}}" >
                        <div class="item-name armor-name flexrow text-nowrap"><a class="name item-edit">{{armor.name}}</a>
                        </div>
                        
                    </li>
                    {{#if armor.data.isHeadLocation}}
                    <li class="flex-space-between">
                        <div class="text-padding-left">{{localize "CPR.head"}}</div>
                        <div>
                            {{#if (compare armor.data.headLocation.ablation ">" 0)}}
                                <span class="fg-red">
                            {{/if}}
                            {{math "subtract" armor.data.headLocation.sp armor.data.headLocation.ablation}}
                            {{#if (compare armor.data.headLocation.ablation ">" 0)}}
                                </span>
                            {{/if}}
                            /{{armor.data.headLocation.sp}}
                            <a class="ablate" data-location="head"><i
                                    class="far fa-arrow-alt-circle-down" title="Ablate Armor"></i></a>
                        </div>
                    </li>
                    {{/if}}
                    {{#if armor.data.isBodyLocation}}
                    <li class="flex-space-between">
                        <div> {{localize "CPR.bodylocation"}}</div>
                        <div>
                            {{#if (compare armor.data.bodyLocation.ablation ">" 0)}}
                                <span class="fg-red">
                            {{/if}}
                                {{math "subtract" armor.data.bodyLocation.sp armor.data.bodyLocation.ablation}}
                            {{#if (compare armor.data.bodyLocation.ablation ">" 0)}}
                                </span>
                            {{/if}}
                            /{{armor.data.bodyLocation.sp}}
                                                        <a class="ablate" data-location="body"><i
                                    class="far fa-arrow-alt-circle-down" title="Ablate Armor"></i></a>

                        </div>
                    </li>
                    {{/if}}
                    </li>
                {{/if}}
                {{/each}}
            </ol>
        </div>
    </div>
    <div class="weapon-section">
        <li class="items-header flexrow">
            <span class="item-name section-name fg-white bg-black text-nowrap text-padding-left">
                {{localize "CPR.weapons"}}
            </span>
        </li>
        <div class="weapon-content">
            <ol class="items-list fight-weapons-list">
                {{#each (sort actor.filteredItems.weapon "name") as |weapon|}}
                {{#if (compare weapon.data.equipped "===" "equipped")}}
                <li class="item flexrow" data-item-id="{{weapon._id}}" draggable="true">
                    <div class="item-name weapon-name flexrow">
                        <a class="name item-edit">{{weapon.name}}</a>
                        {{#if (compare weapon.data.quality "!==" "standard")}}
                        ({{localize weapon.data.quality}})
                        {{/if}}
                    </div>
                    <div class="item-detail weapon-ranged-data text-nowrap">
                        {{#if weapon.data.isRanged}}{{weapon.data.magazine.value}}/{{weapon.data.magazine.max}}{{/if}}
                    </div>
                    <div class="item-detail weapon-rof text-nowrap">
                        {{localize "CPR.rof"}} {{weapon.data.rof}}
                    </div>
                    <div class="item-detail weapon-alt-modes text-nowrap">
                        {{weapon.data.altFireModes}}
                    </div>
                    <div class="item-detail weapon-reload text-nowrap">
                        {{#if weapon.data.isRanged}}
                        {{>
                        "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-reload-glyph.hbs"}}
                        {{/if}}
                    </div>
                    <div class="item-detail weapon-attack text-nowrap">
                        <a class="rollable smallest-text" data-roll-type="attack" data-aimed="false"
                            data-item-id={{weapon._id}}>
                            <i class="fas fa-fist-raised red-fg" title="Standard Attack"></i>
                        </a>
                    </div>
                    <div class="item-detail weapon-attack text-nowrap">
                        <a class="rollable" data-roll-type="attack" data-aimed="true" data-item-id={{weapon._id}}>
                            <i class="fas fa-crosshairs red-fg" title="Aimed Attack"></i>
                        </a>
                    </div>
                    <div class="item-detail weapon-damage text-nowrap">
                        <a class="rollable" data-damage="{{weapon.data.damage}}" data-roll-type="damage"
                            data-item-id={{weapon._id}}>
                            <i class="fas fa-tint red-fg" title="Damage"></i>
                        </a>
                    </div>
                </li>
                {{/if}}
                {{/each}}
            </ol>
        </div>
    </div>
</div>