{{trace "CPR-FIGHT.HBS"}}
<div class="fight-tab">
    <div class="injuries-section">
        <li class="items-header flexrow">
            <span class="item-name section-name fg-white bg-black text-nowrap text-padding-left">
                {{localize "CPR.critinjuries"}}
                <span class="item-detail gear-actions bg-black text-nowrap text-float-right text-padding-right"><a class="roll-critical-injury" title="{{localize "CPR.criticalinjuryroll"}}" data-item-type="criticalInjury"><i class="fas fa-dice text-padding-right"></i></a></span>
                <span class="item-detail gear-actions bg-black text-nowrap text-float-right text-padding-right">{{#if (systemConfig "playersCreateInventory")}}<a class="item-create" title="{{localize "CPR.createnewitem"}}" data-item-type="criticalInjury"><i class="fas fa-plus-circle text-padding-right"></i></a>{{/if}}</span>
            </span>
        </li>
        <div class="critical-injury-content">
            {{!-- Critical Injury as Item --}}
            <ol class="items-list critical-injury-list">
              {{#each (sort actor.data.filteredItems.criticalInjury "name") as |criticalInjury| }}
              <li class="flex-space-between item flexrow" data-item-id="{{criticalInjury.id}}" data-item-category="{{criticalInjury.type}}" draggable="true">
                <div><a class="name item-edit text-nowrap {{#if criticalInjury.data.data.deathSaveIncrease}}text-bold{{/if}}" title="{{criticalInjury.name}}&#13Click to view the item&#13Ctrl-Click to send to chat">{{criticalInjury.name}} {{#if (compare criticalInjury.data.data.location "===" "body")}}<i class="fas fa-user-injured text-padding-left"></i>{{/if}}{{#if (compare criticalInjury.data.data.location "===" "head")}}<i class="fas fa-tired text-padding-left"></i>{{/if}}</a></div>
                <div class="item-detail gear-actions text-nowrap">
                  <a class="item-action" data-action-type="delete"><i class="fas fa-trash-alt fg-red text-float-right text-padding-right" title="Delete Item"></i></a>
                </div>
              </li>
              {{/each}}
            </ol>
        </div>
    </div>
    <div class="armor-section">
        <li class="items-header flexrow">
            <span class="item-name section-name fg-white bg-black text-nowrap text-padding-left">
                {{localize "CPR.armor"}}
            </span>
        </li>
        <div class="armor-content">
            <ol class="items-list fight-armor-list">
                {{#each (sort actor.data.filteredItems.armor "name") as |armor| }}
                {{trace armor}}
                {{#if (compare armor.data.data.equipped "===" "equipped")}}
                <li class="item armor-piece" >
                    <li class="flex-space-between item flexrow" data-item-id="{{armor.id}}" >
                        <div class="item-name armor-name text-nowrap"><a class="name item-edit">{{armor.name}}</a>
                        </div>

                    </li>
                    {{#if armor.data.data.isHeadLocation}}
                    <li class="flex-space-between">
                        <div class="text-padding-left">{{localize "CPR.head"}}</div>
                        <div>
                            {{#if (compare armor.data.data.headLocation.ablation ">" 0)}}
                                <span class="fg-red">
                            {{/if}}
                            {{math "subtract" armor.data.data.headLocation.sp armor.data.data.headLocation.ablation}}
                            {{#if (compare armor.data.data.headLocation.ablation ">" 0)}}
                                </span>
                            {{/if}}
                            /{{armor.data.data.headLocation.sp}}
                            <a class="ablate" data-location="head"><i
                                    class="far fa-arrow-alt-circle-down" title="{{localize "CPR.ablatearmor"}}"></i></a> {{#if (compare armor.id "===" ../actor.data.data.externalData.currentArmorHead.id)}}<a class="armor-current" data-location="head" data-item-id="{{armor.id}}">
                                    <i class="fas fa-star" title="{{localize "CPR.resyncheadarmor"}}"></i></a>{{else}}<a class="armor-current" data-location="head" data-item-id="{{armor.id}}"><i
                                    class="far fa-star" title="{{localize "CPR.makeheadarmoractive"}}"></i></a>{{/if}}
                        </div>
                    </li>
                    {{/if}}
                    {{#if armor.data.data.isBodyLocation}}
                    <li class="flex-space-between">
                        <div> {{localize "CPR.bodylocation"}}</div>
                        <div>
                            {{#if (compare armor.data.data.bodyLocation.ablation ">" 0)}}
                                <span class="fg-red">
                            {{/if}}
                                {{math "subtract" armor.data.data.bodyLocation.sp armor.data.data.bodyLocation.ablation}}
                            {{#if (compare armor.data.data.bodyLocation.ablation ">" 0)}}
                                </span>
                            {{/if}}
                            /{{armor.data.data.bodyLocation.sp}}
                                                        <a class="ablate" data-location="body"><i
                                    class="far fa-arrow-alt-circle-down" title="{{localize "CPR.ablatearmor"}}"></i></a> {{#if (compare armor.id "===" ../actor.data.data.externalData.currentArmorBody.id)}}<a class="armor-current" data-location="body" data-item-id="{{armor.id}}">
                                    <i class="fas fa-star" title="{{localize "CPR.resyncbodyarmor"}}"></i></a>{{else}}<a class="armor-current" data-location="body" data-item-id="{{armor.id}}"><i
                                    class="far fa-star" title="{{localize "CPR.makebodyarmoractive"}}"></i></a>{{/if}}

                        </div>
                    </li>
                    {{/if}}
                    {{#if armor.data.data.isShield}}
                    <li class="flex-space-between">
                        <div> {{localize "CPR.shield"}}</div>
                        <div>
                            {{#if (compare armor.data.data.shieldHitPoints.value "<" armor.data.data.shieldHitPoints.max)}}
                                <span class="fg-red">
                            {{/if}}
                                {{armor.data.data.shieldHitPoints.value}}
                            {{#if (compare armor.data.data.shieldHitPoints.value "<" armor.data.data.shieldHitPoints.max)}}
                                </span>
                            {{/if}}
                            /{{armor.data.data.shieldHitPoints.max}}
                                                        <a class="ablate" data-location="shield"><i
                                    class="far fa-arrow-alt-circle-down" title="{{localize "CPR.damageshield"}}"></i></a> {{#if (compare armor.id "===" ../actor.data.data.externalData.currentArmorShield.id)}}<a class="armor-current" data-location="shield" data-item-id="{{armor.id}}">
                                    <i class="fas fa-star" title="{{localize "CPR.resyncshield"}}"></i></a>{{else}}<a class="armor-current" data-location="shield" data-item-id="{{armor.id}}"><i
                                    class="far fa-star" title="{{localize "CPR.makeshieldactive"}}"></i></a>{{/if}}
                        </div>
                    </li>
                    {{/if}}
                    </li>
                {{/if}}
                {{/each}}
            </ol>
        </div>
    </div>
    <div class="weapon-section">
        <li class="items-header flexrow">
            <span class="item-name section-name fg-white bg-black text-nowrap text-padding-left">
                {{localize "CPR.weapons"}}
            </span>
        </li>
        <div class="weapon-content">
            <ol class="items-list weapons-grid">
                {{#each (sort actor.data.filteredItems.weapon "name") as |weapon|}}
                {{#if (compare weapon.data.data.equipped "===" "equipped")}}
                <li class="weapon-grid item flexrow" data-item-id="{{weapon.id}}">
                    <div class="fight-weapon-icon">
                        <img class="fight-weapon-icon-img" src="{{img}}"/>
                    </div>
                    <div class="fight-weapon">
                        <div class="item-name fight-weapon-name">
                            <a class="name item-edit" title="{{weapon.name}}&#13Click to view the item&#13Ctrl-Click to send to chat">{{weapon.name}}</a>
                            {{#if (compare weapon.data.data.quality "!==" "standard")}}
                            ({{localize weapon.data.data.quality}})
                            {{/if}}
                            {{#if (compare weapon.data.data.attackmod ">" "0")}}(+{{weapon.data.data.attackmod}}){{/if}}
                            {{#if (compare weapon.data.data.attackmod "<" "0")}}({{weapon.data.data.attackmod}}){{/if}}
                            {{#if weapon.data.data.magazine.ammoId}}
                                <br>
                                ({{localize "CPR.ammo"}}:<input name = "data.magazine.value" class = "number weapon-input" style = "width:30px;text-align:right;" type = "text" data-item-prop = "data.magazine.value" value = "{{weapon.data.data.magazine.value}}">/{{weapon.data.data.magazine.max}})
                            {{/if}}
                        </div>
                        <div class="fight-weapon-actions text-nowrap">
                            {{#if weapon.data.data.isRanged}}
                            {{> "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-reload-glyph.hbs"}}
                            {{>"systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-dv-glyph.hbs"}}
                            {{/if}}
                        </div>
                    </div>
                    <div class="fight-weapon-firetype">
                        <div class="fight-weapon-aim">
                            {{localize "CPR.aim"}}
                        </div>
                        <div class="fight-weapon-aim-box">
                            <a class="fire-checkbox" data-fire-mode="aimed" data-item-id="{{weapon.id}}">
                                {{#if (fireMode ../actor "aimed" weapon.id)}}
                                    <i class="far fa-check-circle"></i>
                                {{else}}
                                    <i class="far fa-circle"></i>
                                {{/if}}
                            </a>
                        </div>
                        {{#if weapon.data.data.isRanged}}
                            {{#if (compare (listContains "assaultRifle,smg,heavySmg" weapon.data.data.weaponType) "||" weapon.data.data.fireModes.suppressiveFire)}}
                            <div class="fight-weapon-auto">
                                {{localize "CPR.af"}}
                            </div>
                            <div class="fight-weapon-suppress">
                                {{localize "CPR.sf"}}
                            </div>
                            <div class="fight-weapon-auto-box">
                                <a class="fire-checkbox" data-fire-mode="autofire" data-item-id="{{weapon.id}}">
                                    {{#if (fireMode ../actor "autofire" weapon.id)}}
                                        <i class="far fa-check-circle"></i>
                                    {{else}}
                                        <i class="far fa-circle"></i>
                                    {{/if}}
                                </a>
                            </div>
                            <div class="fight-weapon-suppress-box">
                                <a class="fire-checkbox" data-fire-mode="suppressive" data-item-id="{{weapon.id}}">
                                    {{#if (fireMode ../actor "suppressive" weapon.id)}}
                                        <i class="far fa-check-circle"></i>
                                    {{else}}
                                        <i class="far fa-circle"></i>
                                    {{/if}}
                                </a>
                            </div>
                            {{/if}}
                        {{/if}}
                    </div>
                    <div class="item-detail text-largest fight-weapon-attack text-nowrap">
                        <a class="rollable" data-roll-type="attack" data-item-id={{weapon.id}}>
                            <i class="fas fa-fist-raised red-fg" title="{{localize "CPR.rollanattack"}}"></i>
                        </a>
                        {{#if (compare (fireflag ../actor "suppressive" weapon.id) "!==" "checked")}}
                        <a class="rollable damage-roll-{{weapon.id}}" data-roll-type="damage" data-item-id={{weapon.id}} data-damage="{{weapon.data.data.damage}}">
                            <i class="fas fa-tint red-fg" title="{{localize "CPR.rolldamage"}}"></i>
                        </a>
                        {{/if}}
                    </div>
                </li>
                {{/if}}
                {{/each}}
            </ol>
        </div>
    </div>
</div>
{{trace "END CPR-FIGHT.HBS"}}
