{{cprTrace "START DIALOG CPR-MOD-MOOK-SKILL-PROMPT.HBS"}}
<form>
  <div class="mook-skills-list items-list">
    <li class="items-header flexrow">
      <span class="item-name skill-name bg-black text-nowrap text-padding-left">{{localize "CPR.mookSheet.skills.skill"}}</span>
      <span class="item-detail skill-base bg-black text-nowrap">{{localize "CPR.mookSheet.skills.base"}}</span>
      <span class="item-detail skill-level bg-black text-nowrap">{{localize "CPR.mookSheet.skills.level"}}</span>
      <span class="item-detail skill-mod-value bg-black text-nowrap">{{localize "CPR.mookSheet.skills.mod"}}</span>
    </li>
    <br>
    <ol class="items-list">
      {{#each skillList as |skill|}}
        <li class="item skill-name flexrow">
          <div class="item-name text-nowrap">
            {{skill.name}}
          </div>
          <div class="item-detail skill-base text-nowrap">
            +{{skill.stat}}
          </div>
          <div class="item-detail skill-level text-nowrap">
            <input class="number skill-input" name="{{skill.name}}" type="number" value="{{skill.level}}" />
          </div>
          <div class="item-detail skill-mod-value text-nowrap">
            {{!-- we only support mode 2 (add/subtract) for skills --}}
            {{cprEffectModMode 2 skill.mod}}
          </div>
        </li>
      {{/each}}
    </ol>
    <br>
  </div>
</form>
{{cprTrace "END CPR-MOD-MOOK-SKILL-PROMPT.HBS"}}

