{{log "CPR-MANAGE-ROLES.HBS"}}
<form>


  <ol class="items-list">
    {{#each roles as |cprRole roleName|}}
    <li class="item flexrow">
      <div class="item flexrow setting-name text-nowrap">
        {{localize cprRole}}
      </div>
      <div class="item flexrow setting-value text-nowrap item-end">
        {{#if (listContains ../actor.roles roleName)}}
        <input type="checkbox" name="selectedRoles" value="{{roleName}}" checked>
        {{else}}
        <input type="checkbox" name="selectedRoles" value="{{roleName}}">
        {{/if}}
      </div>
    </li>
    {{/each}}
  </ol>
  <div>{{localize "CPR.multiclassrequirement"}}</div>
</form>
{{log "CPR-SELECT-ROLES.HBS"}}