{{log "VERIFY-ROLL-GENERIC-PROMPT.HBS"}}
<form action="">
    <div class="dynamic-list columns">
        <div class="row flex-end skill item black-fg white-bg">
            <div class="section width-half">
                {{localize "CPR.roll"}} {{localize "CPR.title"}}
            </div>
            <div class="section width-half">
                <input name="rollTitle" class="" type="text" data-dtype="Text" value={{rollTitle}}>
            </div>
        </div>
        <div class="row flex-end skill item black-fg white-bg">
            <div class="section width-half">
                {{localize "CPR.roll"}} {{localize "CPR.type"}}
            </div>
            <div class="section width-half">
                <input name="rollType" class="" type="text" data-dtype="Text" value={{rollType}}>
            </div>
        </div>

        <div class="row flex-end skill item black-fg white-bg">
            <div class="section width-half">
                {{localize "CPR.stat"}} {{localize "CPR.value"}} ({{localize stat}})
            </div>
            <div class="section width-half">
                <input name="statValue" class="" type="number" data-dtype="Number" value={{statValue}}>
            </div>
        </div>

        <div class="row flex-end skill item black-fg white-bg">
            <div class="section width-half">
                {{localize "CPR.skill"}} {{localize "CPR.value"}}
            </div>
            <div class="section width-half">
                <input name="skillValue" class="" type="number" data-dtype="Number" value={{skillValue}}>
            </div>
        </div>

        <div class="row flex-end skill item black-fg white-bg">
            <div class="section width-half">
                {{localize "CPR.mods"}}
            </div>
            <div class="section width-half">
                <input name="mods" class="" type="text" data-dtype="Text" value={{mods}}>
            </div>
        </div>

        <div class="row flex-end skill item black-fg white-bg">
            <div class="section width-half">
                {{localize "CPR.shouldrollcriticals"}}
            </div>
            <div class="section width-half">
                <input name="calculateCritical" class="" type="checkbox" data-dtype="Checkbox" checked>
            </div>
        </div>
    </div>
</form>
{{log "END VERIFY-ROLL-GENERIC-PROMPT.HBS"}}