{{log "LOAD-WEAPON.HBS"}}
<form action="">
    {{localize "CPR.selectammotoloadinto"}} {{this.weapon.data.name}}:
    {{#each this.ammoList as |ammo|}}
    <input type="radio" name="selectedAmmo" value="{{ammo.data._id}}" id=="{{ammo.data._id}}">
    <label for="{{ammo.data._id}}">{{ammo.data.name}} ({{localize (findConfigValue "ammoType" ammo.data.data.type)}})</label>
    {{/each}}
</form>
{{log "END LOAD-WEAPON.HBS"}}