{{cprTrace "CPR-NETARCH-ROLLTABLE-GENERATION-PROMPT.HBS"}}
<form>
  <div class="text-bold">{{localize "CPR.dialog.netArchitectureRolltableSelection.question"}}</div>
  <select name="difficulty">
    <option value="Basic" selected="selected">{{localize "CPR.dialog.netArchitectureRolltableSelection.basic"}}</option>
    <option value="Standard">{{localize "CPR.dialog.netArchitectureRolltableSelection.standard"}}</option>
    <option value="Uncommon">{{localize "CPR.dialog.netArchitectureRolltableSelection.uncommon"}}</option>
    <option value="Advanced">{{localize "CPR.dialog.netArchitectureRolltableSelection.advanced"}}</option>
  </select>
</form>
{{cprTrace "END CPR-NETARCH-ROLLTABLE-GENERATION-PROMPT.HBS"}}
