{{log "VERIFY-ROLL-ATTACK-PROMPT.HBS"}}
<form action="">
    <div>
        {{localize "CPR.rollingfor"}} "{{rollTitle}}", Choombah!
    </div>
    <div class="dynamic-list columns">
        <div class="row flex-end skill item black-fg white-bg">
            <div class="section width-half">
                {{localize "CPR.stat"}} {{localize "CPR.value"}} ({{localize stat}}):
            </div>
            <div class="section width-half">
                <input name="statValue" class="" type="number" data-dtype="Number" value={{statValue}}>
            </div>
        </div>

        <div class="row flex-end skill item black-fg white-bg">
            <div class="section width-half">
                {{localize "CPR.skill"}} {{localize "CPR.value"}} ({{skill}}):
            </div>
            <div class="section width-half">
                <input name="skillValue" class="" type="number" data-dtype="Number" value={{skillValue}}>
            </div>
        </div>

        <div class="row flex-end skill item black-fg white-bg">
            <div class="section width-half">
                {{localize "CPR.mods"}}:
            </div>
            <div class="section width-half">
                <input name="mods" class="" type="text" data-dtype="Text" value={{mods}}>
            </div>
        </div>

        <div class="row flex-end skill item black-fg white-bg">
            <div class="section width-half">
                {{localize "CPR.shouldrollcriticals"}}:
            </div>
            <div class="section width-half">
                <input name="calculateCritical" class="" type="checkbox" data-dtype="Checkbox" checked>
            </div>
        </div>
    </div>
</form>
{{log "END VERIFY-ROLL-ATTACK-PROMPT.HBS"}}