{{log "VERIFY-BASE-ROLL-PROMPT.HBS"}}
<form action="">
    {{log this}}
    <div>
        {{localize "CPR.roll"}} {{localize "CPR.type"}}: <input name="rollType" class="" type="text" data-dtype="Text" value={{rollType}}>
    </div>
    <div>
        {{localize "CPR.roll"}} {{localize "CPR.title"}}: <input name="rollTitle" class="" type="text" data-dtype="Text" value="{{rollTitle}}">
    </div>
    <div>
        {{localize "CPR.stat"}} {{localize "CPR.value"}}: <input name="statValue" class="" type="number" data-dtype="Number" value={{statValue}}>
    </div>
    <div>
        {{localize "CPR.skill"}} {{localize "CPR.value"}}: <input name="skillValue" class="" type="number" data-dtype="Number" value={{skillValue}}>
    </div>
    <div>
        {{localize "CPR.role"}} {{localize "CPR.value"}}: <input name="roleValue" class="" type="number" data-dtype="Number" value={{roleValue}}>
    </div>
    <div>
        {{localize "CPR.mods"}}: <input name="mods" class="" type="text" data-dtype="Text" value={{mods}}>
    </div>
    <div>
        {{localize "CPR.shouldrollcriticals"}}: <input name="calculateCritical" class="" type="checkbox" data-dtype="Checkbox" checked>
    </div>
</form>
{{log "END VERIFY-BASE-ROLL-PROMPT.HBS"}}