{{log "CPR-CRITICAL-INJURY.HBS"}}
<form>
  <ol class="items-list">
    <li class="item flexrow">
      <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.location"}}:
      </div>
      <div class="item flexrow setting-value text-nowrap item-end">
        <select name="injuryLocation">
          <option {{#if (compare location "===" "body")}}selected{{/if}} value="body">{{localize "CPR.bodylocation"}}</option>
          <option {{#if (compare location "===" "head")}}selected{{/if}} value="head">{{localize "CPR.head"}}</option>
        </select>
      </div>
    </li>

    <li class="item flexrow">
      <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.name"}}:
      </div>
      <div class="item flexrow setting-value text-nowrap item-end">
        <input class="" name="injuryName" type="text" value="{{name}}" placeholder="" />
      </div>
    </li>

    <li class="item flexrow">
      <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.effects"}}:
      </div>
      <div class="item flexrow setting-value text-nowrap item-end">
        <textarea class="" name="injuryEffects">{{effect}}</textarea>
      </div>
    </li>

    <li class="item flexrow">
      <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.quickfix"}}:
      </div>
      <div class="item flexrow setting-value text-nowrap item-end">
        <input class="" name="injuryQuickFix" type="text" value="{{quickfix}}" placeholder="" />
      </div>
    </li>

    <li class="item flexrow">
      <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.treatment"}}:
      </div>
      <div class="item flexrow setting-value text-nowrap item-end">
        <input class="" name="injuryTreatment" type="text" value="{{treatment}}" placeholder="" />
      </div>
    </li>

    <li class="item flexrow">
      <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.criticalinjurydeathsave"}}:
      </div>
      <div class="item flexrow setting-value text-nowrap item-end">
        <input type="checkbox" name="deathSave" value="hasPenalty" {{#if (getProp (findObj mods "name" "deathSavePenalty" ) "value")}}checked{{/if}}>
      </div>
    </li>
  </ol>
</form>
{{log "CPR-CRITICAL-INJURY.HBS"}}