{{cprTrace "CPR-CONFIGURE-BI-ACTOR-FROM-PROGRAM-PROMPT.HBS"}}
<form>
  <div>
    <ol class="items-list">
      <li class="item flexrow">
        <div class="item flexrow">
          <select name="programId">
            <option value = "unlink">{{localize "CPR.dialog.configureBlackIceActorFromProgram.unlinkBlackIceFromProgram"}}</option>
            {{#each biProgramList as |program|}}
              <option value="{{program.data._id}}">{{#if (cprCompare program.data._id "===" linkedProgramId)}}* {{/if}}{{program.data.name}}</option>
            {{/each}}
          </select>
        </div>
      </li>
    </ol>
  </div>
</form>
{{cprTrace "END CPR-CONFIGURE-BI-ACTOR-FROM-PROGRAM-PROMPT.HBS"}}

