{{trace "CPR-LEDGER-FORM.HBS"}}
<form>
  <div class="text-normal">{{localize "CPR.dialog.ledgerForm.type"}}: {{localize ledgername}}</div>
  <li class="ledger-grid items-header flexrow">
    <span class="item-name ledger-number fg-white bg-black text-nowrap text-padding-left">{{localize "CPR.dialog.ledgerForm.number"}}</span>
    <span class="item-name ledger-transaction fg-white bg-black text-nowrap text-padding-left">{{localize "CPR.dialog.ledgerForm.transaction"}}</span>
    <span class="item-name ledger-reason fg-white bg-black text-nowrap text-padding-left">{{localize "CPR.dialog.ledgerForm.reason"}}</span>
  </li>
  <div class="ledger-content-scroll">
    <div class="ledger-list">
      <ol class="items-list">
      {{#each (reverse contents) as |content c|}}
        <li class="ledger-grid item flexrow">
          <div class="ledger-number">
            {{math "subtract" ../contents.length @index}}
          </div>
          <div class="ledger-transaction">
            {{content.[0]}}
          </div>
          <div class="ledger-reason">
            {{content.[1]}}
          </div>
        </li>
      {{/each}}
      </ol>
    </div>
  </div>
</form>
{{trace "END CPR-LEDGER-FORM.HBS"}}
