{{log "CPR-ROLL-CRITICAL-INJURY-PROMPT.HBS"}}
<form>
  <div class="cpr-hud-icon roll-critical-injury-config">
    <div>{{localize "CPR.criticalinjuryselect"}}</div>
    <div>
      <select name="criticalInjuryTable">
        {{#each this as |rollTableName|}}
        <option value="{{rollTableName}}">{{rollTableName}}</option>
        {{/each}}
      </select>
    </div>
  </div>
</form>
{{log "END CPR-ROLL-CRITICAL-INJURY-PROMPT.HBS"}}
