{{log "VERIFY-ROLL-PROMPT.HBS"}}
<form action="">
    {{#ifEquals rollType "damage"}}
    <div>
      <label for="autofire">Autofire?</label>
      <input type="checkbox" id="autofire" name="autofire">
    </div>
    {{else}}
    <div>
        Roll Type: <input name="rollType" class="" type="text" data-dtype="Text" value={{rollType}}>
    </div>
    <div>
        Roll Title: <input name="rollTitle" class="" type="text" data-dtype="Text" value={{rollTitle}} >
    </div>
    <div>
        Stat Value: <input name="statValue" class="" type="number" data-dtype="Number" value={{statValue}} >
    </div>
    <div>
        Skill Value: <input name="skillValue" class="" type="number" data-dtype="Number" value={{skillValue}} >
    </div>
    <div>
        Role Value: <input name="roleValue" class="" type="number" data-dtype="Number" value={{roleValue}}>
    </div>    
    <div>
        Mods: <input name="mods" class="" type="text" data-dtype="Text" value={{mods}}>
    </div>
    <div>
        Should Roll Criticals: <input name="calculateCritical" class="" type="number" data-dtype="Number" >
    </div>
    {{/ifEquals}}
</form>
{{log "END VERIFY-ROLL-PROMPT.HBS"}}