{{log "VERIFY-ROLL-PROMPT.HBS"}}
<form>
    <ol class="items-list">
        {{#if (listContains "assaultRifle,smg,heavySmg" weaponType)}}


        <li class="item flexrow">
            <div class="item flexrow setting-name text-nowrap">
                {{localize "CPR.autofire"}}?
            </div>
            <div class="item flexrow setting-value text-nowrap item-end">
                <input type="checkbox" id="autofire" name="autofire">
            </div>
        </li>
        <li class="item flexrow">
            <div class="item flexrow setting-name text-nowrap">
                {{localize "CPR.multiplier"}}:
            </div>
            <div class="item flexrow setting-value text-nowrap item-end">
                <input type="number" class="number" name="autofireMultiplier" data-dtype="Number" value={{multiplier}}
                    max="{{#if (compare weaponType "===" " assaultRifle")}}4{{else}}3{{/if}}" min="1">
            </div>
        </li>
        {{/if}}

        <li class="item flexrow">
            <div class="item flexrow setting-name text-nowrap">
                {{localize "CPR.final"}} {{localize "CPR.mods"}}:
            </div>
            <div class="item flexrow setting-value text-nowrap item-end">
                <input name="final-mods" type="number" data-dtype="Number">
            </div>
        </li>
    </ol>
</form>
{{log "END VERIFY-ROLL-PROMPT.HBS"}}