{{cprTrace "START DIALOG CPR-SET-LIFEPATH-PROMPT.HBS"}}
<form>
  <div class="cultural-origins">
    <div class="lifepath-label text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.culturalOrigins"}}</div>
    <textarea class="lifepath-data" name="system.lifepath.culturalOrigin">{{lifepath.culturalOrigin}}</textarea>
  </div>
  {{log lifepath}}

  <div class="languages">
    <div class="lifepath-label text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.languages"}}</div>
    <textarea class="lifepath-data" name="system.lifepath.languages">{{lifepath.languages}}</textarea>
  </div>

  <div class="personality">
    <div class="lifepath-label text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.personality"}}</div>
    <textarea class="lifepath-data" name="system.lifepath.personality">{{lifepath.personality}}</textarea>
  </div>

  <div class="clothing-style">
    <div class="lifepath-label text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.clothingStyle"}}</div>
    <textarea class="lifepath-data" name="system.lifepath.clothingStyle">{{lifepath.clothingStyle}}</textarea>
  </div>

  <div class="hairstyle">
    <div class="lifepath-label text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.hairStyle"}}</div>
    <textarea class="lifepath-data" name="system.lifepath.hairStyle">{{lifepath.hairStyle}}</textarea>
  </div>

  <div class="affectation">
    <div class="lifepath-label text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.affectation"}}</div>
    <textarea class="lifepath-data" name="system.lifepath.affectation">{{lifepath.affectation}}</textarea>
  </div>

  <div class="value-most">
    <div class="lifepath-label text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.valueMost"}}</div>
    <textarea class="lifepath-data" name="system.lifepath.valueMost">{{lifepath.valueMost}}</textarea>
  </div>

  <div class="people-feelings">
    <div class="lifepath-label text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.peopleFeelings"}}</div>
    <textarea class="lifepath-data" name="system.lifepath.aboutPeople">{{lifepath.aboutPeople}}</textarea>
  </div>

  <div class="valued-person">
    <div class="lifepath-label text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.valuedPerson"}}</div>
    <textarea class="lifepath-data" name="system.lifepath.valuedPerson">{{lifepath.valuedPerson}}</textarea>
  </div>

  <div class="valued-possession">
    <div class="lifepath-label text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.valuedPossession"}}</div>
    <textarea class="lifepath-data" name="system.lifepath.valuedPossession">{{lifepath.valuedPossession}}</textarea>
  </div>

  <div class="family-background">
    <div class="lifepath-label text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.familyBackground"}}</div>
    <textarea class="lifepath-data" name="system.lifepath.familyBackground">{{lifepath.familyBackground}}</textarea>
  </div>

  <div class="child-environment">
    <div class="lifepath-label text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.childhoodEnvironment"}}</div>
    <textarea class="lifepath-data"
      name="system.lifepath.childhoodEnvironment">{{lifepath.childhoodEnvironment}}</textarea>
  </div>

  <div class="family-crisis">
    <div class="lifepath-label text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.familyCrisis"}}</div>
    <textarea class="lifepath-data" name="system.lifepath.familyCrisis">{{lifepath.familyCrisis}}</textarea>
  </div>

  <div class="friends">
    <div class="lifepath-label text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.friends"}}</div>
    <textarea class="lifepath-data" name="system.lifepath.friends">{{lifepath.friends}}</textarea>
  </div>

  <div class="enemies">
    <div class="lifepath-label text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.enemies"}}</div>
    <textarea class="lifepath-data" name="system.lifepath.enemies">{{lifepath.enemies}}</textarea>
  </div>

  <div class="lovers">
    <div class="lifepath-label text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.lovers"}}</div>
    <textarea class="lifepath-data" name="system.lifepath.lovers">{{lifepath.lovers}}</textarea>
  </div>

  <div class="life-goals">
    <div class="lifepath-label text-bold">{{localize "CPR.characterSheet.bottomPane.lifepath.lifeGoals"}}</div>
    <textarea class="lifepath-data" name="system.lifepath.lifeGoals">{{lifepath.lifeGoals}}</textarea>
  </div>
</form>
{{cprTrace "END CPR-SET-LIFEPATH-PROMPT.HBS"}}
