{{log "INSTALL-CYBERWARE-PROMPT.HBS"}}
<form id="installCyberware">
    {{log this}}
    {{!-- Select HL --}}
        Humanity Loss:
        <select name="humanityLoss">
            <option selected value="{{item.data.humanityLoss.roll}}">Roll: {{item.data.humanityLoss.roll}}</option>
            <option value="{{item.data.humanityLoss.static}}">Static: {{item.data.humanityLoss.static}}</option>
        </select>
    </div>
    {{#unless item.data.isFoundational}}
    <div>
    {{!-- Select Foundational Cyberware --}}
        Foundational Cyberware:
        <select name="foundationalId">
            {{!-- ONLY DISPLAY CYBERWARE OF SAME TYPE AS OPTIONAL --}}
            {{#each cyberware as |cyberware c|}}
            <option value="{{cyberware._id}}">{{cyberware.name}}</option>
            {{/each}}
        </select>
    </div>
    {{/unless}}
</form>
{{log "END INSTALL-CYBERWARE-PROMPT.HBS"}}