{{trace "CPR-NETARCH-LEVEL-PROMPT.HBS"}}
<form>
  <div class="">
    <div class="text-bold">{{localize "CPR.netarch"}} {{localize "CPR.netarchfloorpromptlevel"}}</div>
    <input type="text" name="level" value="{{level}}">
  </div>
  <div class="">
    <div class="text-bold">{{localize "CPR.netarchfloordv"}}</div>
    <input type="text" name="dv" value="{{dv}}">
  </div>
  <div class="">
    <div class="text-bold">{{localize "CPR.netarchfloorpromptcontent"}}</div>
    <textarea class="" name="content">{{content}}</textarea>
  </div>
</form>
{{trace "CPR-NETARCH-LEVEL-PROMPT.HBS"}}
