{{log "VERIFY-ROLL-DAMAGE-PROMPT.HBS"}}
<form action="">
    <div>
        {{localize "CPR.tellthemtosayhello"}} "{{rollTitle}}", Choombah!
    </div>
    <div class="dynamic-list columns">
        {{#if (listContains "assaultRifle,smg,heavySmg" weaponType)}}
        <div class="row flex-end skill item black-fg white-bg">
            <div class="section width-quarter">
                {{localize "CPR.autofire"}}?
            </div>
            <div class="section width-quarter">
                <input type="checkbox" id="autofire" name="autofire">
            </div>
            <div class="section width-quarter">
                {{localize "CPR.multiplier"}}:
            </div>
            <div class="section width-quarter">
                <input type="number" class="number" name="autofireMultiplier" data-dtype="Number" value=1 max="{{#if (eq weaponType " assaultRifle")}}4{{else}}3{{/if}}" min="1">
            </div>
        </div>
        {{/if}}
        <div class="row flex-end skill item black-fg white-bg">
            <div class="section width-half">
                {{localize "CPR.mods"}}:
            </div>
            <div class="section width-half">
                <input name="final-mods" class="" type="number" data-dtype="Number" value={{final-mods}}>
            </div>
        </div>
</form>
{{log "END VERIFY-ROLL-DAMAGE-PROMPT.HBS"}}