{{log "VERIFY-ROLL-PROMPT.HBS"}}
<form action="">
    {{#contains weaponType "assaultRifle,smg,heavySmg"}}
    <div>
        <label for="autofire">{{localize "CPR.autofire"}}? </label>
        <input type="checkbox" id="autofire" name="autofire">
        <label for="autofireMultiplier"> {{localize "CPR.multiplier"}}: </label>
        {{!-- Ensure multiplier input is between 1 and either 3 or 4 depending on weapon type --}}
        <input type="number" class="number" name="autofireMultiplier" data-dtype="Number" value={{multiplier}} max="{{#if (eq weaponType " assaultRifle")}}4{{else}}3{{/if}}" min="1">
    </div>
    {{/contains}}
    <div>
        <label for="final-mods">{{localize "CPR.final"}} {{localize "CPR.mods"}}: </label>
        <input name="final-mods" type="number" data-dtype="Number">
    </div>
</form>
{{log "END VERIFY-ROLL-PROMPT.HBS"}}