{{trace "CPR-ROLE-ABILTIY-PROMPT.HBS"}}
<form>
  <ol class="items-list">
    <li class="item flexrow">
      <div class="item flexrow setting-name">
        <span class="text-bold text-nowrap">{{localize "CPR.RoleAbilityName"}}</span>
      </div>
      <div class="item flexrow setting-value text-nowrap item-end">
        <input class="text-right" name="name" type="text" value="{{name}}" />
      </div>
    </li>
    <li class="item flexrow">
      <div class="item flexrow setting-name">
        <span class="text-bold text-nowrap">{{localize "CPR.RoleAbilityRank"}}</span>
      </div>
      <div class="item flexrow setting-value text-nowrap item-end">
        <input class="text-right" name="rank" type="number" value={{rank}} />
      </div>
    </li>
    <li class="item flexrow">
      <div class="item flexrow setting-name">
        <span class="text-bold text-nowrap">{{localize "CPR.multiplier"}}</span>
      </div>
      <div class="item flexrow setting-value">
        <select name="multiplier">
          {{#select multiplier}}
            <option value = "--">{{localize CPR.na}}</option>
            {{#each multiplierOptions}}
              <option value="{{.}}">{{.}}</option>
            {{/each}}
          {{/select}}
        </select>
      </div>
    </li>
    <li class="item flexrow">
      <div class="item flexrow setting-name">
        <span class="text-bold text-nowrap">{{localize "CPR.Stat"}}</span>
      </div>
      <div class="item flexrow setting-value">
        <select name="stat">
          {{#select stat}}
          <optgroup label = "{{localize "CPR.specialOptions"}}">
            {{#each (findConfigObj "roleSpecialOptions") as |option o|}}
            {{#if (compare o "!==" "varying")}}
              <option value="{{o}}">{{localize option}}</option>
            {{/if}}
            {{/each}}
          </optgroup>
          <optgroup label = "{{localize "CPR.statList"}}">
            {{#each (findConfigObj "statList") as |stat s|}}
              <option value="{{s}}">{{localize stat}}</option>
            {{/each}}
          </optgroup>
          {{/select}}
        </select>
      </div>
    </li>
    <li class="item flexrow">
      <div class="item flexrow setting-name">
        <span class="text-bold text-nowrap">{{localize "CPR.Skill"}}</span>
      </div>
      <div class="item flexrow setting-value">
        <select name="skill">
          {{#select skill}}
          <optgroup label = "{{localize "CPR.specialOptions"}}">
            {{#each (findConfigObj "roleSpecialOptions") as |option o|}}
              <option value="{{o}}">{{localize option}}</option>
            {{/each}}
          </optgroup>
          <optgroup label = "{{localize "CPR.skillList"}}">
            {{#each (sort skillOptions "name") as |option o|}}
              <option value="{{option.data.name}}">{{option.data.name}}</option>
            {{/each}}
          </optgroup>
          {{/select}}
        </select>
      </div>
    </li>
    <li class="item flexrow">
      <div class="item flexrow setting-name">
        <span class="text-bold text-nowrap">{{localize "CPR.hasroll"}}</span>
      </div>
      <div class="item flexrow setting-value text-nowrap item-end">
        {{#if hasRoll}}
          <input class="text-right" name="hasRoll" type="checkbox" value = "{{hasRoll}}" checked/>
        {{else}}
          <input class="text-right" name="hasRoll" type="checkbox" value = "{{hasRoll}}"/>
        {{/if}}
      </div>
    </li>
  </ol>
  <div class="">
    <div class="text-bold">{{localize "CPR.description"}}</div>
    <textarea class="" name="description">{{description}}</textarea>
  </div>
</form>
{{trace "CPR-ROLE-ABILITY-PROMPT.HBS"}}
