{{log "CPR-SET-LIFEPATH.HBS"}}
<form>
  <div class="cultural-origins">
    <div class="lifepath-label text-bold">{{localize "CPR.culturalorigins"}}</div>
    <textarea class="lifepath-data" name="data.lifepath.culturalOrigin">{{data.lifepath.culturalOrigin}}</textarea>
  </div>
  <div class="personality">
    <div class="lifepath-label text-bold">{{localize "CPR.personality"}}</div>
    <textarea class="lifepath-data" name="data.lifepath.personality">{{data.lifepath.personality}}</textarea>
  </div>

  <div class="clothing-style">
    <div class="lifepath-label text-bold">{{localize "CPR.clothingstyle"}}</div>
    <textarea class="lifepath-data" name="data.lifepath.clothingStyle">{{data.lifepath.clothingStyle}}</textarea>
  </div>

  <div class="hairstyle">
    <div class="lifepath-label text-bold">{{localize "CPR.hairstyle"}}</div>
    <textarea class="lifepath-data" name="data.lifepath.hairStyle">{{data.lifepath.hairStyle}}</textarea>
  </div>

  <div class="value-most">
    <div class="lifepath-label text-bold">{{localize "CPR.valuemost"}}</div>
    <textarea class="lifepath-data" name="data.lifepath.valueMost">{{data.lifepath.valueMost}}</textarea>
  </div>

  <div class="people-feelings">
    <div class="lifepath-label text-bold">{{localize "CPR.peoplefeelings"}}</div>
    <textarea class="lifepath-data" name="data.lifepath.aboutPeople">{{data.lifepath.aboutPeople}}</textarea>
  </div>

  <div class="valued-person">
    <div class="lifepath-label text-bold">{{localize "CPR.valuedperson"}}</div>
    <textarea class="lifepath-data" name="data.lifepath.valuedPerson">{{data.lifepath.valuedPerson}}</textarea>
  </div>

  <div class="valued-possession">
    <div class="lifepath-label text-bold">{{localize "CPR.valuedpossession"}}</div>
    <textarea class="lifepath-data" name="data.lifepath.valuedPossession">{{data.lifepath.valuedPossession}}</textarea>
  </div>

  <div class="family-background">
    <div class="lifepath-label text-bold">{{localize "CPR.familybackground"}}</div>
    <textarea class="lifepath-data" name="data.lifepath.familyBackground">{{data.lifepath.familyBackground}}</textarea>
  </div>

  <div class="child-environment">
    <div class="lifepath-label text-bold">{{localize "CPR.childhoodenvironment"}}</div>
    <textarea class="lifepath-data"
      name="data.lifepath.childhoodEnvironment">{{data.lifepath.childhoodEnvironment}}</textarea>
  </div>

  <div class="life-goals">
    <div class="lifepath-label text-bold">{{localize "CPR.lifegoals"}}</div>
    <textarea class="lifepath-data" name="data.lifepath.lifeGoals">{{data.lifepath.lifeGoals}}</textarea>
  </div>
  <div class="family-crisis">
    <div class="lifepath-label text-bold">{{localize "CPR.familycrisis"}}</div>
    <textarea class="lifepath-data" name="data.lifepath.familyCrisis">{{data.lifepath.familyCrisis}}</textarea>
  </div>

</form>
{{log "CPR-SET-LIFEPATH.HBS"}}