{{trace "CPR-ROLE-BLOCK.HBS"}}
<div class="role-block main-block">
  <div class="block-label" >
    <a class="select-roles" title="{{localize "CPR.editroles"}}" data-item-prop="select-roles">{{localize "CPR.roles"}}<i
        class="text-smallest text-super fas fa-wrench"></i></a>
  </div>
  <div class="block-data">
     {{localize (findConfigValue "roleList" data.roleInfo.activeRole)}}
  </div>
</div>
{{trace "END CPR-ROLE-BLOCK.HBS"}}