{{log "CPR-DEATHSAVE-BLOCK.HBS"}}
<div class="deathsave-block main-block">
  <div class="block-label text-small flex-space-between">
    <span class="text-padding-left">{{localize "CPR.woundstate"}}</span>
    <span class="text-padding-right">{{localize "CPR.deathsave"}}</span>
  </div>
  <div class="block-data flex-space-between">
    {{!-- <span>{{localize (findConfigValue "woundState" this.data.woundState.currentWoundState)}}</span> --}}
    {{#with this.data.woundState.currentWoundState as |state| }}
    {{#if (compare state "===" "notWounded")}}
    <i class="fg-green bg-white text-normal text-center width-full fas fa-smile" alt-text="Not Wounded"></i>
    {{/if}}
    {{#if (compare state "===" "lightlyWounded")}}
    <i class="fg-orange bg-white text-normal text-center width-full fas fa-meh" alt-text="Lightly Wounded"></i>
    {{/if}}
    {{#if (compare state "===" "seriouslyWounded")}}
    <i class="fg-red bg-white text-normal text-center width-full fas fa-frown" alt-text="Seriously Wounded"></i>
    {{/if}}
    {{#if (compare state "===" "mortallyWounded")}}
    <i class="fg-black bg-white text-normal text-center width-full fas fa-skull" alt-text="Mortally Wounded"></i>
    {{/if}}
    {{/with}}
    <input class="width-full" name="data.derivedStats.deathSave" type="number"
      value="{{data.derivedStats.deathSave}}" data-dtype="Number" />
  </div>
</div>
{{log "END CPR-DEATHSAVE-BLOCK.HBS"}}