{{log "CPR-SKILLS.HBS"}}
<div class="tab-block">
    <table>
      {{!-- FOR ALL SKILL ITEMS, RENDER SKILL CARD --}}
      {{!-- FOR EACH CATEGORY --}}
      {{#each skillCategories as |category c|}}
      <tr class="row-header">
        <td class="skill-name">{{localize (lookup ../this.skillCategories c)}}</td>
        <td class="skill-level">LVL</td>
        <td class="skill-stat">STAT</td>
        <td class="skill-base">BASE</td>
      </tr>
      {{#each ../actor.filteredItems.skill as |skill s|}}
      {{!-- IF SKILL IS OF CATEGORY --}}
      {{#ifEquals skill.data.category c}}
      {{!-- DISPLAY SKILL --}}
      <tr class="row-item">
        <td class="name"><a class="name rollable" data-roll-type="skill"
            data-roll-title="{{skill.name}}" data-item-id={{skill._id}}>
            <span class="{{#if skill.data.basic}}bold{{/if}}">
              {{log this}}
              {{localize (lookup ../../this.skillList skill.name)}} <strong>({{localize (lookup ../../this.statList skill.data.stat)}})</strong>
            </span>

          </a>
          <a class="item-edit" data-item-id={{skill._id}}><i class="fas fa-edit"></i></a>
          <a class="item-delete" data-item-id={{skill._id}}>[del]</a>
        </td>

        <td class="skill-level">{{skill.data.level}}</td>
        <td class="skill-stat">{{getProp (getProp ../../actor.data.stats skill.data.stat) 'value'}}</td>
        <td class="skill-base">{{add skill.data.level (lookup (getProp ../../actor.data.stats skill.data.stat) 'value')}}</td>
      </tr>
      {{/ifEquals}}
      {{/each}}
      {{/each}}
  </table>
</div>
{{log "END CPR-SKILLS.HBS"}}