<div>
    {{!-- FOR ALL SKILL ITEMS, RENDER SKILL CARD --}}
    {{log actor.filteredItems}}
    {{!-- FOR EACH CATEGORY --}}
    {{#each skillCategories as |category c|}}
    <div class="skill-category">
        <h1>{{localize category}}</h1>
    </div>
    {{#each ../actor.filteredItems.skill as |skill s|}}
    {{!-- IF SKILL IS OF CATEGORY --}}
    {{#ifEquals skill.data.category c}}
    {{!-- DISPLAY SKILL --}}
    <div>
        {{skill.name}} | Stat: {{skill.data.stat}} | {{skill.data.basic}} | {{skill.data.difficulty}}
        <button id="roll"> ROLL </button>
    </div>
    {{/ifEquals}}
    {{/each}}
    {{/each}}
    {{!-- FOR EACH SKILL IN CATEGORY --}}
</div>