{{log "CPR-SKILLS.HBS"}}
<div class="dynamic-list skills col-1">
  {{!-- FOR ALL SKILL ITEMS, RENDER SKILL CARD --}}
  {{!-- FOR EACH CATEGORY --}}
  {{#each (findConfigObj "skillCategories") as |category c|}}
  

  <div class="row flex-end skills header white-fg black-bg bold" data-skill-category-name={{c}}>
    <span class="section width-grow skill-name">{{localize (findConfigValue "skillCategories" c)}}</span>
    <span class="section width-eighth no-grow center-text">LVL</span>
    <span class="section width-eighth no-grow center-text">BASE</span>
  </div>


  {{#each (sort ../actor.filteredItems.skill "name") as |skill s|}}
  {{!-- IF SKILL IS OF CATEGORY --}}
  {{#if (eq skill.data.category c)}}
  {{!-- DISPLAY SKILL --}}


  <div class="row flex-end skill item black-fg white-bg" data-item-id={{skill._id}} data-skill-category={{skill.data.category}}>
    <div class="section width-grow skill-name">
      <a class="rollable" data-roll-type="skill" data-roll-title="{{skill.name}}">
        <span class="{{#if skill.data.basic}}bold{{/if}}">
          {{skill.name}} {{#if (eq skill.data.difficulty "difficult")}}(x2) {{/if}}<strong>({{localize (findConfigValue
            "statList" skill.data.stat)}})</strong>
        </span>
      </a>
      {{#if (eq skill.data.core false)}}
      <a class="item-edit"><i class="fas fa-edit"></i></a>
      <a class="item-delete"><i class="fas fa-trash-alt"></i></a>
      {{/if}}
    </div>
    <div class="section width-eighth no-grow skill-level center-text"><input class="number skill-level-input" value="{{skill.data.level}}" type="number"
        data-item-prop="data.level" data-dtype="Number"></div>
    <div class="section width-eighth no-grow skill-base center-text">{{math "sum" skill.data.level (lookup (getProp ../../actor.data.stats skill.data.stat)
      'value')}}</div>
  </div>


  {{/if}}
  {{/each}}
  {{/each}}
</div>
{{log "END CPR-SKILLS.HBS"}}