<div>
   <div><h1>Attack</h1>
      <table>
      {{#each actor.filteredItems.weapon as |weapon|}}
      <tr class="item row">
      {{#if (eq weapon.data.equippable.equipped "equipped")}}
      
      <div style="display: flex; justify-content: space-between">
         <td><span>{{weapon.name}}</span></td>
         <td><span>
            <a 
            class="rollable" 
            data-attack-skill="{{weapon.data.weaponSkill}}" 
            data-is-ranged="{{weapon.data.isRanged}}" 
            data-roll-type="attack" 
            data-roll-title="{{weapon.name}} attack!"
            data-weapon-name="{{weapon.name}}"
            data-item-id={{weapon._id}}>
               [ATTACK]
               <i class="fas fa-dice"></i>
            </a>
         </span>
         </td>
         <td><span>
            <a 
            class="rollable" 
            data-damage="{{weapon.data.damage}}" 
            data-roll-type="damage"
            data-item-id={{weapon._id}}>
               [DAMAGE]
               <i class="fas fa-dice"></i>
            </a>
         </span>
         </td>
         <td><span>ROF {{weapon.data.rof}}</span></td>
         <td>
         {{#if weapon.data.isRanged}}
         <span>{{weapon.data.magazine.value}}/{{weapon.data.magazine.max}} rounds</span>
         {{/if}}
         </td>
      </div>
      {{/if}}
      </tr>
      {{/each}}
      </table>
   </div>
   <div><h1>Defense</h1>
      <table>
      {{#each actor.filteredItems.armor as |armor| }}
      {{#if (eq armor.data.equippable.equipped "equipped")}}
      <tr class="item row">
      <div>
         <td><span>{{armor.name}}</span></td>
         <td><span>{{armor.data.sp}}</span></td>
         <td><span>{{armor.data.ablation}}</span></td>
         <td><span><a class="rollable">[DEFEND]</a></span></td>
      </div>
      </tr>
      {{/if}}
      {{/each}}
   </div>
   </table>
</div>