{{log "CPR-COMBAT.HBS"}}
<div class="weapons">
  <div class=" bold black-bg white-fg larger-text center-text">Weapons</div>
  <div class="dynamic-list">
    {{#each actor.filteredItems.weapon as |weapon|}}
    <div class="item row" data-item-id={{weapon._id}}>
    {{#if (eq weapon.data.equippable.equipped "equipped")}}

      <div class="section width-third"><a class="item-edit">{{weapon.name}}</a></div>

      <div class="section width-sixteenth width-no-grow center-text">
        <a class="rollable" data-roll-type="attack" data-item-id={{weapon._id}}>
          <i class="fas fa-crosshairs"></i>
        </a>
      </div>

      <div class="section width-sixteenth width-no-grow center-text">
        <a class="rollable" data-damage="{{weapon.data.damage}}" data-roll-type="damage" data-item-id={{weapon._id}}>
          <i class="fas fa-tint"></i>
        </a>
      </div>
      
      <div class="section width-sixth width-no-grow center-text">{{#if weapon.data.isRanged}}{{weapon.data.magazine.value}}/{{weapon.data.magazine.max}}{{/if}}</div>
      
      <div class="section width-sixth width-no-grow center-text">ROF {{weapon.data.rof}}</div>

      <div class="section width-quarter">{{weapon.data.altFireModes}}</div>
    {{/if}}
    </div>
    {{/each}}
  </div>
</div>



<div class="armor">
  <div class=" bold black-bg white-fg larger-text center-text">Armor</div>
  {{#each actor.filteredItems.armor as |armor| }}
  {{#if (eq armor.data.equippable.equipped "equipped")}}
  <div class="item row">
    <div>
      <span>{{armor.name}}</span>
      <span>{{armor.data.sp}}</span>
      <span>{{armor.data.ablation}}</span>
      ABLATE_PLACEHOLDER
    </div>
  </div>
  {{/if}}
  {{/each}}
</div>



<div class="combat-skills">
  <div class=" bold black-bg white-fg larger-text center-text">Combat Skills</div>
  {{!-- Default Skill Rolls --}}
  {{!-- Skills to show actions for --}}
  {{!-- Brawling, Martial Arts, Evasion --}}
  TODO
</div>
{{log "END CPR-COMBAT.HBS"}}