<div class="skill-block">
  {{!-- FOR ALL SKILL ITEMS, RENDER SKILL CARD --}}
  {{!-- FOR EACH CATEGORY --}}
  {{#each skillCategories as |category c|}}
  <div class="skill-category">
    <span class="name">{{localize category}}</span>
    <span>LVL</span>
    <span>STAT</span>
    <span>BASE</span>
  </div>
  {{#each ../actor.filteredItems.skill as |skill s|}}
  {{log "WHAT IS GOING ON?"}}
  {{log ../../this.data.stats}}
  {{!-- IF SKILL IS OF CATEGORY --}}
  {{#ifEquals skill.data.category c}}
  {{!-- DISPLAY SKILL ENTRY --}}
  <div class="skill">
    <a class="name rollable">
      <span class="{{#if skill.data.basic}}bold{{/if}}">
        {{localize skill.name}} <strong>({{skill.data.stat}})</strong>
      </span>
    </a>
    <span class="level">{{???}}</span>
    <span class="stat">{{lookup ../../this.data.stats skill.data.stat}}</span>
    <span class="base">{{??}} + {{lookup ../../this.data.stats skill.data.stat}}</span>
  </div>
  {{/ifEquals}}
  {{/each}}
  {{/each}}
  {{!-- FOR EACH SKILL IN CATEGORY --}}
</div>