{{log "CPR-INVENTORY.HBS"}}
<div class="tab-block">
  <table>
    <tbody>
    {{!-- FOR EACH CATEGORY --}}
      {{#each (findConfigObj "inventoryCategories") as |category c|}}
      <tr class="header">
          <td class="header" width="55%">{{localize (findConfigValue "inventoryCategories" c)}}</td>
          <td class="header" width="30%">Data</td>
          <td class="header" width="15%">Quantity</td>
      </tr>
      {{#each ../actor.items as |item i|}}
      {{!-- IF ITEM IS OF CATEGORY --}}
      {{#ifEquals item.type c}}
      
      {{!-- DISPLAY ITEM --}}
      <tr class="item" data-item-id={{item._id}}>
          <td class="name"><a class="name rollable" data-roll-type="{{c}}" data-roll-title="{{item.type}}" data-item-id={{item._id}}>
            {{item.name}}
            <a class="item-edit"><i class="fas fa-edit"></i></a>
            <a class="item-delete"><i class="fas fa-trash-alt"></i></a>
          </td>
          {{!-- TODO remove if ifEquals, add partials per category if display needs to change --}}
          {{#ifEquals item.type "weapon"}}
            <td class="item">{{localize (findConfigValue "weaponTypeList" item.data.weaponType)}}</td>
            <td class="item">1</td>
          {{else}}
            {{#ifEquals item.type "ammo"}}
               <td class="item">{{localize (findConfigValue "ammoVariety" item.data.variety)}}</td>
               <td class="item">{{item.data.amount}}</td>
            {{else}}
               <td class="item"></td>
               <td class="item">1</td>
            {{/ifEquals}}
           {{/ifEquals}}
      </tr>
      {{/ifEquals}}
      {{/each}}
      {{/each}}
    </tbody>
  </table>  
</div>
{{log "END CPR-INVENTORY.HBS"}}
