{{log "CPR-ROLE-BLOCK.HBS"}}
<div class="block">
  <div class="unit">
    <p>Role</p>
    <div class="inputs">
      <select name="data.roleInfo.role">
        {{#select data.roleInfo.role}}
        {{#each (findConfigObj "roleList" name) as |name n|}}
        <option value="{{n}}">{{localize name}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>
  </div>
</div>
<div class="block">
  <div class="unit">
    <p>Ability</p>
    {{!-- for every skill in character's role --}}
    {{#each (lookup data.roleInfo.roleskills data.roleInfo.role) as |rank name|}}
    {{!-- show localized role ability name --}}
    <div class="rollable" data-roll-type="roleAbility" data-roll-title="{{name}}">{{localize (findConfigValue "roleAbilityList" name)}}</div>
    {{!-- show role ability rank --}}
    <input name="data.roleInfo.roleskills.{{../data.roleInfo.role}}.{{name}}" value="{{rank}}" type="number"
      data-dtype="Number" class="ability-rank-input" />
    {{/each}}
  </div>
</div>
{{log "END CPR-ROLE-BLOCK.HBS"}}