<div class="">
    <div>
        <h1>Role: {{localize (findConfigValue "roleList" data.roleInfo.role)}}</h1>
    </div>
    <div class="">
        Abilities:
    </div>
    <div class="row item">
        {{#each (getProp data.roleInfo.roleskills data.roleInfo.role) as |roleskill rs|}}
        {{localize (findConfigValue "roleAbilityList" rs)}}:
        <input name="data.roleInfo.roleskills.{{../data.roleInfo.role}}.{{rs}}" value="{{roleskill}}" type="number">
        {{/each}}
        
    </div>
    <div>
        <h1>Other Role Abilities:</h1>
        {{#each (findConfigObj "roleList") as |name n|}}
        {{#each (getProp ../data.roleInfo.roleskills n) as |roleskill rs|}}
        {{#compare n "!==" ../../data.roleInfo.role}}
        {{#compare roleskill ">" 0}}
        <div>
            {{localize (findConfigValue "roleAbilityList" rs)}} {{roleskill}} (Role: {{localize (findConfigValue
            "roleList" n)}})
        </div>
        {{/compare}}
        {{/compare}}
        {{/each}}
        {{/each}}
    </div>
</div>