{{log "CPR-INVENTORY.HBS"}}
<div class="dynamic-list inventory col-1">
      {{#each (findConfigObj "inventoryCategories") as |category c|}}
      <div class="row row-header inventory">
            <span class="row-section name text-align-center">{{localize category}}</span>
            <span class="row-section data text-align-left">{{localize "CPR.data"}}</span>
            <span class="row-section action text-align-right">{{localize "CPR.actions"}}</span>
      </div>
      {{#each ../actor.items as |item i|}}
      {{#if (compare item.type "===" c)}}
            {{> (generatePartial "systems/cyberpunk-red-core/templates/actor/parts/common/inventory/content/cpr-VAR-content.hbs" c)}}
      {{/if}}
      {{/each}}
      {{/each}}
</div>
{{log "END CPR-INVENTORY.HBS"}}