<div class="skill-block">
  {{!-- FOR ALL SKILL ITEMS, RENDER SKILL CARD --}}
  {{!-- FOR EACH CATEGORY --}}
  {{#each skillCategories as |category c|}}
  <div class="skill-category">
    <span class="name">{{localize category}}</span>
    <span>LVL</span>
    <span>STAT</span>
    <span>BASE</span>
  </div>
  {{#each ../actor.filteredItems.skill as |skill s|}}
  {{!-- IF SKILL IS OF CATEGORY --}}
  {{#ifEquals skill.data.category c}}
  {{!-- DISPLAY SKILL ENTRY --}}
  {{log ../../this}}
  {{log skill}}
  <div class="skill">
    <a class="{{skill.name}} rollable">
      <span class="{{#if skill.data.basic}}bold{{/if}}">
        {{localize skill.name}} <strong>({{loud skill.data.stat}})</strong>
      </span>
    </a>
    <span class="level">LEVEL</span>
    <span class="stat">{{getProp (lookup ../../this.data.stats skill.data.stat) "value"}}</span>
    <span class="base">STAT + {{getProp (lookup ../../this.data.stats skill.data.stat) "value"}}</span>
  </div>
  {{/ifEquals}}
  {{/each}}
  {{/each}}
  {{!-- FOR EACH SKILL IN CATEGORY --}}
</div>