{{log "CPR-SKILLS.HBS"}}
<div class="skill-block">
  <a class="add-skill">[add new skill]</a>
  <table>
    <tbody>
    {{!-- FOR ALL SKILL ITEMS, RENDER SKILL CARD --}}
    {{!-- FOR EACH CATEGORY --}}
      {{#each skillCategories as |category c|}}
      <tr class="skill-category">
          <td class="name">{{localize (lookup ../this.skillCategories c)}}</td>
          <td class="level">LVL</td>
          <td class="stat">STAT</td>
          <td class="base">BASE</td>
      </tr>
      {{#each ../actor.filteredItems.skill as |skill s|}}
      {{!-- IF SKILL IS OF CATEGORY --}}
      {{#ifEquals skill.data.category c}}
      {{!-- DISPLAY SKILL --}}
      <tr class="skill">
          <td class="name"><a class="name rollable" data-roll-type="skill" data-roll-title="{{localize (lookup ../../this.skillList this.name)}}" data-item-id={{skill._id}}>
            <span class="{{#if skill.data.basic}}bold{{/if}}">
              {{log this}}
              {{skill.name}} <strong>({{localize (lookup ../../this.statList skill.data.stat)}})</strong>
            </span>
            
          </a>
          <a class="item-edit" data-item-id={{skill._id}}>[edit]</a>
          <a class="item-delete" data-item-id={{skill._id}}>[del]</a>
          </td>

          <td class="level">{{skill.data.level}}</td>
          <td class="stat">{{getProp (getProp ../../actor.data.stats skill.data.stat) 'value'}}</td>
          <td class="base">{{add skill.data.level (lookup (getProp ../../actor.data.stats skill.data.stat) 'value')}}</td>
      </tr>
      {{/ifEquals}}
      {{/each}}
      {{/each}}
    </tbody>
  </table>  
</div>
{{log "END CPR-SKILLS.HBS"}}
