<div class="cpr-block">
  <div class="title double bold">
  <span>{{localize "CPR.woundstate"}}</span>
  <span>{{localize "CPR.deathsave"}}</span>
  </div>
  <div class="content larger-text center-text">
    {{log this}}
    {{!-- <span>{{localize (findConfigValue "woundState" this.data.woundState.currentWoundState)}}</span> --}}
    {{#with this.data.woundState.currentWoundState as |state| }}
    {{#if (eq state "notWounded")}}
    <i class="width-half large-text fas fa-smile" alt-text="Not Wounded"></i>
    {{/if}}
    {{#if (eq state "lightlyWounded")}}
    <i class="width-half large-text fas fa-meh" alt-text="Lightly Wounded"></i>
    {{/if}}
    {{#if (eq state "seriouslyWounded")}}
    <i class="width-half large-text fas fa-frown" alt-text="Seriously Wounded"></i>
    {{/if}}
    {{#if (eq state "mortallyWounded")}}
    <i class="width-half large-text fas fa-skull" alt-text="Mortally Wounded"></i>
    {{/if}}
    {{/with}}
    <input class="width-half" name="data.derivedStats.deathSave" type="number" value="{{data.derivedStats.deathSave}}" data-dtype="Number" style="flex-basis: 50%;  " />
  </div>
</div>
{{log "END CPR-DEATHSAVE-BLOCK.HBS"}}