{{log "CPR-HUMANITY-BLOCK.HBS"}}
<div class="cpr-block">
  
  <div class="fg-black bg-white text-large text-bold text-center">
    <a class="sanity-check-cyberware">{{localize "CPR.humanity"}}</a>
  </div>
  <div class="fg-black bg-white text-large text-bold flex-space-between">
    <input class="width-full" name="data.humanity.value" type="number" value="{{data.humanity.value}}" data-dtype="Number" />
    <div class="fg-white bg-red text-rotate">of</div>
    <input  class="width-full" name="data.humanity.max" type="number" value="{{data.humanity.max}}" data-dtype="Number"/>
  </div>
</div>
{{log "END CPR-DEATHSAVE-BLOCK.HBS"}}