{{log "CPR-HUMANITY-BLOCK.HBS"}}
<div class="cpr-block">
  
  <div class="title large-text bold">
    {{localize "CPR.humanity"}}
  </div>
  <div class="content largest-text center-text">
    <input  name="data.humanity.value" type="number" value="{{data.humanity.value}}" data-dtype="Number" />
    <div class="red-bg">&nbsp;</div>
    <input  name="data.humanity.max" type="number" value="{{data.humanity.max}}" data-dtype="Number"/>
  </div>
</div>
{{log "END CPR-DEATHSAVE-BLOCK.HBS"}}