{{log "CPR-ABILITY-BLOCK.HBS"}}
<div class="CPR-block expandable">
  <a class="expand-button">{{localize "CPR.ability"}}</a>
  <table class="ability-table">
    {{!-- for every skill in character's role --}}
    {{#each (lookup data.roleInfo.roleskills data.roleInfo.role) as |rank name|}}
    {{!-- show localized role ability name --}}
    <tr class="role-ability">
      <td width="80%">
        <span class="rollable ability-name" data-roll-type="roleAbility" data-roll-title="{{name}}">{{localize
          (findConfigValue
          "roleAbilityList" name)}}</span>
      </td>
      {{!-- show role ability rank --}}
      <td>
        <div class="inputs ability-value">
          <p>{{rank}}</p>
        </div>
      </td>
    </tr>
    {{/each}}
  </table>
</div>