
{{log "CPR-GEAR.HBS"}}
<div class="gear-tab-data">
    <div class="top-pane-gear">
        <ol class="items-list gear-list">
            {{#each (findConfigObj "inventoryCategories") as |category c|}}
            <div class="collapsible">
                <li class="items-header flexrow collapsible">
                    <span class="item-name gear-name bg-black text-nowrap expand-button " id="gearTab-{{c}}" title="{{localize "CPR.togglecategorypinned"}}">
                        {{localize category}}&nbsp;
                        {{#if (listContains ../this.options.collapsedSections (generatePartial "gearTab-VAR" c))}}
                            <i class="fas fa-plus bg-black collapse-icon"></i>
                            <i class="fas fa-minus bg-black expand-icon hide"></i>
                        {{else}}
                            <i class="fas fa-plus bg-black collapse-icon hide"></i>
                            <i class="fas fa-minus bg-black expand-icon"></i>
                        {{/if}}
                    </span>
                    <span class="item-detail gear-data bg-black text-nowrap">{{localize "CPR.data"}}</span>
                    <span class="item-detail gear-actions bg-black text-nowrap">
                        {{localize "CPR.actions"}}&nbsp;
                        {{#if (systemConfig "playersCreateInventory")}}<a class="item-create" title="{{localize "CPR.createnewitem"}}" data-item-type="{{c}}"><i class="fas fa-plus-circle text-padding-right"></i></a>{{/if}}
                    </span>
                </li>
                <ol class="items-list">
                    {{#each (sort (getProp ../actor.filteredItems c) "name") as |item i|}}
                    {{!-- Partial handles Name and Data columns --}}
                    {{> (generatePartial "systems/cyberpunk-red-core/templates/actor/parts/right-pane/parts/gear/cpr-VAR-content.hbs" c) (mergeForPartialArg "item,actor,sheet" this ../../this.actor ../../this)}}
                    {{!- Item actions column --}}
                    {{/each}}
                </ol>
            </div>
            {{/each}}
        </ol>
    </div>
    <div class="bottom-pane-gear">
        <div class="eurobucks">
            {{localize "CPR.eurobucks"}}: <input class="number eurobucks-input" value="{{actor.data.wealth.value}}" type="number">
        </div>
    </div>
</div>
{{trace "END CPR-GEAR.HBS"}}
