{{cprTrace "CPR-EFFECTS.HBS"}}
<ol class="effects-list">
{{!-- derived from DND5E's active-effects.html --}}
{{#each this.filteredEffects as |section sid|}}
    <li class="effects-header flexrow" data-effect-type="{{section.type}}">
        <div class="effect-name flexrow">{{localize section.label}}</div>
        <div class="effect-source">{{localize "CPR.characterSheet.rightPane.effects.source"}}</div>
        <div class="effect-actions text-padding-right">
            {{localize "CPR.characterSheet.rightPane.effects.actions"}}
        </div>
    </li>
        {{#each section.effects as |effect|}}
            <li class="item effect flexrow" data-effect-id="{{effect.id}}">
                <div class="effect-name flexrow">
                    <img class="effect-image" src="{{effect.data.icon}}"/>
                    <h4><strong>{{effect.data.label}}</strong><br/>
                        {{#each effect.data.changes}}
                            {{!-- "this" is now an individual mod for the AE object --}}
                            {{localize (cprGetEffectModifierKeyName (lookup ../data.flags.cyberpunk-red-core.changes @index) this.key)}}:
                            {{#if this.value}}
                                {{cprEffectModMode this.mode}}{{this.value}}{{#unless @last}},{{/unless}} 
                            {{else}}
                                0{{#unless @last}},{{/unless}} 
                            {{/if}}
                        {{/each}}
                    </h4>    
                </div>
                <div class="effect-source">
                    {{effect.sourceName}}<br/>
                    {{#if (cprCompare effect.sourceName "!==" ../../actor.data.name)}}
                        ({{localize (cprFindConfigValue "effectUses" effect.usage)}})
                    {{/if}}
                </div>
                {{log effect}}
                <div class="effect-actions text-padding-right">
                    {{#if (cprCompare (cprCompare effect.sourceName "===" ../../actor.data.name) "||" (cprCompare effect.usage "===" "toggled"))}}
                        <a class="effect-control" data-action="toggle" title="{{localize 'CPR.characterSheet.rightPane.effects.toggle'}}">
                            <i class="far {{#if effect.data.disabled}}fa-circle{{else}}fa-check-circle{{/if}}"></i>
                        </a>
                    {{/if}}
                    {{#if (cprCompare effect.sourceName "===" ../../actor.data.name)}}
                        <a class="effect-control" data-action="edit" title="{{localize 'CPR.characterSheet.rightPane.effects.edit'}}">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="effect-control" data-action="delete" title="{{localize 'CPR.characterSheet.rightPane.effects.delete'}}">
                            <i class="fas fa-trash-alt fg-red"></i>
                        </a>
                    {{else}}
                        <i class="fas fa-question-circle" title="{{localize "CPR.characterSheet.rightPane.effects.noEditOnItem"}}"></i>
                    {{/if}}
                </div>
            </li>
        {{/each}}
{{/each}}
<br>
<div class="item-controls effect-controls">
    <a class="effect-control" data-action="create" title="{{localize 'CPR.itemSheet.effects.createEffectDesc'}}">
        <i class="fas fa-plus"></i> {{localize "CPR.itemSheet.effects.createEffect"}}
    </a>
</div>
</ol>
{{cprTrace "END CPR-EFFECTS.HBS"}}