{{cprTrace "CPR-ITEMUPGRADE.HBS"}}
<li class="text-padding-left">{{localize (cprFindConfigValue "objectTypes" data.data.type)}}</li>
<li class="text-padding-left">{{localize "CPR.itemSheet.itemUpgrade.installationSize"}}: {{data.data.size}}</li>
{{cprTrace "END CPR-ITEMUPGRADE.HBS"}}
