{{log "CPR-STAT-BLOCK.HBS"}}
{{!-- Partials to create stat-units from template --}}
{{#each data.stats as |stat s|}}
  <div class="cpr-block stat">
    <div class="rollable fg-black bg-white text-normal text-bold text-center" data-roll-type="stat" data-roll-title="{{s}}">
      <span>{{localize (findConfigValue "statList" s)}}</span>
    </div>
    <div class="fg-black bg-white text-center {{#if (isDefined this.max)}}flex-space-between{{/if}}">
      <input
        name="data.stats.{{s}}.value"
        type="number"
        value="{{this.value}}"
      />
      {{#if (isDefined this.max)}}
      <div class="">&nbsp;</div>
      <input name="data.stats.{{s}}.max" type="number" value="{{this.max}}" />
      {{/if}}
    </div>
  </div>
{{/each}}
{{log "END CPR-STAT-BLOCK.HBS"}}
