{{log "CPR-DEATHSAVE-BLOCK.HBS"}}
<div class="cpr-block">
  <div class="fg-black bg-white text-large text-bold flex-space-between">
  <span>{{localize "CPR.woundstate"}}</span>
  <span>{{localize "CPR.deathsave"}}</span>
  </div>
  <div class="fg-black bg-white text-large flex-space-between">
    {{!-- <span>{{localize (findConfigValue "woundState" this.data.woundState.currentWoundState)}}</span> --}}
    {{#with this.data.woundState.currentWoundState as |state| }}
      {{#if (eq state "notWounded")}}
      <i class="fg-green bg-white text-large text-center width-full fas fa-smile" alt-text="Not Wounded"></i>
      {{/if}}
      {{#if (eq state "lightlyWounded")}}
      <i class="fg-blue bg-white text-large text-center width-full fas fa-meh" alt-text="Lightly Wounded"></i>
      {{/if}}
      {{#if (eq state "seriouslyWounded")}}
      <i class="fg-red bg-white text-large text-center width-full fas fa-frown" alt-text="Seriously Wounded"></i>
      {{/if}}
      {{#if (eq state "mortallyWounded")}}
      <i class="fg-black bg-white text-large text-center width-full fas fa-skull" alt-text="Mortally Wounded"></i>
      {{/if}}
    {{/with}}
    <input class="fg-black bg-white width-full" name="data.derivedStats.deathSave" type="number" value="{{data.derivedStats.deathSave}}" data-dtype="Number"/>
  </div>
</div>
{{log "END CPR-DEATHSAVE-BLOCK.HBS"}}