{{!-- Partials to create stat-units from template --}}
{{#each data.stats as |stat s|}}
  <div class="stat-unit {{#if this.max}}has-max{{/if}}">
    <p>{{localize (lookup ../this.statList s)}}</p>
    <div class="stat-values">
      <input
        class="stat-input"
        name="data.stats.{{s}}.value"
        type="number"
        value="{{this.value}}"
      />
      {{#if this.max}}
        <input
          class="stat-input"
          name="data.stats.{{s}}.max"
          type="number"
          value="{{this.max}}"
        />
      {{/if}}
    </div>
  </div>
{{/each}}