{{log "CPR-HITPOINT-BLOCK.HBS"}}
<div class="cpr-block">
  <div class="fg-black bg-white text-large text-bold text-center">
    <span>{{localize "CPR.hitpoints"}}</span>
  </div>
  <div class="fg-black bg-white text-large text-bold flex-space-between">
      <input class="text-center" name="data.derivedStats.hp.value" type="number" value="{{data.derivedStats.hp.value}}" data-dtype="Number" />
      <div class="fg-white bg-red text-rotate">&nbsp;of&nbsp;</div>
      <input class="text-center" name="data.derivedStats.hp.max" type="number" value="{{data.derivedStats.hp.max}}" data-dtype="Number"/>

  </div>
</div>
{{log "END CPR-HITPOINT-BLOCK.HBS"}}