<label class="stat-label" for="int-stat-input">
    <p>INT</p> <input id="int-stat-input" class="stat-input" type="text" name="data.stats.int" type="text"
        value="{{data.stats.int}}">
</label>
<label class="stat-label" for="ref-stat-input">
    <p>REF</p> <input id="ref-stat-input" class="stat-input" type="text" name="data.stats.ref" type="text"
        value="{{data.stats.ref}}">
</label>
<div class="stat-label" for="dex-stat-input">
    <p>DEX</p> <input id="dex-stat-input" class="stat-input" type="text" name="data.stats.dex" type="text"
        value="{{data.stats.dex}}">
</div>
<div class="stat-label" for="tech-stat-input">
    <p>TECH</p> <input id="tech-stat-input" class="stat-input" type="text" name="data.stats.tech" type="text"
        value="{{data.stats.tech}}">
</div>
<div class="stat-label" for="cool-stat-input">
    <p>COOL</p> <input id="cool-stat-input" class="stat-input" type="text" name="data.stats.cool" type="text"
        value="{{data.stats.cool}}">
</div>
<div class="stat-label" for="will-stat-input">
    <p>WILL</p> <input id="will-stat-input" class="stat-input" type="text" name="data.stats.will" type="text"
        value="{{data.stats.will}}">
</div>
<div class="stat-label" for="body-stat-input">
    <p>BODY</p> <input id="body-stat-input" class="stat-input" type="text" name="data.stats.body" type="text"
        value="{{data.stats.body}}">
</div>
<div class="stat-label" for="move-stat-input">
    <p>MOVE</p> <input id="move-stat-input" class="stat-input" type="text" name="data.stats.move" type="text"
        value="{{data.stats.move}}">
</div>
<div class="stat-label" for="luck-stat-input">
    <p>LUCK</p> <input id="luck-stat-input" class="stat-input" type="text" name="data.stats.luck.value" type="text"
        value="{{data.stats.luck.value}}">
</div>
<div class="stat-label" for="emp-stat-input">
    <p>EMP</p> <input id="emp-stat-input" class="stat-input" type="text" name="data.stats.emp.value" type="text"
        value="{{data.stats.emp.value}}">
</div>