{{log "CPR-HITPOINT-BLOCK.HBS"}}
<div class="cpr-block">
  <div class="title large-text bold">
    <span>{{localize "CPR.hitpoints"}}</span>
  </div>
  <div class="content largest-text center-text">
    <input name="data.derivedStats.hp.value" type="number" value="{{data.derivedStats.hp.value}}" data-dtype="Number" />
      <div class="red-bg">&nbsp;</div>
    <input name="data.derivedStats.hp.max" type="number" value="{{data.derivedStats.hp.max}}" data-dtype="Number"/>
  </div>
</div>
{{log "END CPR-HITPOINT-BLOCK.HBS"}}