{{!-- Partials to create stat-units from template --}}

{{#each data.stats as |stat name|}}
  <div class="stat-unit {{#if stat.max}}has-max{{/if}}">
    <p>{{loud name}}</p>
    <div class="stat-values">
      <input
        class="stat-input"
        name="data.stats.{{name}}.value"
        type="number"
        value="{{stat.value}}"
        data-dtype="Number"
      />
      {{#if stat.max}}
        <input
          class="stat-input"
          name="data.stats.{{name}}.max"
          type="number"
          value="{{stat.max}}"
          data-dtype="Number"
        />
      {{/if}}
    </div>
  </div>
{{/each}}