{{log "CPR-STATS-BLOCK.HBS"}}
{{!-- Partials to create stat-units from template --}}
{{#each data.stats as |stat s|}}
  <div class="cpr-block stat">
    <div class="title bold rollable" data-roll-type="stat" data-roll-title="{{s}}">
      <span>{{localize (findConfigValue "statList" s)}}</span>
    </div>
    <div class="content center-text largest-text">
      <input
        name="data.stats.{{s}}.value"
        type="number"
        value="{{this.value}}"
      />
    </div>
  </div>
{{/each}}
{{log "END CPR-STATS-BLOCK.HBS"}}
