{{log "CPR-STATS-BLOCK.HBS"}}
{{!-- Partials to create stat-units from template --}}
{{#each data.stats as |stat s|}}
  <div class="cpr-block stat {{#if this.max}}has-max{{/if}}">
    <div class="title rollable" data-roll-type="stat" data-roll-title="{{s}}">
      <span>{{localize (findConfigValue "statList" s)}}</span>
    </div>
    <div class="content">
      <input
        class="input number {{#if this.max}}max{{/if}}"
        name="data.stats.{{s}}.value"
        type="number"
        value="{{this.value}}"
      />
      {{#if this.max}}
        <input
          class="input number max"
          name="data.stats.{{s}}.max"
          type="number"
          value="{{this.max}}"
        />
      {{/if}}
    </div>
  </div>
{{/each}}
{{log "END CPR-STATS-BLOCK.HBS"}}
