{{cprTrace "CPR-EFFECT-SHEET.HBS"}}
{{!-- taken from Foundry code in resources/app/templates/sheets/active-effect-config.html --}}
<form>
    <!-- Effect Header -->
    <header class="sheet-header">
        <img class="effect-icon" src="{{ data.icon }}" data-edit="icon">
        <h1 class="effect-title">{{ data.label }}</h1>
    </header>

    <!-- Effect Configuration Tabs -->
    <nav class="sheet-tabs tabs">
        <a class="item" data-tab="details"><i class="fas fa-book"></i> {{localize "EFFECT.TabDetails"}}</a>
        <a class="item" data-tab="effects"><i class="fas fa-cogs"></i> {{localize "EFFECT.TabEffects"}}</a>
    </nav>

    <!-- Details Tab -->
    <section class="tab" data-tab="details">
        <div class="form-group">
            <label>{{ localize "EFFECT.Label" }}</label>
            <div class="form-fields">
                <input type="text" name="label" value="{{ data.label }}"/>
            </div>
        </div>

        <div class="form-group">
            <label>{{ localize "EFFECT.Icon" }}</label>
            <div class="form-fields">
                {{filePicker target="icon" type="image"}}
                <input class="image" type="text" name="icon" placeholder="path/image.png" value="{{data.icon}}"/>
            </div>
        </div>

        <div class="form-group">
            <label>{{ localize "EFFECT.IconTint" }}</label>
            <div class="form-fields">
                <input class="color" type="text" name="tint" value="{{data.tint}}"/>
                <input type="color" value="{{data.tint}}" data-edit="tint"/>
            </div>
        </div>
    </section>

    <!-- Effects Tab -->
    <section class="tab" data-tab="effects">
        <header class="effect-change effects-header flexrow">
            <div class="key">{{ localize "EFFECT.ChangeKey" }}</div>
            <div class="mode">{{ localize "EFFECT.ChangeMode" }}</div>
            <div class="value">{{ localize "EFFECT.ChangeValue" }}</div>
            <div class="effect-controls">
                <a class="effect-change-control" data-action="add"><i class="far fa-plus-square"></i></a>
            </div>
        </header>
        <ol class="changes-list">
            {{#each data.changes as |change i|}}
            {{!-- "this" is now an element in the changes array of the effect --}}
            <li class="effect-change flexrow">
                <div class="key" data-index="{{i}}">
                    <span class="form-fields effect-key-category" data-index="{{i}}">
                        <select name="data.flags.cyberpunk-red-core.changes.{{i}}" data-dtype="String">
                            {{#select (lookup ../data.flags.cyberpunk-red-core.changes i)}}
                                <option value="skill">{{localize "CPR.effectSheet.keyCategory.skill"}}</option>
                                <option value="stat">{{localize "CPR.effectSheet.keyCategory.stat"}}</option>
                                <option value="role">{{localize "CPR.effectSheet.keyCategory.role"}}</option>
                                <option value="custom">{{localize "CPR.effectSheet.keyCategory.custom"}}</option>
                            {{/select}}
                        </select>
                    </span>
                    {{#if (cprCompare (lookup ../data.flags.cyberpunk-red-core.changes i) "===" "custom")}}
                        <input type="text" name="changes.{{i}}.key" value="{{change.key}}"/>
                    {{else}}
                        <select name="changes.{{i}}.key" data-dtype="String">
                            {{#select change.key}}
                                {{#each (cprGetEffectModifierMap (lookup ../data.flags.cyberpunk-red-core.changes i)) as |modkeyname modkey|}}
                                    <option value="{{modkey}}">{{localize modkeyname}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    {{/if}}
                </div>
                <div class="mode">
                    <!-- If we need the other modes, go back to how Foundry does it here -->
                    <select name="changes.{{i}}.mode" data-dtype="Number">
                        {{#select change.mode}}
                            {{#each (cprFindConfigObj "effectModifierModes") as |modename modenum|}}
                                <option value="{{modenum}}">{{localize modename}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                </div>
                <div class="value">
                    <input type="text" name="changes.{{i}}.value" value="{{change.value}}"/>
                </div>
                
                <div class="effect-controls">
                    {{!-- <a class="effect-change-control" data-action="delete" data-index={{i}}><i class="fas fa-trash"></i></a>  --}}
                </div>
            </li>
            {{/each}}
        </ol>
    </section>

    <footer class="sheet-footer">
        <button type="submit"><i class="fas fa-save"></i> {{localize submitText}}</button>
    </footer>
</form>
{{cprTrace "END CPR-EFFECT-SHEET.HBS"}}
