{{cprTrace "CPR-REPAIR-GLYPH.HBS"}}
{{#if (cprCompare data.data.isBodyLocation "||" data.data.isHeadLocation)}}
    {{#if (cprCompare data.data.bodyLocation.ablation ">" 0)}}
        <a class="repair" data-item-id="{{data._id}}">
            <i class="fas fa-tools" title={{localize "CPR.actorSheets.commonActions.repair"}}></i>
        </a>
    {{else}}
        {{#if (cprCompare data.data.headLocation.ablation ">" 0)}}
            <a class="repair" data-item-id="{{data._id}}">
                <i class="fas fa-tools" title={{localize "CPR.actorSheets.commonActions.repair"}}></i>
            </a>
        {{/if}}
    {{/if}}
{{/if}}
{{#if data.data.isShield}}
    {{#if (cprCompare data.data.shieldHitPoints.value "<" (cprApplyUpgrade this data.data.shieldHitPoints.max "shieldHp"))}}
        <a class="repair" data-item-id="{{data._id}}">
        <i class="fas fa-tools" title={{localize "CPR.actorSheets.commonActions.repair"}}></i>
        </a>
    {{/if}}
{{/if}}
{{cprTrace "END CPR-REPAIR-GLYPH.HBS"}}
