{{trace "CPR-RELOAD-GLYPH.HBS"}}
{{#if (compare data.magazine.ammoId "!==" "")}}
    {{#if (compare data.magazine.value "<" data.magazine.max)}}
        <a class="item-action" data-item-id="{{_id}}" data-action="reload-ammo"><i class="fas fa-redo-alt" title="{{localize "CPR.reload"}}"></i></a>
    {{/if}}
{{/if}}
<a class="item-action" data-item-id="{{_id}}" data-action="select-ammo"><i class="fas fa-exchange-alt" title="{{localize "CPR.changeammo"}}"></i></a>
{{trace "END CPR-RELOAD-GLYPH.HBS"}}