{{trace "CPR-ACTIONS.HBS"}}
{{#if (compare type "===" "weapon")}}
{{!-- LOAD/RELOAD ACTION --}}
{{#if data.data.isRanged}}
{{> "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-reload-glyph.hbs"}}
{{/if}}
{{!-- CONCEAL ACTION
{{#if data.concealable}}
<i class="fas fa-eye-slash" title="Toggle Conceal"></i>
{{/if}}
--}}
{{/if}}
{{#if (compare type "===" "cyberware")}}
{{> "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-install-cyberware-glyph.hbs"}}
{{/if}}
{{#if (compare type "===" "cyberdeck")}}
{{> "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-install-programs-glyph.hbs"}}
{{/if}}
{{#if (compare type "===" "armor")}}
{{> "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-repair-glyph.hbs"}}
{{/if}}
{{#if (compare (listContains "ammo,gear,clothing" type) "&&" (compare data.data.amount ">" "1"))}}
{{> "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-split-item.hbs"}}
{{/if}}
{{#if (listContains "weapon,armor,gear,clothing,cyberdeck" type)}}
{{> "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-equip-glyph.hbs"}}
{{/if}}
<a class="item-action" data-action-type="favorite" title="{{localize "CPR.actorSheets.commonActions.togglePin"}}">
    {{#if data.data.favorite}}
    <i class="fas fa-thumbtack fg-black favorite"></i>
    {{else}}
    <i class="fas fa-thumbtack fg-grey"></i>
    {{/if}}
</a>
{{!-- ITEM MANAGEMENT --}}
<a class="item-action" data-action-type="delete"><i class="fas fa-trash-alt fg-red" title="{{localize "CPR.actorSheets.commonActions.deleteItem"}}"></i></a>
{{trace "END CPR-ACTIONS.HBS"}}
