{{log "CPR-INVENTORY.HBS"}}
<div class="dynamic-list inventory">
      {{! Loop through categories we are going to display in the Inventory Tab}}
      {{#each (findConfigObj "inventoryCategories") as |category c|}}
      <div class="row header black-bg white-fg bold inventory">
            <span class="section name width-quarter">{{localize category}}</span>
            <span class="section data width-grow">{{localize "CPR.data"}}</span>
            <span class="section action width-quarter right-text">{{localize "CPR.actions"}}</span>
      </div>
      {{!-- Revist...? Reenable the no items entry after inventoryItems refactor --}}
      {{#if (eq (getProp (getProp ../actor.filteredItems c) 'length') 0)}}
      <div class="row">{{localize "CPR.yougotnoinventory"}} {{c}}{{#if (listContains "weapon,vehicle" c)}}s{{/if}}, choomba!</div>
      {{else}}
      {{#each (sort (getProp ../actor.filteredItems c) "name") as |item i|}}
      {{!-- Partial handles Name and Data columns --}}
      {{> (generatePartial "systems/cyberpunk-red-core/templates/actor/parts/common/inventory/content/cpr-VAR-content.hbs" c) (mergeForPartialArg "item,actor" this ../../this.actor)}}
      {{!- Item actions column --}}
      {{/each}}
      {{/if}}
      {{/each}}
</div>
{{log "END CPR-INVENTORY.HBS"}}
