{{log "CPR-ROLE.HBS"}}
<div class="dynamic-list">
    <div>
        <h1>{{localize "CPR.role"}}: {{localize (findConfigValue "roleList" data.roleInfo.role)}}</h1>
    </div>

        <div class="row header white-fg black-bg bold col-1">
            {{localize "CPR.abilities"}}:
        </div>

        {{#each (getProp data.roleInfo.roleskills data.roleInfo.role) as |roleskill rs|}}
        <div class="row item white-bg black-fg">
            <div class="section name width-grow">
                <span class="rollable ability-name" data-roll-type="roleAbility" data-roll-title="{{rs}}">{{localize
                    (findConfigValue "roleAbilityList" rs)}}:</span>
            </div>
            <div class="section name width-grow">
                <input name="data.roleInfo.roleskills.{{../data.roleInfo.role}}.{{rs}}" value="{{roleskill}}"
                    type="number">
            </div>
        </div>
        {{/each}}
        <div>
            <h1>{{localize "CPR.other"}} {{localize "CPR.roleabilities"}}:</h1>
            {{#each (findConfigObj "roleList") as |name n|}}
            {{#each (getProp ../data.roleInfo.roleskills n) as |roleskill rs|}}
            {{#if (compare n "!==" ../../data.roleInfo.role)}}
            {{#if (compare roleskill ">" 0)}}
            <div class="row flex-start item black-fg white-bg col-2">
                <span class="rollable ability-name" data-roll-type="roleAbility" data-roll-title="{{rs}}">{{localize
                    (findConfigValue "roleAbilityList" rs)}}</span>: {{roleskill}} (Role: {{localize (findConfigValue
                "roleList" n)}})
            </div>
            {{/if}}
            {{/if}}
            {{/each}}
            {{/each}}
        </div>
</div>
{{log "END CPR-ROLE.HBS"}}