{{log "CPR-ROLE.HBS"}}
<div class="dynamic-list columns role-abilities">
    <div class="row flex-end">
        <a class="select-roles" data-item-prop="select-roles"><i class="fas fa-wrench"></i></a>
    </div>
    {{#each data.roleInfo.roles as |role|}}
    <div>
        <h1>{{localize "CPR.role"}}: {{localize (findConfigValue "roleList" role)}}</h1>
    </div>

    <div class="row header white-fg black-bg bold padding-left">
        <div class="section name width-half">
            {{localize "CPR.abilities"}}
        </div>
        <div class="section name width-half">
            {{localize "CPR.rank"}}
        </div>
    </div>
    {{#each (getProp ../this.data.roleInfo.roleskills role) as |roleValue roleAbility|}}
    {{#if (ne roleAbility "subSkills")}}
    {{!-- Primary Role Abilities --}}
    <div class="row item white-bg black-fg">
        <div class="section name width-half">
            <span class="rollable ability-name" data-roll-type="roleAbility"
                data-roll-title="{{roleAbility}}">{{localize (findConfigValue "roleAbilityList" roleAbility)}}:</span>
        </div>
        <div class="section name width-half">
            <input name="data.roleInfo.roleskills.{{role}}.{{roleAbility}}" value="{{roleValue}}" type="number">
        </div>
    </div>
    {{else}}
    {{!-- Secondary Role Abilities --}}
    {{#each roleValue as |subValue subSkill|}}
    <div class="row item white-bg black-fg">
        <div class="section name width-half">
            <span class="rollable ability-name subskill" data-roll-type="roleAbility" data-roll-title="{{subSkill}}">{{localize
                (findConfigValue "roleAbilityList" subSkill)}}:</span>
        </div>
        <div class="section name width-half">
            <input name="data.roleInfo.roleskills.{{role}}.{{roleAbility}}.{{subSkill}}" value="{{subValue}}"
                type="number">
        </div>
    </div>
    {{/each}}
    {{/if}}
    {{/each}}
    {{/each}}
</div>
{{log "END CPR-ROLE.HBS"}}