{{log "CPR-INVENTORY.HBS"}}

<div class="dynamic-list inventory">
      {{#each (findConfigObj "inventoryCategories") as |category c|}}
      <div class="row header black-bg white-fg bold inventory">
            <span class="section name width-quarter" style="flex: 0 0 150px">{{localize category}}</span>
            <span class="section data width-grow">{{localize "CPR.data"}}</span>
            <span class="section action width-quarter right-text">{{localize "CPR.actions"}}</span>
      </div>
      {{!-- Revist...? --}}
      {{#if (eq (getProp (getProp ../actor.filteredItems c) 'length') 0)}}
        <div class="row">You got no {{c}}{{#if (listContains "weapon,vehicle" c)}}s{{/if}}, choomba!</div>
      {{else}}
      {{#each ../actor.items as |item i|}}
      {{#if (compare item.type "===" c)}}
            {{> (generatePartial "systems/cyberpunk-red-core/templates/actor/parts/common/inventory/content/cpr-VAR-content.hbs" c) (mergeForPartialArg "item,actor" this ../../this.actor)}}
      {{/if}}
      {{/each}}
      {{/if}}
      {{/each}}
</div>
{{log "END CPR-INVENTORY.HBS"}}