<form>
  {{!-- Item Header Navigation --}}
  {{> "systems/cyberpunk-red-core/templates/item/parts/cpr-header.hbs"}}
  {{!-- Item Sheet Navigation --}}
  <div class="nav-container black-bg">
    <nav class="tabs" data-group="primary">
      <a class="navtab center-text bold white-fg" data-tab="description">{{localize "CPR.description"}}</a>
      <a class="navtab center-text bold white-fg" data-tab="details">{{localize "CPR.details"}}</a>
    </nav>
  </div>

  {{!-- Item Sheet Body --}}
  <section class="content">
    {{!-- Inventory Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{> "systems/cyberpunk-red-core/templates/item/parts/cpr-description.hbs"}}
    </div>
    <div class="tab" data-group="primary" data-tab="details">
      {{!-- Physical Item stats --}}
      {{> "systems/cyberpunk-red-core/templates/item/parts/details/cpr-details-physical.hbs"}}
      {{!-- Vehicle specific data points --}}
      {{localize "CPR.tags"}}: <input name="data.tags" class="" type="text" value="{{data.tags}}">
      {{localize "CPR.source"}}: <input name="data.source" class="" type="text" value="{{data.source}}"
        placeholder="Desc">
      {{localize "CPR.spd"}}: <input name="data.spd" class="" type="text" value="{{data.spd}}" placeholder="50">
      {{localize "CPR.seats"}}: <input name="data.seats" class="" type="text" value="{{data.seats}}" placeholder="50">
      {{localize "CPR.combatspeed"}}: <input name="data.speedCombat" class="" type="text" value="{{data.speedCombat}}"
        placeholder="50">
      speedNarrative: <input name="data.speedNarrative" class="" type="text" value="{{data.speedNarrative}}"
        placeholder="50">
    </div>
  </section>
</form>