{{trace "CPR-VEHICLE-INV-CONTENT.HBS"}}
<li class="item flexrow{{#if item.data.data.favorite}} favorite{{else}}{{#if (listContains sheet.options.collapsedSections "gearTab-vehicle")}} hide{{/if}}{{/if}}" data-item-id="{{item.data._id}}"
    data-item-category="{{item.type}}" draggable="true">
    <div class="item-name gear-name text-nowrap">
        <a class="name item-edit" title="{{item.name}}&#13Click to view the item&#13Ctrl-Click to send to chat">{{item.name}}</a>
    </div>
    <div class="item-detail gear-data text-nowrap">
    {{localize "CPR.characterSheet.rightPane.vehicle.seats"}}: {{item.data.data.seats}}
    |
    {{localize "CPR.characterSheet.rightPane.vehicle.sdp"}}: {{item.data.data.sdp}}
    |
    {{localize "CPR.characterSheet.rightPane.vehicle.combatSpeed"}}: {{item.data.data.speedCombat}}
    </div>
    <div class="item-detail gear-actions text-nowrap">
        {{> "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-actions.hbs" item}}
    </div>
</li>
{{trace "END CPR-VEHICLE-INV-CONTENT.HBS"}}
