{{trace "CPR-GEAR-INV-CONTENT.HBS"}}
<li class="item flexrow{{#if item.data.favorite}} favorite{{else}}{{#if (listContains sheet.options.collapsedSections "gearTab-gear")}} hide{{/if}}{{/if}}" data-item-id="{{item._id}}"
    data-item-category="{{item.type}}" draggable="true">
    <div class="item-name gear-name text-nowrap">
        <a class="name item-edit" title="{{item.name}}&#13Click to view the item&#13Ctrl-Click to send to chat">{{item.name}}</a> <span class = "{{#if (compare item.data.amount "===" 1)}}zero-not-visible{{/if}}">(x<input name = "item.data.amount" class = "number amount-input" style = "width:30px;text-align:right;" type = "number" data-item-prop = "item.data.amount" value = "{{item.data.amount}}">)</span>
    </div>
    <div class="item-detail gear-data text-nowrap">
        {{localize "CPR.price"}}: {{item.data.price.market}}
    </div>
    <div class="item-detail gear-actions text-nowrap">
        {{> "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-actions.hbs" item}}
    </div>
</li>
{{trace "END CPR-GEAR-INV-CONTENT.HBS"}}
