{{trace "CPR-ARMOR-INV-CONTENT.HBS"}}
<li class="item flexrow{{#if item.data.data.favorite}} favorite{{else}}{{#if (listContains sheet.options.collapsedSections "gearTab-armor")}} hide{{/if}}{{/if}}" data-item-id="{{item.data._id}}"
  data-item-category="{{item.type}}" draggable="true">
  <div class="item-name gear-name text-nowrap">
    <a class="name item-edit" title="{{item.name}}&#13Click to view the item&#13Ctrl-Click to send to chat">{{item.name}}{{#if item.data.data.isUpgraded}}<sup><i class="fab fa-uniregistry"></sup></i>{{/if}}</a>
  </div>
  <div class="item-detail gear-data text-nowrap">
        {{#if item.data.data.isHeadLocation}}
        {{localize "CPR.head"}}: {{ablated item.data.data "head"}}/{{item.data.data.headLocation.sp}} {{localize "CPR.sp"}}
        {{#if item.data.data.isBodyLocation}}|{{/if}}
        {{/if}}
        {{#if item.data.data.isBodyLocation}}
        {{localize "CPR.bodylocation"}}: {{ablated item.data.data "body"}}/{{item.data.data.bodyLocation.sp}} {{localize "CPR.sp"}}
        {{/if}}
        {{#if item.data.data.isShield}}
        {{localize "CPR.shield"}}: {{item.data.data.shieldHitPoints.value}}/{{item.data.data.shieldHitPoints.max}} {{localize "CPR.hitpoints"}}
        {{/if}}
  </div>
  <div class="item-detail gear-actions text-nowrap">
    {{> "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-actions.hbs" item}}
  </div>
</li>
{{trace "END CPR-ARMOR-INV-CONTENT.HBS"}}
