{{!-- New Layout --}}
{{trace "CPR-CHARACTER-SHEET.HBS"}}
<form>
  <div class="actor-sheet character">

    <div class="left-pane bg-white">
      <div class="main-section bg-red">
        {{> "systems/cyberpunk-red-core/templates/actor/parts/left-pane/cpr-image-block.hbs"}}
        {{> "systems/cyberpunk-red-core/templates/actor/parts/left-pane/cpr-handle-block.hbs"}}
        {{> "systems/cyberpunk-red-core/templates/actor/parts/left-pane/cpr-role-block.hbs"}}
        {{> "systems/cyberpunk-red-core/templates/actor/parts/left-pane/cpr-hitpoint-block.hbs"}}
        {{> "systems/cyberpunk-red-core/templates/actor/parts/left-pane/cpr-deathsave-block.hbs"}}
        {{> "systems/cyberpunk-red-core/templates/actor/parts/left-pane/cpr-humanity-block.hbs"}}
        {{> "systems/cyberpunk-red-core/templates/actor/parts/left-pane/cpr-ip-block.hbs"}}

      </div>
      <div class="stats-section bg-red">
        {{> "systems/cyberpunk-red-core/templates/actor/parts/left-pane/cpr-stat-block.hbs"}}
      </div>
    </div>

    <div class="right-pane">
      <div class="right-tabs-section">
        <nav class="navtabs-right cpr-tabs nav" data-group="primary">
          <div class="tab-pink-underlay">
            <a class="skills-tab tab-label text-bold tab-indent" data-tab="skills">{{localize "CPR.skills"}}</a>
          </div>
          <div class="tab-pink-underlay">
            <a class="gear-tab tab-label text-bold tab-indent" data-tab="gear">{{localize "CPR.gear"}}</a>
          </div>
          <div class="tab-pink-underlay">
            <a class="cyberware-tab tab-label text-bold tab-indent" data-tab="cyberware">{{localize "CPR.cyber"}}</a>
          </div>

        </nav>
      </div>
      <div class="right-content-section">
        <div class="tab skills-tab" data-group="primary" data-tab="skills">
          {{> "systems/cyberpunk-red-core/templates/actor/parts/right-pane/cpr-skills.hbs"}}
        </div>
        <div class="tab gear-tab" data-group="primary" data-tab="gear">
          {{> "systems/cyberpunk-red-core/templates/actor/parts/right-pane/cpr-gear.hbs"}}
        </div>
        <div class="tab cyberware-tab" data-group="primary" data-tab="cyberware">
          {{> "systems/cyberpunk-red-core/templates/actor/parts/right-pane/cpr-cyberware.hbs"}}
        </div>

      </div>
    </div>
    <div class="bottom-pane">
      <div class="bottom-tabs-section">
        <nav class="navtabs-bottom cpr-tabs nav" data-group="primary">
          <div class="tab-pink-underlay">
            <a class="tab-label text-bold tab-indent" data-tab="role">{{localize "CPR.role"}}</a>
          </div>
          {{!-- <a class="navtab center-text bold white-fg" data-tab="role">{{localize "CPR.role"}}</a> --}}
          <div class="tab-pink-underlay">
            <a class="tab-label text-bold tab-indent" data-tab="fight">{{localize "CPR.fight"}}</a>
          </div>
          <div class="tab-pink-underlay">
            <a class="tab-label text-bold tab-indent" data-tab="lifepath">{{localize "CPR.lifepath"}}</a>
          </div>
        </nav>
      </div>
      <div class="bottom-content-section">
        <div class="tab role-tab" data-group="primary" data-tab="role">
          {{> "systems/cyberpunk-red-core/templates/actor/parts/bottom-pane/cpr-role.hbs"}}
        </div>
        <div class="tab fight-tab" data-group="primary" data-tab="fight">
          {{> "systems/cyberpunk-red-core/templates/actor/parts/bottom-pane/cpr-fight.hbs"}}
        </div>
        <div class="tab lifepath-tab" data-group="primary" data-tab="lifepath">
          {{> "systems/cyberpunk-red-core/templates/actor/parts/bottom-pane/cpr-lifepath.hbs"}}
        </div>
      </div>
</form>
{{trace "END CPR-CHARACTER-SHEET.HBS"}}