{{!-- New Layout --}}
{{log "CPR-CHARACTER-SHEET.HBS"}}
<form>
  <div class="sheet-content character">

    <div class="left-pane bg-white">
      <div class="main-section bg-red">
        {{> "systems/cyberpunk-red-core/templates/actor/parts/common/cpr-image-block.hbs"}}
        {{> "systems/cyberpunk-red-core/templates/actor/parts/common/cpr-handle-block.hbs"}}
        {{> "systems/cyberpunk-red-core/templates/actor/parts/character-blocks/cpr-role-block.hbs"}}
        {{> "systems/cyberpunk-red-core/templates/actor/parts/common/cpr-hitpoint-block.hbs"}}
        {{> "systems/cyberpunk-red-core/templates/actor/parts/common/cpr-deathsave-block.hbs"}}
        {{> "systems/cyberpunk-red-core/templates/actor/parts/character-blocks/cpr-humanity-block.hbs"}}
      </div>
      <div class="stats-section bg-red">
        {{> "systems/cyberpunk-red-core/templates/actor/parts/common/cpr-stat-block.hbs"}}
      </div>
    </div>

    <div class="right-pane">
      <div class="right-tabs-section">
        <nav class="tabs nav" data-group="primary">
          <a class="navtab skills-tab center-text bold white-fg" data-tab="skills">{{localize "CPR.skills"}}</a>
          {{!-- <a class="navtab center-text bold white-fg" data-tab="role">{{localize "CPR.role"}}</a> --}}
          <a class="navtab gear-tab center-text bold white-fg" data-tab="inventory">{{localize "CPR.gear"}}</a>
          <a class="navtab cyberware-tab center-text bold white-fg" data-tab="cyberware">{{localize "CPR.cyber"}}</a>
          {{!-- <a class="navtab center-text bold white-fg" data-tab="information">{{localize "CPR.info"}}</a> --}}
          {{!-- <a class="navtab center-text bold white-fg" data-tab="debug">DEBUG</a> --}}
        </nav>
      </div>
      <div class="right-content-section">
        <div class="tab skills-tab" data-group="primary" data-tab="skills">
          {{> "systems/cyberpunk-red-core/templates/actor/parts/tabs/cpr-skills.hbs"}}
        </div>
        {{!--
        <div class="tab role-tab" data-group="primary" data-tab="role">
          {{> "systems/cyberpunk-red-core/templates/actor/parts/tabs/cpr-role.hbs"}}
        </div>
        --}}
        <div class="gear-tab tab" data-group="primary" data-tab="inventory">
          {{> "systems/cyberpunk-red-core/templates/actor/parts/tabs/cpr-inventory.hbs"}}
        </div>
        <div class="cyberware-tab tab" data-group="primary" data-tab="cyberware">
          {{> "systems/cyberpunk-red-core/templates/actor/parts/tabs/cpr-cyberware.hbs"}}
        </div>
        {{!-- 
        <div class="information-tab tab" data-group="primary" data-tab="information">
          {{> "systems/cyberpunk-red-core/templates/actor/parts/tabs/cpr-information.hbs"}}
        </div>
        --}}
        {{!-- <div class="debug-tab tab" data-group="primary" data-tab="debug">
          {{> "systems/cyberpunk-red-core/templates/actor/parts/tabs/cpr-item-debug.hbs"}}
        </div> --}}
      </div>
    </div>


    <div class="bottom-container">
      {{> "systems/cyberpunk-red-core/templates/actor/parts/common/cpr-combat-block.hbs"}}
    </div>
</form>
{{log "END CPR-CHARACTER-SHEET.HBS"}}