{{trace "CPR-MOOK-SKILLS.HBS"}}
{{log this}}
<div class="items-header bg-red fg-white flexrow">
    <span class="item-name section-name text-nowrap text-padding-left">
      {{localize "CPR.skills"}}
    </span>
  </div>
<ol class="items-list fg-black">
  {{#each (sort actor.filteredItems.skill "name") as |skill s|}}
    {{log skill}}
    {{#if (compare skill.data.level ">" 0)}}
      <li class="item skill-name flexrow" data-item-id="{{skill._id}}" data-skill-category="{{skill.data.category}}">
        <div class="item-name text-nowrap">
          <a class="rollable" data-roll-type="skill" data-roll-title="{{skill.name}}">
            {{skill.name}} (+{{skill.data.level}})
          </a>
        </div>
      </li>
    {{/if}}
  {{/each}}
</ol>
{{trace "END CPR-MOOK-SKILLS.HBS"}}