{{trace "CPR-MOOK-ARMOR.HBS"}}
<div class="armor-section">
  <li class="items-header flexrow">
    <span class="item-name section-name fg-white bg-black text-nowrap text-padding-left">
      {{localize "CPR.armor"}}
    </span>
  </li>
  <div class="armor-content">
    <ol class="items-list fight-armor-list">
      {{#each (sort actor.filteredItems.armor "name") as |armor| }}
      {{#if (compare armor.data.equipped "===" "equipped")}}
      <li class="item armor-piece">
      <li class="flex-space-between item flexrow" data-item-id="{{armor._id}}">
        <div class="item-name armor-name text-nowrap"><a class="name item-edit">{{armor.name}}</a>
        </div>

      </li>
      {{#if armor.data.isHeadLocation}}
      <li class="flex-space-between">
        <div class="text-padding-left">{{localize "CPR.head"}}</div>
        <div>
          {{#if (compare armor.data.headLocation.ablation ">" 0)}}
          <span class="fg-red">
            {{/if}}
            {{math "subtract" armor.data.headLocation.sp armor.data.headLocation.ablation}}
            {{#if (compare armor.data.headLocation.ablation ">" 0)}}
          </span>
          {{/if}}
          /{{armor.data.headLocation.sp}}
          <a class="ablate" data-location="head"><i class="far fa-arrow-alt-circle-down" title="Ablate Armor"></i></a>
        </div>
      </li>
      {{/if}}
      {{#if armor.data.isBodyLocation}}
      <li class="flex-space-between">
        <div> {{localize "CPR.bodylocation"}}</div>
        <div>
          {{#if (compare armor.data.bodyLocation.ablation ">" 0)}}
          <span class="fg-red">
            {{/if}}
            {{math "subtract" armor.data.bodyLocation.sp armor.data.bodyLocation.ablation}}
            {{#if (compare armor.data.bodyLocation.ablation ">" 0)}}
          </span>
          {{/if}}
          /{{armor.data.bodyLocation.sp}}
          <a class="ablate" data-location="body"><i class="far fa-arrow-alt-circle-down" title="Ablate Armor"></i></a>

        </div>
      </li>
      {{/if}}
      {{#if armor.data.isShield}}
      <li class="flex-space-between">
        <div> {{localize "CPR.shield"}}</div>
        <div>
          {{#if (compare armor.data.shieldHitPoints.value "<" armor.data.shieldHitPoints.max)}} <span class="fg-red">
            {{/if}}
            {{armor.data.shieldHitPoints.value}}
            {{#if (compare armor.data.shieldHitPoints.value "<" armor.data.shieldHitPoints.max)}} </span>
              {{/if}}
              /{{armor.data.shieldHitPoints.max}}
              <a class="ablate" data-location="shield"><i class="far fa-arrow-alt-circle-down"
                  title="Damage Shield"></i></a>

        </div>
      </li>
      {{/if}}
      </li>
      {{/if}}
      {{/each}}
    </ol>
  </div>
</div>
{{trace "END CPR-MOOK-ARMOR.HBS"}}