{{cprTrace "CPR-CYBERDECK.HBS"}}
{{!-- Cyberdeck Item Settings--}}
{{!-- Cyberdeck Quality Settings--}}
<li class="item flexrow">
    <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.global.itemTypes.cyberdeck"}} {{localize "CPR.itemSheet.common.quality"}}
    </div>
    <div class="item flexrow setting-value text-nowrap item-end">
        <select name="data.quality" data-dtype="{{data.data.quality}}">
            {{#select data.data.quality}}
                {{#each (cprFindConfigObj "itemQuality") as |quality q| }}
                    <option value="{{q}}">{{localize quality}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
</li>

{{!-- Cyberdeck Slots Settings--}}
<li class="item flexrow">
    <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.itemSheet.cyberdeck.hardwareProgramSlots"}} {{cprShowUpgrade this.item "slots"}}
    </div>
    <div class="item flexrow setting-value text-nowrap item-end">
        <input name="data.slots" class="" type="number" value="{{data.data.slots}}">
    </div>
</li>

{{!-- Cyberdeck Installed Programs Settings--}}
<li class="item flexrow">
    <div class="item flexrow setting-name text-nowrap text-bold">
        <a class="select-installed-programs" data-item-prop="select-installed-programs">
            {{localize "CPR.itemSheet.cyberdeck.configureInstalledPrograms"}}
            <i class="text-smallest text-super fas fa-wrench"></i>
        </a>
    </div>
    <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.itemSheet.cyberdeck.availableSlots"}}: {{data.data.availableSlots}}
    </div>
</li>
<div class="installed-programs">

</div>
{{#each data.data.programs.installed as |program|}}
    <li class="item flexrow">
        <div class="item flexrow setting-name text-nowrap">
            {{#if (cprListContains "speed,attack,defense" program.data.class)}}
                &nbsp;{{program.name}} ({{localize program.data.class}}) &nbsp;
                <a class="program-uninstall" data-item-id="{{program._id}}">
                    <i class="fas fa-folder-minus fg-red" title="{{localize "CPR.itemSheet.cyberdeck.eraseProgram"}}"></i>
                </a>
            {{else}}
                &nbsp;{{program.name}} ({{localize (cprFindConfigValue "programClassList" program.data.class)}}) &nbsp;
                <a class="program-uninstall" data-item-id="{{program._id}}">
                    <i class="fas fa-folder-minus fg-red" title="{{localize " CPR.itemSheet.cyberdeck.eraseProgram"}}"></i>
                </a>
            {{/if}}
        </div>
    </li>
{{/each}}
{{cprTrace "END CPR-CYBERDECK.HBS"}}
