{{cprTrace "START ITEM SETTINGS CPR-ITEMUPGRADE.HBS"}}
{{log "START ITEM SETTINGS CPR-ITEMUPGRADE.HBS"}}
{{!-- Upgrade Installed Setting --}}
<li class="item flexrow">
    <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.itemSheet.itemUpgrade.upgradeType"}}
    </div>
    <div class="item flexrow setting-value text-nowrap item-end">
        {{#if this.editable}}
            <select name="system.type" data-dtype="{{item.system.type}}">
                {{#select item.system.type}}
                    {{#each (cprEntityTypes "Item") as |itemType|}}
                        {{#if (cprHasTemplate itemType "upgradable")}}
                            <option value="{{itemType}}">{{localize (cprFindConfigValue "objectTypes" itemType)}}</option>
                        {{/if}}
                    {{/each}}
                {{/select}}
            </select>
        {{else}}
            <span class="text-flex-end">{{localize (cprFindConfigValue "objectTypes" item.type)}}</span>
        {{/if}}
    </div>
</li>

{{!-- If this is a weapon type, see if it is an additional weapon to what it is being--}}
{{#if (cprCompare (cprCompare item.system.type "===" "weapon") "||" (cprCompare item.system.type "===" "cyberware"))}}
    <li class="item flexrow">
        <div class="item flexrow setting-name text-nowrap">
            {{localize "CPR.itemSheet.itemUpgrade.isSecondaryWeapon"}}
        </div>
        <div class="item flexrow setting-value text-nowrap item-end">
            {{#if this.editable}}
                <select name="system.modifiers.secondaryWeapon.configured" data-dtype="text">
                    {{#select item.system.modifiers.secondaryWeapon.configured}}
                        <option value="false">{{localize "CPR.global.generic.false"}}</option>
                        <option value="true">{{localize "CPR.global.generic.true"}}</option>
                    {{/select}}
                </select>
            {{else}}
                <span class="text-flex-end">{{data.data.modifiers.secondaryWeapon.configured}}</span>
            {{/if}}
        </div>
    </li>
    {{#if item.system.modifiers.secondaryWeapon.configured}}
      {{> "systems/cyberpunk-red-core/templates/item/settings/mixin/cpr-attackable.hbs" this}}
    {{/if}}
{{/if}}

{{!-- Size of the upgrade --}}

<li class="item flexrow">
    <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.itemSheet.itemUpgrade.installationSize"}}
    </div>
    <div class="item flexrow setting-value text-nowrap item-end">
        {{#if this.editable}}
            <input name="system.size" class="" type="number" value="{{item.system.size}}">
        {{else}}
            <span class="text-flex-end">{{item.system.size}}</span>
        {{/if}}
    </div>
</li>
<hr>
{{localize "CPR.itemSheet.itemUpgrade.upgradeOverview"}}
<hr>
{{!-- Cyberware has no upgradable data points, but could have a weapon attachment --}}

{{#if (cprCompare system.type "!==" "cyberware")}}
    <li class="item flexrow">
        <div class="item flexrow setting-name text-nowrap">
            {{localize "CPR.itemSheet.itemUpgrade.dataPoint"}}
        </div>
        <div class="item flexrow setting-type text-nowrap">
            {{localize "CPR.itemSheet.itemUpgrade.modifierType"}}
        </div>
        <div class="item flexrow setting-value text-nowrap item-end">
            {{localize "CPR.itemSheet.itemUpgrade.modifierValue"}}
        </div>
    </li>

    {{#each (cprFindConfigValue "upgradableDataPoints" item.system.type) as |dataPoint dp|}}
        {{#if (cprListContains (cprGetProp (cprFindConfigValue "upgradableDataPoints" "upgradeConfig") "configurableTypes") dataPoint.type)}}
            <li class="item flexrow">
                <div class="item flexrow setting-name text-nowrap">
                    {{localize dataPoint.localization}}
                </div>
                <div class="item flexrow setting-type text-nowrap">
                    <select name="system.modifiers.{{dp}}.type" data-dtype="{{cprGetProp (cprGetProp ../item.system.modifiers dp) "type"}}">
                        {{#select (cprGetProp (cprGetProp ../item.system.modifiers dp) "type")}}
                            {{#each (cprGetProp (cprFindConfigValue "upgradableDataPoints" "upgradeConfig") "configurableTypes") as |configType ct|}}
                            {{#unless (cprCompare (cprListContains "clothing,gear" ../../item.system.type) "&&" (cprCompare ct "!==" "modifier"))}}
                                <option value="{{ct}}">{{localize configType}}</option>
                                {{/unless}}
                            {{/each}}
                        {{/select}}
                    </select>
                </div>
                <div class="item flexrow setting-value text-nowrap item-end">
                    {{#if ../this.editable}}
                        <input name="system.modifiers.{{dp}}.value" class="" type="number" value="{{cprGetProp (cprGetProp ../item.system.modifiers dp) "value"}}">
                    {{else}}
                        <span class="text-flex-end">{{cprGetProp (cprGetProp ../item.system.modifiers dp) "value"}}</span>
                    {{/if}}
                </div>
            </li>
        {{/if}}
    {{/each}}
{{/if}}
{{#if (cprCompare (cprCompare item.system.type "===" "weapon") "||" (cprCompare item.system.type "===" "cyberware"))}}
    <li class="item flexrow">
        <div class="item flexrow setting-name text-nowrap">
            {{localize "CPR.itemSheet.itemUpgrade.isSecondaryWeapon"}}
        </div>
        <div class="item flexrow setting-value text-nowrap item-end">
            {{#if this.editable}}
                <select name="system.modifiers.secondaryWeapon.configured" data-dtype="text">
                    {{#select item.system.modifiers.secondaryWeapon.configured}}
                        <option value="false">{{localize "CPR.global.generic.false"}}</option>
                        <option value="true">{{localize "CPR.global.generic.true"}}</option>
                    {{/select}}
                </select>
            {{else}}
                <span class="text-flex-end">{{item.system.modifiers.secondaryWeapon.configured}}</span>
            {{/if}}
        </div>
    </li>
    {{#if (cprCompare item.system.modifiers.secondaryWeapon.configured "===" "true")}}
      {{> "systems/cyberpunk-red-core/templates/item/settings/mixin/cpr-attackable.hbs" this}}
    {{/if}}
{{/if}}
{{cprTrace "END CPR-ITEMUPGRADE.HBS"}}
