{{cprTrace "CPR-EFFECTS.HBS"}}
<span class="text-large">{{localize "CPR.itemSheet.effects.effects"}}</span>
<br>
{{#each item.data.effects}}
    {{!-- "effects" is a Map, so "this" is now an Active Effects object within the #each loop! --}}
    <li class="item effect flexrow" data-effect-id="{{this.data._id}}">
        <div class="item-name effect-name flexrow">
            <img class="item-effect-image" src="{{this.data.icon}}" />
            <h4>{{this.data.label}}</h4>
        </div>
        <div class="item-controls effect-controls flexrow">
            <a class="effect-control" data-action="toggle" title="{{localize "CPR.itemSheet.effects.toggleEffectDesc"}}">
                <i class="far {{#if this.data.disabled}}fa-circle{{else}}fa-check-circle{{/if}}"></i>
            </a>
            <a class="effect-control" data-action="edit" title="{{localize "CPR.itemSheet.effects.editEffectDesc"}}">
                <i class="fas fa-edit"></i>
            </a>
            <a class="effect-control" data-action="delete" title="{{localize "CPR.itemSheet.effects.deleteEffectDesc"}}">
                <i class="fas fa-trash"></i>
            </a>
        </div>
    </li>
{{/each}}
<br>
<div class="item-controls effect-controls flexrow">
    <a class="effect-control" data-action="create" title="{{localize 'CPR.itemSheet.effects.createEffectDesc'}}">
        <i class="fas fa-plus"></i> {{localize "CPR.itemSheet.effects.createEffect"}}
    </a>
</div>
{{cprTrace "END CPR-EFFECTS.HBS"}}