{{cprTrace "CPR-PHYSICAL.HBS"}}
<li class="item flexrow">
    <div class="item flexrow setting-name text-nowrap" title="
      {{#if (cprCompare data.type "===" "ammo")}}
        {{localize "CPR.itemSheet.physical.priceHoverExplanationAmmo"}}
      {{else}}
        {{localize "CPR.itemSheet.physical.priceHoverExplanation"}}
      {{/if}}
      ">
        {{localize "CPR.itemSheet.physical.price.price"}}
    </div>
    <div class="item flexrow setting-value text-nowrap item-end">
        {{#if this.editable}}
            <input name="data.price.market" class="" type="number" value="{{data.data.price.market}}">
        {{else}}
            <span class="text-flex-end">{{data.data.price.market}}</span>
        {{/if}}
    </div>
</li>

<li class="item flexrow">
    <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.itemSheet.physical.price.category"}}
    </div>
    <div class="item flexrow setting-value text-nowrap item-end">
        {{#if this.editable}}
        <select name="data.price.category" data-dtype="{{data.data.price.category}}">
            {{#select data.data.price.category}}
                {{#each (cprFindConfigObj "itemPriceCategory") as |category c|}}
                    <option value="{{c}}">{{localize category}}</option>
                {{/each}}
            {{/select}}
        </select>
        {{else}}
            <span class="text-flex-end">{{localize (cprFindConfigValue "itemPriceCategory" data.data.price.category)}}</span>
        {{/if}}
    </div>
</li>

<li class="item flexrow">
    <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.itemSheet.physical.concealable"}}
    </div>
    <div class="item flexrow setting-value text-nowrap item-end">
        {{#if this.editable}}
            <a class="item-checkbox" data-target="data.concealable.concealable"><i class="far fa{{#if data.data.concealable.concealable}}-check{{/if}}-circle"></i></a>
        {{else}}
            <span><i class="far fa{{#if data.data.concealable.concealable}}-check{{/if}}-circle"></i></span>
        {{/if}}
    </div>
</li>

{{#if this.isOwned}}
    {{#if data.data.concealable.concealable}}
        {{log data}}
        <li class="item flexrow">
            <div class="item flexrow setting-name text-nowrap">
                {{localize "CPR.itemSheet.physical.concealed"}}
            </div>
            <div class="item flexrow setting-value text-nowrap item-end">
                {{#if this.editable}}
                    <a class="item-checkbox" data-target="data.concealable.isConcealed"><i class="far fa{{#if data.data.concealable.isConcealed}}-check{{/if}}-circle"></i></a>
                {{else}}
                    <span><i class="far fa{{#if data.data.concealable.isConcealed}}-check{{/if}}-circle"></i></span>
                {{/if}}
            </div>
        </li>
    {{/if}}

    <li class="item flexrow">
        <div class="item flexrow setting-name text-nowrap">
            {{localize "CPR.itemSheet.physical.location"}}
        </div>
        <div class="item flexrow setting-value text-nowrap item-end">
            {{#if this.editable}}
            <select name="data.equipped" data-dtype="{{data.data.equipped}}">
                {{#select data.data.equipped}}
                    {{#each (cprFindConfigObj "equipped") as |equipped e|}}
                        <option value="{{e}}">{{localize equipped}}</option>
                    {{/each}}
                {{/select}}
            </select>
            {{else}}
                <span class="text-flex-end">{{localize (cprFindConfigValue "equipped" data.data.equipped)}}</span>
            {{/if}}
        </div>
    </li>
{{/if}}
{{cprTrace "END CPR-PHYSICAL.HBS"}}
