{{trace "CPR-BLACK-ICE-SHEET.HBS"}}
{{log this}}
<form>
  <div class="bice-sheet">
    <div class="bice-stats bg-red fg-white text-normal">
      <div class="bice-top flexrow">
        <div class="text-right width-long">&#9701;</div>
        <div class="flexrow width-long">
          <div>&#9700;</div>
          <div class="text-right">&#9701;</div>
        </div>
        {{#each (findConfigObj "blackIceStatList")}}
          <div class="flexrow">
            <div>&#9700;</div>
            <div class="text-right">&#9701;</div>
          </div>
        {{/each}}
        <div>&#9700;</div>
      </div>
      <div class="bice-head flexrow text-center block-label">
        <div class="width-long">{{localize "CPR.name"}}</div>
        <div class="width-long">{{localize "CPR.class"}}</div>
        {{#each (findConfigObj "blackIceStatList") as |stat s|}}
          <div>
            {{localize stat}}
          </div>
        {{/each}}
        <div>
          {{localize "CPR.cost"}}
        </div>
      </div>
      <div class="bice-val flexrow pad-thin">
        <div class="block-data width-long bg-white fg-black">
          <input name="name" type="text" value="{{actor.name}}"/>
        </div>
        <div class="width-long">
          <select name="data.class">
            {{#select data.class}}
              {{#each (findConfigObj "blackIceType") as |class c|}}
                <option value="{{c}}">{{localize class}}</option>
              {{/each}}
            {{/select}}
          </select>
        </div>
        {{#each (findConfigObj "blackIceStatList") as |stat s|}}
          {{#if (compare s "===" "rez")}}
            <div class="min-of-max-container">
              <input class="text-center" name="data.stats.rez.value" type="number" value="{{data.stats.rez.value}}" />
              <div class="of bg-red fg-white text-normal text-bold">of</div>
              <input class="text-center" name="data.stats.rez.max" type="number" value="{{data.stats.rez.max}}" />
            </div>
          {{else}}
            <div class="block-data text-large">
              <input name="data.stats.{{s}}" type="number" value="{{this.s}}"/>
            </div>
          {{/if}}
        {{/each}}
        <div class="block-data text-large">
          <input name="data.cost" type="number" value="{{data.cost}}"/>
        </div>
      </div>
    </div>
    <div class="bice-effects flexrow bg-red pad-thin">
      <span class="fg-white">{{localize "CPR.effects"}}:</span>
      <input class="bg-white fg-black width-longer" name="data.effect" type="text" value="{{data.effect}}"/>
    </div>
    <div class="bice-icon flexrow bg-red pad-thin">
      <span class="fg-white">{{localize "CPR.icon"}}:</span>
      <input class="bg-white fg-black width-longer" name="data.icon_desc" type="text" value="{{data.icon_desc}}"/>
    </div>
  </div>
</form>
{{trace "END CPR-BLACK-ICE-SHEET.HBS"}}
