{{trace "CPR-NETARCH.HBS"}}
<div class="item-description-tab">
    <div class="item-summary-section">
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.price"}}:</span>
            <span class="summary-value">{{data.price.market}}</span>
        </div>
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.market"}}:</span>
            <span class="summary-value">{{localize (findConfigValue "itemPriceCategory" data.price.category)}}</span>
        </div>
    </div>
    <div class="item-description-section">
        {{editor content=data.description.value target="data.description.value" button=true owner=owner
        editable=editable}}
    </div>
</div>
<div class=""></div>
<div class="item-netarch-section">
  <li class="items-header flexrow">
    <span class="item-name netarch-level fg-white bg-black text-nowrap text-padding-left">{{localize "CPR.netarchfloorlevel"}}</span>
    <span class="item-name netarch-dv fg-white bg-black text-nowrap text-padding-left">{{localize "CPR.netarchfloordv"}}</span>
    <span class="item-name netarch-content fg-white bg-black text-nowrap text-padding-left">{{localize "CPR.netarchfloordata"}}</span>
    <span class="item-name netarch-actions fg-white bg-black text-nowrap text-padding-left">
      <a class="netarch-level-action" data-action-type="create" data-action-target="-1"><i class="fas fa-plus-circle text-padding-right" title="{{localize "CPR.netarchfloorcreate"}}"></i></a>
    </span>
  </li>
  <div class="netarch-list-content">
    <ol class="items-list">
      {{#each (sort data.floors "index") as |floor|}}
        <li class=" item-netarch-grid item flexrow">
          <div class="netarch-level">{{floor.level}}</div>
          <div class="netarch-dv">{{floor.dv}}</div>
          <div class="netarch-content">{{floor.content}}</div>
          <div class="netarch-actions">
            <a class="netarch-level-action" data-action-type="up" data-action-target="{{floor.index}}"><i class="fas fa-arrow-up fg-black" title="{{localize "CPR.netarchfloormoveup"}}"></i></a>
            <a class="netarch-level-action" data-action-type="down" data-action-target="{{floor.index}}"><i class="fas fa-arrow-down fg-black" title="{{localize "CPR.netarchfloormovedown"}}"></i></a>
            <a class="netarch-level-action" data-action-type="edit" data-action-target="{{floor.index}}"><i class="fas fa-edit fg-black" title="{{localize "CPR.netarchflooredit"}}"></i></a>
            <a class="netarch-level-action" data-action-type="delete" data-action-target="{{floor.index}}"><i class="fas fa-trash-alt fg-red" title="{{localize "CPR.netarchfloordelete"}}"></i></a>
          </div>
        </li>
      {{/each}}
    </ol>
  </div>
  <div class="netarch-generate-auto fg-white"><i class="fas fa-cog fa-sm fg-white"></i>{{localize "CPR.netarchgenerateauto"}}</div>
  <div class="netarch-generate-custom fg-white"><i class="fas fa-cog fa-sm fg-white"></i>{{localize "CPR.netarchgeneratecustom"}}</div>
</div>
{{trace "END CPR-NETARCH.HBS"}}
