{{trace "CPR-CYBERWARE.HBS"}}
<div class="item-description-tab">
    <div class="item-summary-section">
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.global.generic.price"}}:</span>
            <span class="summary-value">{{data.data.price.market}}</span>
        </div>
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.market"}}:</span>
            <span class="summary-value">{{localize (findConfigValue "itemPriceCategory" data.data.price.category)}}</span>
        </div>
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.global.generic.install"}}: </span>
            <span class="summary-value">{{localize (findConfigValue "cyberwareInstallList" data.data.install)}}</span>
        </div>
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.statichl"}}:</span>
            <span class="summary-value">{{data.data.humanityLoss.static}}</span>
        </div>
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.rollhl"}}:</span>
            <span class="summary-value">{{data.data.humanityLoss.roll}}</span>
        </div>

        {{#if data.data.hasOptionSlots}}
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.optionslots"}}:</span>
            <span class="summary-value">{{data.data.optionSlots}}</span>
        </div>
        <div class="item-summary-line">
            <span class="text-bold summary-name">&nbsp;{{localize "CPR.ablation"}}:</span>
            <span class="summary-value">{{data.data.headLocation.ablation}}</span>
        </div>
        {{/if}}
    </div>
    <div class="item-description-section">
        {{editor content=data.data.description.value target="data.description.value" button=true owner=owner
        editable=editable}}
    </div>
</div>
{{trace "END CPR-CYBERWARE.HBS"}}
