{{trace "CPR-VEHICLE.HBS"}}
<div class="item-description-tab">
    <div class="item-summary-section">
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.price"}}:</span>
            <span class="summary-value">{{data.data.price.market}}</span>
        </div>
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.market"}}:</span>
            <span class="summary-value">{{localize (findConfigValue "itemPriceCategory" data.data.price.category)}}</span>
        </div>
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.seats"}}:</span>
            <span class="summary-value">{{data.data.seats}}</span>
        </div>
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.sdp"}}:</span>
            <span class="summary-value">{{data.data.sdp}}</span>
        </div>
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.combatspeed"}}:</span>
            <span class="summary-value">{{data.data.speedCombat}}</span>
        </div>
    </div>
    <div class="item-description-section">
        {{editor content=data.data.description.value target="data.description.value" button=true owner=owner
        editable=editable}}
    </div>
</div>
{{trace "END CPR-VEHICLE.HBS"}}
