<div class="item-description-tab">
    <div class="item-summary-section">
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.price"}}:</span>
            <span class="summary-value">{{data.price.market}}</span>
        </div>
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.market"}}:</span>
            <span class="summary-value">{{localize (findConfigValue "itemPriceCategory" data.price.category)}}</span>
        </div>
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.static"}} HL:</span>
            <span class="summary-value">{{data.humanityLoss.static}}</span>
        </div>
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.roll"}} HL:</span>
            <span class="summary-value">{{data.humanityLoss.roll}}</span>
        </div>

        {{#if data.hasOptionSlots}}
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.optionslots"}}:</span>
            <span class="summary-value">{{data.optionSlots}}</span>
        </div>
        <div class="item-summary-line">
            <span class="text-bold summary-name">&nbsp;{{localize "CPR.ablation"}}:</span>
            <span class="summary-value">{{data.headLocation.ablation}}</span>
        </div>
        {{/if}}
    </div>
    <div class="item-description-section">
        <div class="item-description-section">

            <div class="editor">
                {{editor content=data.description.value target="data.description.value" button=true owner=owner
                editable=editable}}
            </div>

        </div>
    </div>
</div>