{{log "CPR-WEAPON-INV-HEADER.HBS"}}
{{log "THIS"}}
{{log this}}
{{log "../THIS"}}
{{log ../this}}
{{log "ITEM"}}
{{log item}}
<div class="row row-header inventory">
    <span class="row-section ">{{localize this}}</span>
    <span class="row-section ">{{localize "CPR.type"}}</span>
    <span class="row-section ">{{localize "CPR.magazine"}}</span>
    <span class="row-section ">{{localize "CPR.actions"}}</span>
</div>
{{log "CPR-WEAPON-INV-HEADER.HBS"}}