{{log "CPR-SUPPRESSIVE-FIRE-ROLLCARD.HBS"}}
<div class="rollcard-body">
  <div class="rollcard-top">
    <div class="cpr-block chat-rollTitle-stat">
      <div class="text-center text-padding-top">{{rollTitle}}</div>
    </div>
  </div>
  <div class="rollcard-bottom">
    {{!-- rollcard body --}}
    <div class="cpr-block">
      <div class="rollcard">
        <div class="dice-div">
          {{!-- die image for initialRoll --}}
          {{#if wasCritical}}
            <i class="d10 {{numToWord initialRoll}}"></i>
            {{#if wasCritSuccess}}
              <i class="fas fa-plus text-center"></i>
            {{else}}
              <i class="fas fa-minus text-center"></i>
            {{/if}}
            <i class="d10 {{numToWord (math "abs" criticalRoll)}}"></i>
          {{else}}
            <i class="d10 {{numToWord initialRoll}} black"></i>
          {{/if}}
        </div>
        <div class="total-div">
          <span class="{{#if wasCritical}}fg-red text-bold{{/if}}">{{resultTotal}}</span>
        </div>
        <div class="info-div">
          {{localize statName}} + {{statValue}}<br>
          {{localize skillName}} + {{skillValue}}<br>
          {{#if mods}}
          <span class="text-nowrap">{{localize "CPR.rollmods"}}: {{mods}}</span>
          <div class="chat-rollTotal text-bold text-nowrap">{{localize "CPR.mods"}} {{localize "CPR.total"}}: {{totalMods}}</div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
{{log "END CPR-SUPPRESSIVE-FIRE-ROLLCARD.HBS"}}