{{log "CPR-ROLLCARD.HBS"}}
{{#ifEquals rollType "damage"}}
<div class="chat-rollCard" data-roll-type="{{rollType}}">
    <h1 class="chat-rollTitle-{{rollType}}">The {{rollTitle}} tears through flesh!</h1>
    <section>
        <table>
            <tr>
                <td>
                    <h2>{{resultTotal}}{{#if wasCritical}}!{{/if}}</h2>
                    {{#each diceResults as |die|}}
                    <span>{{die}}</span>
                    {{/each}}
                </td>
                <td>
                    {{#if wasCritical}}
                    Roll: {{diceTotal}} <br>
                    Criticals: {{crits}} <br>
                    Bonus Damage: {{bonusDamage}} <br>
                    {{else}}
                    Roll: {{diceTotal}} <br>
                    {{/if}}
                    <div class="chat-rollTotal">Result Total: {{resultTotal}}</div><br>
                    Location: {{location}} <br>
                </td>
            </tr>
        </table>
    </section>
</div>
{{else}}
<div class="chat-rollCard" data-roll-type="{{rollType}}">
    <h2 class="chat-rollTitle-{{rollType}}">The {{rollTitle}} hammers in the night</h2>
    <section>
        <table>
            <tr>
                <td>
                    <h1>{{resultTotal}}</h1>
                </td>
                <td>
                    {{#if wasCritical}}
                    Roll: {{initialRoll}} <br>
                    Critical Roll: {{criticalRoll}} <br>
                    <div class="chat-rollTotal">Total: {{rollTotal}}</div> <br>
                    {{else}}
                    Roll: {{initialRoll}} <br>
                    {{/if}}

                    {{#if mods}}
                    Roll Modifiers: {{mods}} <br>
                    <div class="chat-rollTotal">Mods Total: {{modsTotal}}</div><br>
                    {{/if}}
                    Stat Level: {{statValue}} <br>
                    Skill Level: {{skillValue}} <br>
                    <div class="chat-rollTotal">Result Total: {{resultTotal}}</div><br>
                </td>

            </tr>
        </table>
    </section>
</div>
{{/ifEquals}}
{{log "END CPR-ROLLCARD.HBS"}}