{{log "CPR-ROLLCARD.HBS"}}
{{log this}}
{{!-- If this is a damage roll --}}
{{#if (eq rollType "damage")}}
<div class="white-bg" data-roll-type="{{rollType}}">
  <div class="cpr-block horizontal half-height chat-rollTitle-{{rollType}}">
    <p class="center-text width-grow large-text">Damage</p>
  </div>

  {{!-- rollcard body --}}
  <div class="rollcard-body cpr-block rollcard">

    <div class="total-div right-text">
      <span class="massive-text {{#if wasCritical}}red-fg bold{{/if}}">{{resultTotal}}</span>
    </div>

    <div class="dice-div large-text">
      {{#each diceResults as |die|}}
      {{log die}}
      {{#if (eq die 1)}}
      <i class="fas fa-dice-one"></i>
      {{/if}}
      {{#if (eq die 2)}}
      <i class="fas fa-dice-two"></i>
      {{/if}}
      {{#if (eq die 3)}}
      <i class="fas fa-dice-three"></i>
      {{/if}}
      {{#if (eq die 4)}}
      <i class="fas fa-dice-four"></i>
      {{/if}}
      {{#if (eq die 5)}}
      <i class="fas fa-dice-five"></i>
      {{/if}}
      {{#if (eq die 6)}}
      <i class="fas fa-dice-six"></i>
      {{/if}}
      {{/each}}
    </div>

    <div class="info-div right-text">
      {{#if wasCritical}}
      <span>Bonus Damage: {{bonusDamage}}</span>
      {{else}}
      {{/if}}
      <span>Location: {{location}}</span>
      {{#if (gt mods 0)}}
      <span>Mods: {{mods}}</span>
      {{/if}}
    </div>
  </div>
</div>

{{!-- And if it's any other kind of roll --}}
{{else}}
<div class="white-bg" data-roll-type="{{rollType}}">
  <div class="cpr-block horizontal half-height chat-rollTitle-{{rollType}}">
    <p class="center-text width-grow large-text">{{rollTitle}}</p>
  </div>

  {{!-- rollcard body --}}
  <div class="rollcard-body cpr-block rollcard">

    <div class="total-div right-text ">
      <span class="massive-text {{#if wasCritical}}red-fg bold{{/if}}">{{resultTotal}}</span>
    </div>

    <div class="dice-div">
        {{!-- die image for initialRoll --}}
        {{#if (eq initialRoll 1)}}
        <i class="d10 one"></i>
        {{/if}}
        {{#if (eq initialRoll 2)}}
        <i class="d10 two"></i>
        {{/if}}
        {{#if (eq initialRoll 3)}}
        <i class="d10 three"></i>
        {{/if}}
        {{#if (eq initialRoll 4)}}
        <i class="d10 four"></i>
        {{/if}}
        {{#if (eq initialRoll 5)}}
        <i class="d10 five"></i>
        {{/if}}
        {{#if (eq initialRoll 6)}}
        <i class="d10 six"></i>
        {{/if}}
        {{#if (eq initialRoll 7)}}
        <i class="d10 seven"></i>
        {{/if}}
        {{#if (eq initialRoll 8)}}
        <i class="d10 eight"></i>
        {{/if}}
        {{#if (eq initialRoll 9)}}
        <i class="d10 nine"></i>
        {{/if}}
        {{#if (eq initialRoll 10)}}
        <i class="d10 ten"></i>
        {{/if}}

      {{#if wasCritical}}
        {{!-- die image for criticalRoll --}}
        {{#if (eq criticalRoll 1)}}
        <i class="fas fa-plus"></i>
        <i class="d10 one black"></i>
        {{/if}}
        {{#if (eq criticalRoll 2)}}
        <i class="fas fa-plus"></i>
        <i class="d10 two black"></i>
        {{/if}}
        {{#if (eq criticalRoll 3)}}
        <i class="fas fa-plus"></i>
        <i class="d10 three black"></i>
        {{/if}}
        {{#if (eq criticalRoll 4)}}
        <i class="fas fa-plus"></i>
        <i class="d10 four black"></i>
        {{/if}}
        {{#if (eq criticalRoll 5)}}
        <i class="fas fa-plus"></i>
        <i class="d10 five black"></i>
        {{/if}}
        {{#if (eq criticalRoll 6)}}
        <i class="fas fa-plus"></i>
        <i class="d10 six black"></i>
        {{/if}}
        {{#if (eq criticalRoll 7)}}
        <i class="fas fa-plus"></i>
        <i class="d10 seven black"></i>
        {{/if}}
        {{#if (eq criticalRoll 8)}}
        <i class="fas fa-plus"></i>
        <i class="d10 eight black"></i>
        {{/if}}
        {{#if (eq criticalRoll 9)}}
        <i class="fas fa-plus"></i>
        <i class="d10 nine black"></i>
        {{/if}}
        {{#if (eq criticalRoll 10)}}
        <i class="fas fa-plus"></i>
        <i class="d10 ten black"></i>
        {{/if}}
        {{#if (eq criticalRoll -1)}}
        <i class="fas fa-minus"></i>
        <i class="d10 one black"></i>
        {{/if}}
        {{#if (eq criticalRoll -2)}}
        <i class="fas fa-minus"></i>
        <i class="d10 two black"></i>
        {{/if}}
        {{#if (eq criticalRoll -3)}}
        <i class="fas fa-minus"></i>
        <i class="d10 three black"></i>
        {{/if}}
        {{#if (eq criticalRoll -4)}}
        <i class="fas fa-minus"></i>
        <i class="d10 four black"></i>
        {{/if}}
        {{#if (eq criticalRoll -5)}}
        <i class="fas fa-minus"></i>
        <i class="d10 five black"></i>
        {{/if}}
        {{#if (eq criticalRoll -6)}}
        <i class="fas fa-minus"></i>
        <i class="d10 six black"></i>
        {{/if}}
        {{#if (eq criticalRoll -7)}}
        <i class="fas fa-minus"></i>
        <i class="d10 seven black"></i>
        {{/if}}
        {{#if (eq criticalRoll -8)}}
        <i class="fas fa-minus"></i>
        <i class="d10 eight black"></i>
        {{/if}}
        {{#if (eq criticalRoll -9)}}
        <i class="fas fa-minus"></i>
        <i class="d10 nine black"></i>
        {{/if}}
        {{#if (eq criticalRoll -10)}}
        <i class="fas fa-minus"></i>
        <i class="d10 ten black"></i>
        {{/if}}
      {{/if}}
    </div>

    <div class="info-div right-text">
      {{#if (gt roleValue 0)}}
      <div>Ability: {{roleValue}}</div> 
      {{else}}
      <div>{{statName}} <strong>{{#if (gt statValue -1)}}+{{/if}}{{statValue}}</strong></div>
      <div>{{skillName}} <strong>{{#if (gt skillValue -1)}}+{{/if}}{{skillValue}}</strong></div>
      {{/if}}
      {{#if modsTotal }}
      {{!-- <div>Roll Modifiers: {{mods}}</div> --}}
      <div class="chat-rollTotal">Modifiers: <strong>{{modsTotal}}</strong></div>
      {{/if}}
    </div>
  </div>
</div>
{{/if}}
{{log "END CPR-ROLLCARD.HBS"}}