<section>
    Roll Type: {{rollType}}
    Critical: {{isCritical}}
    Initial Roll: {{initialRoll}} 
    Critical Roll: {{criticalRoll}}
    Roll Total: {{finalRollResult}}
    Mods: [{{resultMods}}]
    Check Total: {{total}}
</section>
