{{log "CPR-BASE-ROLLCARD.HBS"}}
<div class="rollcard-body">
  <div class="rollcard-top">
    <div class="text-center text-padding-top">{{rollTitle}}</div>
  </div>
  <div class="rollcard-bottom">
    {{!-- rollcard body --}}
    <div class="cpr-block">
      <div class="rollcard">
        <div class="dice-div">
          {{!-- die image for initialRoll --}}
          <i class="d10 {{numToWord initialRoll}} black"></i>
        </div>
        <div class="total-div">
          <span class="">{{resultTotal}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
{{log "END CPR-BASE-ROLLCARD.HBS"}}