{{log "CPR-ROLLCARD.HBS"}}
{{!-- If this is a damage roll --}}
{{#if (eq rollType "damage")}}
<div class="chat-rollCard" data-roll-type="{{rollType}}">
    <h2 class="chat-rollTitle-{{rollType}}">{{rollTitle}}</h2>
    <section>
        <table>
            <tr>
                <td>
                    <h3>{{resultTotal}}{{#if wasCritical}}!{{/if}}</h3>
                    {{#each diceResults as |die|}}
                    <span>{{die}}</span>
                    {{/each}}
                </td>
                <td>
                    {{#if wasCritical}}
                    Roll: {{diceTotal}} <br>
                    Criticals: {{crits}} <br>
                    Bonus Damage: {{bonusDamage}} <br>
                    {{else}}
                    Roll: {{diceTotal}} <br>
                    {{/if}}
                    {{#if (gt mods 0)}}
                    <div>Mods: {{mods}}</div><br>
                    {{/if}}
                    <div class="chat-rollTotal">Result Total: {{resultTotal}}</div><br>
                    Location: {{location}} <br>
                </td>
            </tr>
        </table>
    </section>
</div>
{{!-- And if it's any other kind of roll --}}
{{else}}
<div class="chat-rollCard" data-roll-type="{{rollType}}">
    <h2 class="chat-rollTitle-{{rollType}}">{{rollTitle}}</h2>
    <section>
        <table>
            <tr>
                <td>
                    <h3>{{resultTotal}}</h3>
                </td>
                <td>
                    {{#if wasCritical}}
                    Roll: {{initialRoll}} <br>
                    Critical Roll: {{criticalRoll}} <br>
                    <div class="chat-rollTotal">Total: {{rollTotal}}</div> <br>
                    {{else}}
                    Roll: {{initialRoll}} <br>
                    {{/if}}

                    {{#if mods}}
                    Roll Modifiers: {{mods}} <br>
                    <div class="chat-rollTotal">Mods Total: {{modsTotal}}</div><br>
                    {{/if}}
                    Stat Level: {{statValue}} <br>
                    Skill Level: {{skillValue}} <br>
                    <div class="chat-rollTotal">Result Total: {{resultTotal}}</div><br>
                </td>

            </tr>
        </table>
    </section>
</div>
{{/if}}
{{log "END CPR-ROLLCARD.HBS"}}