{{log "CPR-BASE-ROLLCARD.HBS"}}
<div class="white-bg" data-roll-type="{{rollType}}">
  <div class="cpr-block horizontal half-height chat-rollTitle-{{rollType}}">
    <p class="center-text width-grow largest-text smallcaps">{{rollTitle}}</p>
  </div>

  {{!-- rollcard body --}}
  <div class="rollcard-body cpr-block rollcard">

    <div class="total-div right-text ">
      <span class="massive-text {{#if wasCritical}}red-fg bold{{/if}}">{{resultTotal}}</span>
    </div>

    <div class="dice-div">
        {{!-- die image for initialRoll --}}
        {{#if (eq initialRoll 1)}}
        <i class="d10 one"></i>
        {{/if}}
        {{#if (eq initialRoll 2)}}
        <i class="d10 two"></i>
        {{/if}}
        {{#if (eq initialRoll 3)}}
        <i class="d10 three"></i>
        {{/if}}
        {{#if (eq initialRoll 4)}}
        <i class="d10 four"></i>
        {{/if}}
        {{#if (eq initialRoll 5)}}
        <i class="d10 five"></i>
        {{/if}}
        {{#if (eq initialRoll 6)}}
        <i class="d10 six"></i>
        {{/if}}
        {{#if (eq initialRoll 7)}}
        <i class="d10 seven"></i>
        {{/if}}
        {{#if (eq initialRoll 8)}}
        <i class="d10 eight"></i>
        {{/if}}
        {{#if (eq initialRoll 9)}}
        <i class="d10 nine"></i>
        {{/if}}
        {{#if (eq initialRoll 10)}}
        <i class="d10 ten"></i>
        {{/if}}

      {{#if wasCritical}}
        {{!-- die image for criticalRoll --}}
        {{#if (eq criticalRoll 1)}}
        <i class="fas fa-plus"></i>
        <i class="d10 one black"></i>
        {{/if}}
        {{#if (eq criticalRoll 2)}}
        <i class="fas fa-plus"></i>
        <i class="d10 two black"></i>
        {{/if}}
        {{#if (eq criticalRoll 3)}}
        <i class="fas fa-plus"></i>
        <i class="d10 three black"></i>
        {{/if}}
        {{#if (eq criticalRoll 4)}}
        <i class="fas fa-plus"></i>
        <i class="d10 four black"></i>
        {{/if}}
        {{#if (eq criticalRoll 5)}}
        <i class="fas fa-plus"></i>
        <i class="d10 five black"></i>
        {{/if}}
        {{#if (eq criticalRoll 6)}}
        <i class="fas fa-plus"></i>
        <i class="d10 six black"></i>
        {{/if}}
        {{#if (eq criticalRoll 7)}}
        <i class="fas fa-plus"></i>
        <i class="d10 seven black"></i>
        {{/if}}
        {{#if (eq criticalRoll 8)}}
        <i class="fas fa-plus"></i>
        <i class="d10 eight black"></i>
        {{/if}}
        {{#if (eq criticalRoll 9)}}
        <i class="fas fa-plus"></i>
        <i class="d10 nine black"></i>
        {{/if}}
        {{#if (eq criticalRoll 10)}}
        <i class="fas fa-plus"></i>
        <i class="d10 ten black"></i>
        {{/if}}
        {{#if (eq criticalRoll -1)}}
        <i class="fas fa-minus"></i>
        <i class="d10 one black"></i>
        {{/if}}
        {{#if (eq criticalRoll -2)}}
        <i class="fas fa-minus"></i>
        <i class="d10 two black"></i>
        {{/if}}
        {{#if (eq criticalRoll -3)}}
        <i class="fas fa-minus"></i>
        <i class="d10 three black"></i>
        {{/if}}
        {{#if (eq criticalRoll -4)}}
        <i class="fas fa-minus"></i>
        <i class="d10 four black"></i>
        {{/if}}
        {{#if (eq criticalRoll -5)}}
        <i class="fas fa-minus"></i>
        <i class="d10 five black"></i>
        {{/if}}
        {{#if (eq criticalRoll -6)}}
        <i class="fas fa-minus"></i>
        <i class="d10 six black"></i>
        {{/if}}
        {{#if (eq criticalRoll -7)}}
        <i class="fas fa-minus"></i>
        <i class="d10 seven black"></i>
        {{/if}}
        {{#if (eq criticalRoll -8)}}
        <i class="fas fa-minus"></i>
        <i class="d10 eight black"></i>
        {{/if}}
        {{#if (eq criticalRoll -9)}}
        <i class="fas fa-minus"></i>
        <i class="d10 nine black"></i>
        {{/if}}
        {{#if (eq criticalRoll -10)}}
        <i class="fas fa-minus"></i>
        <i class="d10 ten black"></i>
        {{/if}}
      {{/if}}
    </div>

    <div class="info-div right-text">
      {{#if (gt roleValue 0)}}
      {{roleAbility}}: {{roleValue}}<br>
      {{else}}
      {{stat}} + {{statValue}}<br>
      {{skill}} + {{skillValue}}<br>
      {{/if}}<br>
      {{#if mods}}
      Roll Modifiers: {{mods}}<br>
      <div class="chat-rollTotal">{{localize "CPR.mods"}} {{localize "CPR.total"}}: {{modsTotal}}</div>
      {{/if}}
    </div>
  </div>
</div>
{{log "END CPR-BASE-ROLLCARD.HBS"}}