{{log "CPR-DAMAGE-ROLLCARD.HBS"}}
<div class="rollcard-body">
    <div class="rollcard-top">
        <div class="cpr-block chat-rollTitle-{{rollType}}">
            <p class="text-center">{{rollTitle}} {{localize "CPR.damage"}}</p>
        </div>
    </div>
    <div class="rollcard-bottom">
        {{!-- rollcard body --}}
        <div class="cpr-block">
            <div class="rollcard">
                <div class="total-div">
                    <span class="{{#if wasCritical}}fg-red text-bold{{/if}}">{{damageTotal}}</span>
                </div>
                <div class="dice-div">
                    {{#each faces as |die|}}
                    <i class="fas fa-dice-{{numToWord die}} text-massive {{#if ../wasCritical}} {{#if (compare die "===" 6)}} fg-red{{/if}} {{/if}}"></i>
                    {{/each}}
                </div>
                <div class="info-div">
                    {{#if autofire}}
                    {{localize "CPR.autofire"}}! (x{{autofireMultiplier}})<br>
                    {{/if}}
                    {{#if wasCritical}}
                    {{localize "CPR.bonus"}} {{localize "CPR.damage"}}: {{bonusDamage}}<br>
                    {{/if}}
                    {{localize "CPR.location"}}: {{#if isAimed}}{{localize (findConfigValue "aimedLocation" location)}}{{else}}{{localize "CPR.bodylocation"}}{{/if}}<br>
                    {{#if (compare mods.length ">" 0)}}
                    {{localize "CPR.mods"}}: {{mods}}<br>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
{{log "END CPR-DAMAGE-ROLLCARD.HBS"}}