{{log "CPR-DEATHSAVE-ROLLCARD.HBS"}}
<div class="rollcard-body">
  <div class="rollcard-top">
    <div class="cpr-block chat-rollTitle-{{rollType}}">
      <p class="text-center">{{rollTitle}}</p>
    </div>
  </div>
  <div class="rollcard-bottom">
    {{!-- rollcard body --}}
    <div class="cpr-block">
      <div class="rollcard">

        <div class="dice-div">
          {{!-- die image for initialRoll --}}
          <i class="d10 {{numToWord initialRoll}}"></i>
        </div>
        <div class="total-div">
          <span class="text-bold">{{resultTotal}}</span>
        </div>
        <div class="bottom-div text-right">
            {{localize "CPR.body"}}: {{statValue}}<br>
            {{#if (compare (getProp (findObj extraVars "name" "deathPenalty") "value") ">" 0)}}
                {{localize "CPR.deathpenalty"}}: {{getProp (findObj extraVars "name" "deathPenalty") "value"}}<br>
            {{/if}}
            {{#if (compare (getProp (findObj extraVars "name" "baseDeathPenalty") "value") ">" 0)}}
                {{localize "CPR.critinjuries"}}: {{getProp (findObj extraVars "name" "baseDeathPenalty") "value"}}<br>
            {{/if}}
            <div class="chat-rollTotal text-bold">{{localize "CPR.penalty"}} {{localize "CPR.total"}}: {{modsTotal}}<br></div>
            <div class="text-massive text-center fg-{{#if (compare (getProp (findObj extraVars "name" "saveResult") "value") "===" "Success")}}green{{else}}red{{/if}}">{{getProp (findObj extraVars "name" "saveResult") "value"}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
{{log "END CPR-DEATHSAVE-ROLLCARD.HBS"}}