{{cprTrace "START ACTOR PARTS RIGHT-PANE PARTS GEAR CPR-AMMO-CONTENT.HBS"}}
<li class="item flexrow{{#if item.system.favorite}} favorite{{else}}{{#if (cprListContains sheet.options.collapsedSections "gearTab-ammo")}} hide{{/if}}{{/if}}" data-item-id="{{item._id}}"
  data-item-category="{{item.type}}" draggable="true">
  <div class="item-name gear-name">
    <a class="name item-edit flex-center" title="{{item.name}} x{{item.system.amount}}&#13{{localize "CPR.characterSheet.bottomPane.fight.clickToViewTheItem"}}&#13{{localize "CPR.characterSheet.bottomPane.fight.controlClickToSendToChat"}}">
      <img src="{{item.img}}" class="gear-icon">
      {{item.name}}{{#if item.system.isUpgraded}}<sup><i class="fa-solid fa-square-up"></sup></i>{{/if}}
    </a>
  </div>
  <div class="item-name gear-amount flex-center">
    <div class="gear-amount-value">(x<input name="item.system.amount"
              class="gear-amount-input"
              type="number"
              data-item-prop="item.system.amount"
              value="{{cprNumberFormat item.system.amount}}">)</div>
  </div>
  <div class="item-detail gear-data text-nowrap">
        {{localize (cprFindConfigValue "ammoVariety" item.system.variety)}}
        |
        {{localize (cprFindConfigValue "ammoType" item.system.type)}}
  </div>
  <div class="item-detail gear-actions text-nowrap">
    {{> "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-actions.hbs" item}}
  </div>
</li>
{{cprTrace "END CPR-AMMO-CONTENT.HBS"}}
