<div class="item-info-pane">
    {{!-- IS PHYSICAL ITEM? ---}}
    <div class="info-pane-item">
        {{localize "CPR.category"}}: {{data.category}}
    </div>
    <div class="info-pane-item">
        {{localize "CPR.stat"}}: {{data.stat}}
    </div>
    <div class="info-pane-item">
        {{localize "CPR.difficulty"}}: {{data.difficulty}}
    </div>
    <div class="info-pane-item">
        {{localize "CPR.basic"}}: {{data.basic}}
    </div>
</div>