<div class="item-info-pane">
    {{!-- IS PHYSICAL ITEM? ---}}
    <div class="info-pane-item">
        Cost: {{data.price.market}}
    </div>
    <div class="info-pane-item">
        SP:
        <div>{{#if data.isBodyLocation}}
            Body ({{data.bodyLocation.sp}})
            {{/if}}
            {{#if data.isHeadLocation}}
            Head ({{data.headLocation.sp}})
            {{/if}}
        </div>
    </div>
    <div class="info-pane-item">
        Ablation:
        <div>{{#if data.isBodyLocation}}
            Body ({{data.bodyLocation.ablation}})
            {{/if}}
            {{#if data.isHeadLocation}}
            Head ({{data.headLocation.ablation}})
            {{/if}}
        </div>
    </div>
    <div class="info-pane-item">
        Penalty: 
        {{#if (gt (math "abs" data.penalty) 0)}}
            -{{math "abs" data.penalty}}
        {{else}}
            None
        {{/if}}
    </div>
</div>