<section class="item-desc-body">
    <div class="info-pane">
        {{!-- IS PHYSICAL ITEM? ---}}
        <div class="info-pane-item">
            PRICE: {{data.price.market}} ({{data.price.category}})
        </div>
        <div class="info-pane-item">
            TYPE: {{this.item.type}}
        </div>
        <div class="info-pane-item">
            PRICE: {{data.price.market}} ({{data.price.category}})
        </div>
        <div class="info-pane-item">
            TYPE: {{this.item.type}}
        </div>
        <div class="info-pane-item">
            PRICE: {{data.price.market}} ({{data.price.category}})
        </div>
        <div class="info-pane-item">
            TYPE: {{this.item.type}}
        </div>
        <div class="info-pane-item">
            PRICE: {{data.price.market}} ({{data.price.category}})
        </div>
        <div class="info-pane-item">
            TYPE: {{this.item.type}}
        </div>
    </div>
    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
</section>