{{log "SKILLS PANE"}}
{{log this}}
{{log category}}
{{log actor}}
<ol>
    <li>
        <span class="">{{localize (findConfigValue "skillCategories" category)}}</span>
        <span class="">{{localize "CPR.level"}}</span>
        <span class="">{{localize "CPR.base"}}</span>
    </li>
</ol>