{{log "CPRCYBERWARE-CONTENT.HBS"}}
{{log this}}
{{#each this as |cyberware c|}}
{{log foundation}}
{{log optionals}}
<div class="row cyberware white-bg black-fg" data-item-id={{foundation.data._id}}>
    <div class="section name width-quarter hide-overflow">
        <a class="name item-edit">{{foundation.name}}</a>
    </div>
    <div class="section data width-grow hide-overflow">
        {{localize (findConfigValue "cyberwareTypeList" foundation.data.data.type)}}
    </div>
    <div class="section action right-text width-fit">
        {{!-- INSTALL ACTION --}}
        {{> "systems/cyberpunk-red-core/templates/actor/parts/common/inventory/actions/cpr-install-glyph.hbs"}}
        {{!-- ITEM MANAGEMENT --}}
    </div>
</div>
{{#each optionals as |optional o|}}
{{log this}}
<div class="row cyberware white-bg black-fg" data-item-id={{optional._id}}>
    <div class="section name width-quarter hide-overflow">
        <a class="name item-edit">{{optional.name}}</a>
    </div>
    <div class="section data width-grow hide-overflow">
        {{localize (findConfigValue "cyberwareTypeList" optional.data.data.type)}}
    </div>
    <div class="section action right-text width-fit">
        {{!-- INSTALL ACTION --}}
        {{> "systems/cyberpunk-red-core/templates/actor/parts/common/inventory/actions/cpr-install-glyph.hbs"}}
        {{!-- ITEM MANAGEMENT --}}
    </div>
</div>
{{/each}}
{{/each}}
{{log "END CPR-CYBERWARE-CONTENT.HBS"}}