{{cprTrace "CPR-UPGRADEABLE.HBS"}}
<div class="item-summary-line">
    <span class="text-bold summary-name">
        {{localize "CPR.global.generic.slots"}}: {{cprMath "subtract" data.data.slots data.data.upgrades.length}}/{{data.data.slots}}
    </span>
</div>
{{cprTrace "END CPR-UPGRADEABLE.HBS"}}