{{cprTrace "CPR-VALUABLE.HBS"}}
<div class="item-summary-line">
    <span class="text-bold summary-name">{{localize "CPR.itemSheet.physical.price.price"}}:</span>
    <span class="summary-value">{{cprNumberFormat item.data.data.price.market}}</span>
</div>
<div class="item-summary-line">
    <span class="text-bold summary-name">{{localize "CPR.itemSheet.physical.price.category"}}:</span>
    <span class="summary-value">{{localize (cprFindConfigValue "itemPriceCategory" item.data.data.price.category)}}</span>
</div>
{{cprTrace "END CPR-VALUABLE.HBS"}}