{{cprTrace "CPR-UPGRADABLE.HBS"}}
<div class="item-summary-line">
    <span class="text-bold summary-name">
        {{localize "CPR.itemSheet.itemUpgrade.usedSlots"}}:
    </span>
    <span class="summary-value">
        {{data.data.installedOptionSlots}}/{{data.data.slots}}
    </span>
</div>
{{cprTrace "END CPR-UPGRADABLE.HBS"}}
