{{cprTrace "CPR-PHYSICAL.HBS"}}
{{#if item.isOwned}}
    <div class="item-summary-line">
        <span class="text-bold summary-name">{{localize "CPR.itemSheet.physical.concealed"}}:</span>
        {{#if item.data.data.concealable.concealable}}
            <span class="summary-value">{{cprYesNo item.data.data.concealable.isConcealed}}</span>
        {{else}}
            <span class="summary-value">{{localize "CPR.global.generic.no"}}</span>
        {{/if}}
    </div>
{{else}}
    <div class="item-summary-line">
        <span class="text-bold summary-name">{{localize "CPR.itemSheet.physical.concealable"}}:</span>
        <span class="summary-value">{{cprYesNo item.data.data.concealable.concealable}}</span>
    </div>
{{/if}}
{{cprTrace "END CPR-PHYSICAL.HBS"}}