{{cprTrace "ITEM-DESC-MIXIN CPR-UPGRADABLE.HBS"}}
<div class="item-summary-line">
    <span class="text-bold summary-name">
        {{localize "CPR.itemSheet.itemUpgrade.usedSlots"}}:
    </span>
    <span class="summary-value">
        {{#if (cprCompare item.type "===" "cyberware")}}
            {{item.system.installedOptionSlots}}/{{item.system.slots}}
        {{else if (cprCompare item.type "===" "cyberdeck")}}
            {{cprMath "sum" item.system.upgrades.length item.system.programs.installed.length}}/{{item.system.slots}}
        {{else}}
            {{item.system.upgrades.length}}/{{item.system.slots}}
        {{/if}}
    </span>
</div>
{{cprTrace "END CPR-UPGRADABLE.HBS"}}
