{{!-- Vehicle Item Settings--}}
<li class="item flexrow">
    <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.tags"}}
    </div>
    <div class="item flexrow setting-value text-nowrap item-end">
        <input name="data.tags" class="" type="text" value="{{data.data.tags}}" placeholder="License Plate No.">
    </div>
</li>

<li class="item flexrow">
    <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.structuraldamagepoints"}}
    </div>
    <div class="item flexrow setting-value text-nowrap item-end">
        <input name="data.sdp" class="" type="text" value="{{data.data.sdp}}" placeholder="50">
    </div>
</li>

<li class="item flexrow">
    <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.seats"}}
    </div>
    <div class="item flexrow setting-value text-nowrap item-end">
        <input name="data.seats" class="" type="text" value="{{data.data.seats}}" placeholder="50">
    </div>
</li>

<li class="item flexrow">
    <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.combatspeed"}}
    </div>
    <div class="item flexrow setting-value text-nowrap item-end">
        <input name="data.speedCombat" class="" type="text" value="{{data.data.speedCombat}}" placeholder="50">
    </div>
</li>

<li class="item flexrow">
    <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.speednarrative"}}
    </div>
    <div class="item flexrow setting-value text-nowrap item-end">
        <input name="data.speedNarrative" class="" type="text" value="{{data.data.speedNarrative}}" placeholder="50">
    </div>
</li>