<form>
    <div class="item-settings-tab">
        <div class="item-settings-section">
            <ol class="items-list">

                {{!--Item Name Settings--}}
                {{> "systems/cyberpunk-red-core/templates/item/parts/settings/common/cpr-item-name.hbs" this}}

                {{!-- Physical Item Settings--}}
                {{> "systems/cyberpunk-red-core/templates/item/parts/settings/common/cpr-physical-item.hbs" this}}

                {{!-- Weapon Item Settings--}}
                <li class="item flexrow">
                    <div class="item flexrow setting-name text-nowrap">
                        {{localize "CPR.global.EquipState.equipped"}}
                    </div>
                    <div class="item flexrow setting-value text-nowrap item-end">
                        <select name="data.equipped" data-dtype="{{data.data.equipped}}">
                            {{#select data.data.equipped}}
                            {{#each (findConfigObj "equipped") as |equip e|}}
                            <option value="{{e}}">{{localize equip}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </li>
                {{!-- ROF Settings--}}
                <li class="item flexrow">
                    <div class="item flexrow setting-name text-nowrap">
                        {{localize "CPR.itemSheet.weapon.rof"}}
                    </div>
                    <div class="item flexrow setting-value text-nowrap item-end">
                        <input name="data.rof" class="" type="number" value="{{data.data.rof}}">
                    </div>
                </li>
                {{!-- Concealable Settings--}}
                <li class="item flexrow">
                    <div class="item flexrow setting-name text-nowrap">
                        {{localize "CPR.itemSheet.weapon.concealable"}}
                    </div>
                    <div class="item flexrow setting-value text-nowrap item-end">
                        {{#if data.data.concealable}}
                        <a class="item-checkbox" data-target="data.concealable"><i class="far fa-check-circle"></i></a>
                        {{else}}
                        <a class="item-checkbox" data-target="data.concealable"><i class="far fa-circle"></i></a>
                        {{/if}}
                    </div>
                </li>
                {{!-- Weapon Type Settings--}}
                <li class="item flexrow">
                    <div class="item flexrow setting-name text-nowrap">
                        {{localize "CPR.global.itemTypes.weapon"}} {{localize "CPR.global.generic.type"}}
                    </div>
                    <div class="item flexrow setting-value text-nowrap item-end">
                        <select name="data.weaponType" data-dtype="{{data.data.weaponType}}">
                            {{#select data.data.weaponType}}
                            {{#each (findConfigObj "weaponTypeList") as |type t|}}
                            <option value="{{t}}">{{localize type}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </li>
                {{!-- Weapon Skill Settings--}}
                <li class="item flexrow">
                    <div class="item flexrow setting-name text-nowrap">
                        {{localize "CPR.global.itemTypes.weapon"}} {{localize "CPR.global.itemTypes.skill"}}
                    </div>
                    <div class="item flexrow setting-value text-nowrap item-end">
                        <select name="data.weaponSkill" data-dtype="{{data.data.weaponSkill}}">
                            {{#select data.data.weaponSkill}}
                            {{!-- Would be nice if this was sorted, but not sure how to do that. --}}
                            {{#each (sort (getProp this.filteredItems 'skill') "name") as |skillOption| }}
                            {{#if (listContains "Athletics" skillOption.data.name)}}
                            <option value="{{skillOption.data.name}}">{{skillOption.data.name}}</option>
                            {{/if}}
                            {{#if (listContains "rangedweaponSkills,fightingSkills" skillOption.data.data.category)}}
                            <option value="{{skillOption.data.name}}">{{skillOption.data.name}}</option>
                            {{/if}}
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </li>
                {{!-- Item Quality Settings--}}
                <li class="item flexrow">
                    <div class="item flexrow setting-name text-nowrap">
                        {{localize "CPR.global.itemTypes.weapon"}} {{localize "CPR.itemSheet.quality"}}
                    </div>
                    <div class="item flexrow setting-value text-nowrap item-end">
                        <select name="data.quality" data-dtype="{{data.data.quality}}">
                            {{#select data.data.quality}}
                            {{#each (findConfigObj "itemQuality") as |quality q| }}
                            <option value="{{q}}">{{localize quality}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </li>
                {{!-- Attack Mod Settings--}}
                <li class="item flexrow">
                    <div class="item flexrow setting-name text-nowrap">
                        {{localize "CPR.itemSheet.weapon.attackMod"}}
                    </div>
                    <div class="item flexrow setting-value text-nowrap item-end">
                        <input name="data.attackmod" class="" type="number" value="{{data.data.attackmod}}">
                    </div>
                </li>
                {{!-- Hands Required Settings--}}
                <li class="item flexrow">
                    <div class="item flexrow setting-name text-nowrap">
                        {{localize "CPR.itemSheet.weapon.handsRequired"}}
                    </div>
                    <div class="item flexrow setting-value text-nowrap item-end">
                        <input name="data.handsReq" class="" type="number" value="{{data.data.handsReq}}">
                    </div>
                </li>
                {{#if (compare data.data.weaponType "===" "unarmed")}}
                {{!-- Automatic damage calculation Settings for unarmed--}}
                <li class="item flexrow">
                    <div class="item flexrow setting-name text-nowrap">
                        {{localize "CPR.itemSheet.weapon.unarmedAutomaticallyCalculatedSetting"}}
                    </div>
                    <div class="item flexrow setting-value text-nowrap item-end">
                        {{#if data.data.unarmedAutomaticCalculation}}
                        <a class="item-checkbox" data-target="data.unarmedAutomaticCalculation"><i class="far fa-check-circle"></i></a>
                        {{else}}
                        <a class="item-checkbox" data-target="data.unarmedAutomaticCalculation"><i class="far fa-circle"></i></a>
                        {{/if}}
                    </div>
                </li>
                {{/if}}
                {{!- Weapon Damage Settings--}}
                <li class="item flexrow">
                    <div class="item flexrow setting-name text-nowrap">
                        {{localize "CPR.global.generic.damage"}}
                    </div>
                    <div class="item flexrow setting-value text-nowrap item-end">
                        {{#if (compare (compare data.data.weaponType "===" "unarmed") "&&" data.data.unarmedAutomaticCalculation)}}
                        <div class="item text-flex-end setting-value text-nowrap">{{localize "CPR.itemSheet.weapon.unarmedAutomaticallyCalculated"}}</div>
                        {{else}}
                        <input name="data.damage" class="" type="text" value="{{data.data.damage}}">
                        {{/if}}
                    </div>
                </li>
                  {{!- Ranged Weapon Settings--}}
                  <li class="item flexrow">
                      <div class="item flexrow setting-name text-nowrap">
                          {{localize "CPR.itemSheet.weapon.rangedWeapon"}}
                      </div>
                      <div class="item flexrow setting-value text-nowrap item-end">
                          {{#if data.data.isRanged}}
                          <a class="item-checkbox" data-target="data.isRanged"><i class="far fa-check-circle"></i></a>
                          {{else}}
                          <a class="item-checkbox" data-target="data.isRanged"><i class="far fa-circle"></i></a>
                          {{/if}}
                      </div>
                  </li>
                  {{#if data.data.isRanged}}

                  {{!- DV Table Setting --}}
                  <li class="item flexrow">
                      <div class="item flexrow setting-name text-nowrap">
                          {{localize "CPR.itemSheet.weapon.dvTable"}}:
                      </div>
                      <div class="item flexrow setting-value text-nowrap item-end">
                          <select name="data.dvTable" data-dtype="{{data.data.dvTable}}">
                              {{#select data.data.dvTable}}
                              <option value="">N/A</option>
                              {{#each this.dvTableNames as |rollTable| }}
                              <option value="{{rollTable}}">{{rollTable}}</option>
                              {{/each}}
                              {{/select}}
                          </select>


                      </div>
                  </li>
                  <hr>
                  {{!- Ranged Weapon - Alternate Fire Modes Settings--}}
                  <li class="item flexrow">
                      <div class="item flexrow setting-name text-nowrap">
                          {{localize "CPR.global.skills.autofire"}} {{localize "CPR.itemSheet.common.maximum"}} {{localize "CPR.global.generic.multiplier"}}
                      </div>
                      <div class="item flexrow setting-value text-nowrap item-end">
                          <input name="data.fireModes.autoFire" class="" type="number" value="{{data.data.fireModes.autoFire}}">
                      </div>
                  </li>
                  <li class="item flexrow">
                      <div class="item flexrow setting-name text-nowrap">
                          {{localize "CPR.itemSheet.weapon.hasSuppressiveFire"}}
                      </div>
                      <div class="item flexrow setting-value text-nowrap item-end">
                          {{#if data.data.fireModes.suppressiveFire}}
                          <a class="item-checkbox" data-target="data.fireModes.suppressiveFire"><i class="far fa-check-circle"></i></a>
                          {{else}}
                          <a class="item-checkbox" data-target="data.fireModes.suppressiveFire"><i class="far fa-circle"></i></a>
                          {{/if}}
                      </div>
                  </li>
                  {{!- Ranged Weapon - Magazine Size Settings--}}
                  <li class="item flexrow">
                      <div class="item flexrow setting-name text-nowrap">
                          {{localize "CPR.itemSheet.weapon.magazine"}} {{localize "CPR.itemSheet.weapon.size"}}
                      </div>
                      <div class="item flexrow setting-value text-nowrap item-end">
                          <input name="data.magazine.max" class="" type="number" value="{{data.data.magazine.max}}">
                      </div>
                  </li>
                  {{#if (compare data.data.magazine.ammoId "!==" "")}}
                  <li class="item flexrow">
                      <div class="item flexrow setting-name text-nowrap">
                          {{localize "CPR.itemSheet.weapon.loadedAmmoQuantity"}}
                      </div>
                      <div class="item flexrow setting-value text-nowrap item-end">
                          <input name="data.magazine.value" class="" type="number" value="{{data.data.magazine.value}}">
                      </div>
                  </li>
                  {{/if}}
                  <div class="item flexrow setting-name text-nowrap text-bold">
                      <a class="select-compatible-ammo" data-item-prop="select-compatible-ammo">{{localize
                          "CPR.itemSheet.weapon.configureCompatibleAmmo"}}<i class="text-smallest text-super fas fa-wrench"></i></a>
                  </div>
                  <div class="compatible-ammo">
                  {{#each (findConfigObj "ammoVariety") as |ammoVariety a|}}
                  {{#if (listContains (getProp ../this.data.data "ammoVariety") a)}}
                  <li class="item flexrow">
                      <div class="item flexrow setting-name text-nowrap text-padding-left">
                          &nbsp;{{localize ammoVariety}}
                          {{#if ../this.isOwned}}
                          {{#if (isNumber (math "sum" (getProp (filter ../this.filteredItems.ammo "data.data.variety" a) "data.data.amount")))}}
                          <div class="text-right">
                              &nbsp;&nbsp;({{localize "CPR.itemSheet.weapon.youOwn"}} {{math "sum" (getProp (filter ../this.filteredItems.ammo "data.data.variety" a) "data.data.amount")}} {{localize "CPR.itemSheet.weapon.rounds"}})
                          </div>
                          {{/if}}
                          {{/if}}
                      </div>
                  </li>
                  {{/if}}
                  {{/each}}
                  </div>
                  {{/if}}
            </ol>
        </div>
    </div>
</form>
