    <div class="item-settings-tab">
        <div class="item-settings-section">
            <ol class="items-list">

                {{!-- Physical Item Settings--}}
                {{> "systems/cyberpunk-red-core/templates/item/parts/settings/common/cpr-physical-item.hbs" this}}

                {{!-- Ammo Item Settings--}}
                {{!-- Ammo Quantity --}}
                <li class="item flexrow">
                    <div class="item flexrow setting-name text-nowrap">
                        {{localize "CPR.amount"}}
                    </div>
                    <div class="item flexrow setting-value text-nowrap item-end">
                        <input name="data.amount" class="" type="text" value="{{data.amount}}" placeholder="10">
                    </div>
                </li>
                {{!-- Ammo Variety Setting --}}
                <li class="item flexrow">
                    <div class="item flexrow setting-name text-nowrap">
                        {{localize "CPR.variety"}}
                    </div>
                    <div class="item flexrow setting-value text-nowrap item-end">
                        <select name="data.variety" data-dtype="{{data.variety}}">
                            {{#select data.variety}}
                            {{#each (findConfigObj "ammoVariety") as |variety v|}}
                            <option value="{{v}}">{{localize variety}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </li>
                {{!-- Ammo Type Settings--}}
                <li class="item flexrow">
                    <div class="item flexrow setting-name text-nowrap">
                        {{localize "CPR.type"}}
                    </div>
                    <div class="item flexrow setting-value text-nowrap item-end">
                         <select name="data.type" data-dtype="{{data.type}}">
                        {{#select data.type}}
                        {{#each (findConfigObj "ammoType") as |type t|}}
                        <option value="{{t}}">{{localize type}}</option>
                        {{/each}}
                        {{/select}}
                        </select>
                    </div>
                </li>
            </ol>
        </div>
    </div>
