<div class="item-settings-tab">
  <div class="item-settings-section">
    <ol class="items-list">
      {{!--Item Name Settings--}}
      {{> "systems/cyberpunk-red-core/templates/item/parts/settings/common/cpr-item-name.hbs" this}}
      {{!-- Role Item Settings--}}
      <li class="item flexrow">
        <div class="item flexrow setting-name text-nowrap">
          {{localize "CPR.MainAbilityName"}}
        </div>
        <div class="item flexrow setting-value text-nowrap item-end">
          <input name="data.mainRoleAbility" class="" data-dtype="{{data.data.mainRoleAbility}}" value="{{data.data.mainRoleAbility}}" type="text">
        </div>
      </li>
      <li class="item flexrow">
        <div class="item flexrow setting-name text-nowrap">
          {{localize "CPR.Rank"}}
        </div>
        <div class="item flexrow setting-value text-nowrap item-end">
          <input name="data.rank" class="" data-dtype="{{data.data.rank}}" value="{{data.data.rank}}" type="number">
        </div>
      </li>
      <li class="item flexrow">
        <div class="item flexrow setting-name text-nowrap">
          {{localize "CPR.hasroll?"}}
        </div>
        <div class="item flexrow setting-value text-nowrap item-end">
          {{#if data.data.hasRoll}}
          <a class="item-checkbox" data-target="data.hasRoll"><i class="far fa-check-circle"></i></a>
          {{else}}
          <a class="item-checkbox" data-target="data.hasRoll"><i class="far fa-circle"></i></a>
          {{/if}}
        </div>
      </li>
      {{#if data.data.hasRoll}}
      <li class="item flexrow">
        <div class="item flexrow setting-name text-nowrap">
          {{localize "CPR.addroleabilityrank?"}}
        </div>
        <div class="item flexrow setting-value text-nowrap item-end">
          {{#if data.data.addRoleAbilityRank}}
          <a class="item-checkbox" data-target="data.addRoleAbilityRank"><i class="far fa-check-circle"></i></a>
          {{else}}
          <a class="item-checkbox" data-target="data.addRoleAbilityRank"><i class="far fa-circle"></i></a>
          {{/if}}
        </div>
      </li>
      <li class="item flexrow">
        <div class="item flexrow setting-name text-nowrap">
          {{localize "CPR.Stat"}}
        </div>
        <div class="item flexrow setting-value text-nowrap item-end">
          <select name="data.stat" data-dtype="{{data.data.stat}}">
            {{#select data.data.stat}}
              <optgroup label = "{{localize "CPR.specialOptions"}}">
                {{#each (findConfigObj "roleSpecialOptions") as |option o|}}
                {{#if (compare o "!==" "varying")}}
                  <option value="{{o}}">{{localize option}}</option>
                {{/if}}
                {{/each}}
              </optgroup>
              <optgroup label = "{{localize "CPR.statList"}}">
                {{#each (findConfigObj "statList") as |stat s|}}
                  <option value="{{s}}">{{localize stat}}</option>
                {{/each}}
              </optgroup>
            {{/select}}
          </select>
        </div>
      </li>
      <li class="item flexrow">
        <div class="item flexrow setting-name text-nowrap">
          {{localize "CPR.Skill"}}
        </div>
        <div class="item flexrow setting-value text-nowrap item-end">
          <select name="data.skill" data-dtype="{{data.data.skill}}">
            {{#select data.data.skill}}
              <optgroup label = "{{localize "CPR.specialOptions"}}">
                {{#each (findConfigObj "roleSpecialOptions") as |option o|}}
                  <option value="{{o}}">{{localize option}}</option>
                {{/each}}
              </optgroup>
              <optgroup label = "{{localize "CPR.skillList"}}">
                {{#each (sort (getProp this.filteredItems 'skill') "name") as |skill| }}
                  <option value="{{skill.data.name}}">{{localize skill.data.name}}</option>
                {{/each}}
              </optgroup>
            {{/select}}
          </select>
        </div>
      </li>
      {{/if}}
      <div class="item flexrow setting-name text-nowrap">
          <a class="select-role-bonuses text-bold">{{localize "CPR.SelectBonusToSkills"}}<i class="text-smallest text-super fas fa-wrench"></i></a>
          {{#if (compare data.data.bonusRatio "!==" 1)}}{{localize "CPR.BonusRatio"}} - 1:{{data.data.bonusRatio}}{{/if}}
      </div>
      <div class="compatible-ammo">
        {{#each (sort data.data.bonuses "data.stat") as |bonus|}}
          <li class="item flexrow">
            <div class="item flexrow setting-name text-nowrap text-padding-left">
                &nbsp;{{#if bonus.data.core}}{{localize bonus.name}}{{else}}{{bonus.name}}{{/if}} ({{localize (findConfigValue "statList" bonus.data.stat)}})
            </div>
          </li>
        {{/each}}
      </div>
    </ol>
  </div>
</div>
<div class="item-netarch-section">
  <li class="items-header flexrow">
    <span class="item-name netarch-level fg-white bg-black text-nowrap text-padding-left">{{localize "CPR.Name"}} &nbsp;</span>
    <span class="item-name netarch-level fg-white bg-black text-nowrap text-padding-left">{{localize "CPR.Rank"}} &nbsp;</span>
    <span class="item-name netarch-dv fg-white bg-black text-nowrap text-padding-left">{{localize "CPR.Stat"}} &nbsp;</span>
    <span class="item-name netarch-dv fg-white bg-black text-nowrap text-padding-left">{{localize "CPR.Skill"}} &nbsp;</span>
    <span class="item-name netarch-dv fg-white bg-black text-nowrap text-padding-left">{{localize "CPR.Mult"}} &nbsp;</span>
    <span class="item-name netarch-dv fg-white bg-black text-nowrap text-padding-left">{{localize "CPR.Bonuses"}} &nbsp;</span>
    <span class="item-name netarch-content fg-white bg-black text-nowrap text-padding-left">{{localize "CPR.Description"}}</span>
    <span class="item-name netarch-actions fg-white bg-black text-nowrap text-padding-left">
      <a class="role-ability-action" data-action-type="create" data-action-target="-1"><i class="fas fa-plus-circle text-padding-right" title="New Role Ability"></i></a>
    </span>
  </li>
    <div class="netarch-list-content">
      <ol class="items-list">
        {{#each (sort data.data.abilities "name") as |ability|}}
          <li class="item-netarch-grid item flexrow">
            <div class="netarch-level">{{ability.name}}</div>
            <div class="netarch-dv">
              {{ability.rank}}
            </div>
            <div class="netarch-dv">
              {{#if (compare ability.stat "===" "--")}}
              {{localize "CPR.na"}}
              {{else}}
              {{localize (findConfigValue "statList" ability.stat)}}
              {{/if}}
            </div>
            <div class="netarch-dv">
              {{#if ability.skill.data.core}}
              {{localize (splitJoinCoreSkills ability.skill.name)}}
              {{else}}
              {{ability.skill.name}}
              {{/if}}
              {{#if (compare (compare ability.skill "===" "--") "||" (compare ability.skill "===" "varying"))}}
              {{localize (findConfigValue "roleSpecialOptions" ability.skill)}}
              {{/if}}
            </div>
            <div class="netarch-dv">
              {{ability.multiplier}}
            </div>
            <div class="netarch-dv">
              <a class="select-subrole-bonuses" data-item-name="{{ability.name}}" title="{{localize "CPR.ConfigureSubroleBonuses"}}"><i class="fas fa-wrench"></i></a>
            </div>
            <div class="netarch-content">
              <div>{{ability.description}}</div>
            </div>
            <div class="netarch-actions">
              <a class="role-ability-action" data-action-type="edit" data-action-target="{{ability.index}}"><i class="fas fa-edit fg-black" title={{localize "CPR.EditRoleAbility"}}></i></a>
              <a class="role-ability-action" data-action-type="delete" data-action-target="{{ability.index}}"><i class="fas fa-trash-alt fg-red" title={{localize "CPR.DeleteRoleAbility"}}></i></a>
            </div>
          </li>
        {{/each}}
      </ol>
    </div>
</div>
