{{trace "CPR-SKILLS-CATEGORY.HBS"}}
<div class="collapsible">
    <li class="items-header flexrow collapsible">

        <span class="item-name skill-name bg-black text-nowrap text-padding-left expand-button"
            id="skillTab-{{category}}" title="{{localize "CPR.togglecategorypinned"}}">
            {{localize (findConfigValue "skillCategories" category)}}&nbsp;
            {{#if (listContains sheet.options.collapsedSections (generatePartial "skillTab-VAR" category))}}
            <i class="fas fa-plus bg-black collapse-icon"></i>
            <i class="fas fa-minus bg-black expand-icon hide"></i>
            {{else}}
            <i class="fas fa-plus bg-black collapse-icon hide"></i>
            <i class="fas fa-minus bg-black expand-icon"></i>
            {{/if}}
        </span>
        <span class="item-detail skill-level bg-black text-nowrap">{{localize "CPR.lvl"}}</span>
        <span class="item-detail skill-base bg-black text-nowrap">{{localize "CPR.base"}}</span>
        <span class="item-detail skill-favorite bg-black text-nowrap toggle-favorite-visibility" id="skillTab-{{category}}-showFavorites" title="{{localize "CPR.togglecategoryall"}}"><i class="far fa-eye show-favorites"></i><i class="far fa-eye-slash hide-favorites hide"></i></span>
    </li>
    <ol class="items-list">
        {{#each (sort (filter actor.filteredItems.skill "data.category" category) "name") as |skill s|}}        
        <li class="item skill-name flexrow{{#if skill.data.favorite}} favorite{{else}}{{#if (listContains ../sheet.options.collapsedSections (generatePartial "skillTab-VAR" ../category))}} hide{{/if}}{{/if}}" data-item-id="{{skill._id}}"
            data-skill-category="{{skill.data.category}}" draggable="true">
            <div class="item-name text-nowrap">
                <a class="rollable {{#if skill.data.basic}}bold{{/if}}" data-roll-type="skill"
                    data-roll-title="{{skill.name}}">
                    {{skill.name}} {{#if (compare skill.data.difficulty "===" "difficult")}}(x2) {{/if}}<strong>({{localize
                        (findConfigValue
                        "statList" skill.data.stat)}})</strong>
                </a>

                {{#if (compare skill.data.core "===" false)}}
                <a class="item-edit skill-custom" title="{{localize "CPR.editcustomskill"}}"><i class="fas fa-edit"></i></a>
                <a class="item-action skill-custom" title="{{localize "CPR.deletecustomskill"}}" data-action-type="delete"><i class="fas fa-trash-alt"></i></a>
                {{/if}}
            </div>
            <div class="item-detail skill-level text-nowrap">
                <input class="number skill-level-input" value="{{skill.data.level}}" type="number"
                    data-item-prop="data.level" data-dtype="Number">
            </div>
            <div class="item-detail skill-base text-nowrap">
                {{math "sum" skill.data.level (lookup (getProp ../actor.data.stats skill.data.stat) 'value')}}
            </div>
            <div class="item-detail skill-favorite text-nowrap">
                <a class="item-action" data-action-type="favorite" title="{{localize "CPR.togglepin"}}">
                    {{#if skill.data.favorite}}
                    <i class="fas fa-thumbtack fg-black favorite"></i>
                    {{else}}
                    <i class="fas fa-thumbtack fg-grey"></i>
                    {{/if}}
                </a>
            </div>
        </li>
        {{/each}}
    </ol>
</div>
{{trace "END CPR-SKILLS-CATEGORY.HBS"}}