{{cprTrace "CPR-ROLE.HBS"}}
<div class="item-description-tab">
    <div class="item-summary-section">
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.itemSheet.role.rank"}}:</span>
            <span class="summary-value">{{data.data.rank}}</span>
        </div>
    </div>
    <div class="item-description-section">
        {{editor content=data.data.description.value target="data.description.value" button=true owner=owner
        editable=editable}}
    </div>
</div>
{{cprTrace "END CPR-ROLE.HBS"}}
