<li class="item flexrow">
    <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.price"}}
    </div>
    <div class="item flexrow setting-value text-nowrap item-end">
        <input name="data.price.market" class="" type="number" value="{{data.price.market}}">
    </div>
</li>

<li class="item flexrow">
    <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.pricecategory"}}
    </div>
    <div class="item flexrow setting-value text-nowrap item-end">
        <select name="data.price.category" data-dtype="{{data.price.category}}">
            {{#select data.price.category}}
            {{#each (findConfigObj "itemPriceCategory") as |category c|}}
            <option value="{{c}}">{{localize category}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
</li>