<li class="item flexrow">
    <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.price"}}
    </div>
    <div class="item flexrow setting-value text-nowrap item-end">
        {{#if this.editable}}
        <input name="data.price.market" class="" type="number" value="{{data.price.market}}">
        {{else}}
        <span class="text-flex-end">{{data.price.market}}</span>
        {{/if}}
    </div>
</li>

<li class="item flexrow">
    <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.pricecategory"}}
    </div>
    <div class="item flexrow setting-value text-nowrap item-end">
        {{#if this.editable}}
        <select name="data.price.category" data-dtype="{{data.price.category}}">
            {{#select data.price.category}}
            {{#each (findConfigObj "itemPriceCategory") as |category c|}}
            <option value="{{c}}">{{localize category}}</option>
            {{/each}}
            {{/select}}
        </select>
         {{else}}
        <span class="text-flex-end">{{localize (findConfigValue "itemPriceCategory" data.price.category)}}</span>
        {{/if}}
    </div>
</li>
<li class="item flexrow">
    <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.source"}}
    </div>
    <div class="item flexrow setting-value text-nowrap item-end">
        <input name="data.source" class="" type="text" value="{{data.source}}" placeholder="pg. 1">
    </div>
</li>