{{log this}}
<li class="item flexrow">
    <div class="item flexrow setting-name text-nowrap">
        <a class="select-item-upgrades" data-item-prop="select-item-upgrades">{{localize "CPR.itemupgrades"}}<i class="text-smallest text-super fas fa-wrench"></i></a>
    </div>
    <div class="item flexrow setting-value text-nowrap item-end">
    </div>
</li>
{{#if data.data.isUpgraded}}
<hr>
{{#each data.data.upgrades as |upgrade|}}
{{log upgrade}}
<li class="item flexrow">
    <div class="item flexrow setting-name text-nowrap">
        {{upgrade.name}}
    </div>
    <div class="item flexrow setting-value text-nowrap item-end">
        {{localize "CPR.itemupgradesize"}}: {{upgrade.data.size}}
    </div>
</li>
{{/each}}
<hr>
{{/if}}