{{log "CPR-AMMO-INV-CONTENT.HBS"}}
<div class="row white-bg black-fg" data-item-id={{this._id}}>
    <a class="name">
            {{this.name}}</a>
        <a class="item-edit"><i class="fas fa-edit"></i></a>
        <a class="item-delete"><i class="fas fa-trash-alt"></i></a>
    
    <span class="inventory-center">{{localize (findConfigValue "ammoVariety" this.data.variety)}}</span>
    <span class="inventory-center">{{localize (findConfigValue "ammoType" this.data.type)}}</span>
    <span class="inventory-center">{{this.data.amount}}</span>
</div>
{{log "END CPR-AMMO-INV-CONTENT.HBS"}}