{{log "CPR-WEAPON-INV-CONTENT.HBS"}}
<div class="row item inventory" data-item-id={{this._id}}>
    <div class="section name item-edit width-quarter">
        <a class="name">{{this.name}}</a>
    </div>
    <div class="section data width-grow">
        Seats: {{data.seats}}
        |
        Speed: {{data.spd}}
        |
        Combat Speed: {{data.speedCombat}}
    </span>
    </div>
    <div class="section action right-text width-fit">
        {{> "systems/cyberpunk-red-core/templates/actor/parts/common/inventory/actions/cpr-equip-glyph.hbs"}}
        <a class="item-delete"><i class="fas fa-trash-alt red-fg"></i></a>

    </div>
</div>
{{log "END CPR-WEAPON-INV-CONTENT.HBS"}}