{{log "CPR-GEAR-INV-CONTENT.HBS"}}
<div class="row item white-bg black-fg" data-item-id={{this._id}}>
    <div class="section name width-quarter">
        <a class="name item-edit">{{this.name}}</a>
    </div>
    <div class="section data width-grow hide-overflow">
        {{localize "CPR.value"}}: {{data.price.market}}
    </div>
    <div class="section action right-text width-fit">
        <a class="item-delete"><i class="fas fa-trash-alt red-fg"></i></a>
    </div>
</div>
{{log "END CPR-GEAR-INV-CONTENT.HBS"}}