{{log "CPR-AMMO-INV-CONTENT.HBS"}}
<div class="row inventory item" data-item-id="{{item._id}}" id="gearTab-{{item.type}}">
    <div class="section name">
        <span class="name item-edit">{{item.name}}</span>
        {{#if (gt item.data.amount 0 )}}&nbsp;&nbsp;x{{item.data.amount}}{{/if}}
    </div>
    <div class="section data">
        {{localize (findConfigValue "ammoVariety" item.data.variety)}}
        |
        {{localize (findConfigValue "ammoType" item.data.type)}}
    </div>
    <div class="section action">
        {{> "systems/cyberpunk-red-core/templates/actor/parts/common/inventory/actions/cpr-actions.hbs" item}}
    </div>
</div>

{{log "END CPR-AMMO-INV-CONTENT.HBS"}}