{{log "CPR-GEAR-INV-CONTENT.HBS"}}
<div class="section name width-quarter hide-overflow">
    <a class="name item-edit">{{item.name}}</a>
</div>
<div class="section data width-grow hide-overflow">
    {{localize "CPR.price"}}: {{item.data.price.market}}
</div>
{{log "END CPR-GEAR-INV-CONTENT.HBS"}}