{{log "CPR-CYBERWARE-INV-CONTENT.HBS"}}
<div class="row row-section item inventory" data-item-id={{this._id}}>
    <span class="name">
        <a class="name" data-item-id={{this._id}}>{{this.name}}</a>
        <a class="item-edit"><i class="fas fa-edit icon-button"></i></a>
        <a class="item-delete"><i class="fas fa-spanash-alt icon-button"></i></a>
    </span>
    <span class="inventory-center"></span>
    <span class="inventory-center"></span>
    <span class="inventory-center">
        {{!-- INSTALL ACTION --}}
        {{> "systems/cyberpunk-red-core/templates/actor/parts/common/inventory/actions/cpr-install-glyph.hbs"}}
    </span>
</div>
{{log "END CPR-CYBERWARE-INV-CONTENT.HBS"}}