{{log "CPR-ARMOR-INV-CONTENT.HBS"}}
<div class="row flex-end inventory item white-bg black-fg" data-item-id={{item._id}}>
    <div class="section name width-quarter hide-overflow ws-nowrap">
        <a class="name item-edit">{{item.name}}</a>
    </div>
    <div class="section data width-grow hide-overflow ws-nowrap">
        {{#if item.data.isHeadLocation}}
        {{localize "CPR.head"}}: {{ablated item.data "head"}}/{{item.data.headLocation.sp}} {{localize "CPR.sp"}}
        {{#if item.data.isBodyLocation}}|{{/if}}
        {{/if}}
        {{#if item.data.isBodyLocation}}
        {{localize "CPR.bodylocation"}}: {{ablated item.data "body"}}/{{item.data.bodyLocation.sp}} {{localize "CPR.sp"}}
        {{/if}}
    </div>
    <div class="section action right-text width-fit width-no-shrink">
        {{> "systems/cyberpunk-red-core/templates/actor/parts/common/inventory/actions/cpr-actions.hbs" item}}
    </div>
</div>
{{log "END CPR-ARMOR-INV-CONTENT.HBS"}}