{{log "CPR-ARMOR-INV-CONTENT.HBS"}}
<div class="row row-section item inventory" data-item-id={{this._id}}>
    <span class="name"><a class="name">
            {{this.name}}</a>
        <a class="item-edit"><i class="fas fa-edit"></i></a>
        <a class="item-delete"><i class="fas fa-trash-alt"></i></a>
    </span>
    <span class="inventory-center">
        {{#if this.data.isHeadLocation}}
        <span></span>Head SP/Ablation: {{this.data.headLocation.sp}}/{{this.data.headLocation.ablation}}</span>
        {{/if}}
        {{#if this.data.isBodyLocation}}
        <span></span>Body SP/Ablation: {{this.data.bodyLocation.sp}}/{{this.data.bodyLocation.ablation}}</span>
        {{/if}}
        
    </span>
    <span class="inventory-center"></span>
    <span class="inventory-center">
        {{> "systems/cyberpunk-red-core/templates/actor/parts/common/inventory/actions/cpr-equip-glyph.hbs"}}
    </span>
</div>
{{log "END CPR-ARMOR-INV-CONTENT.HBS"}}