{{log "CPR-WEAPON-INV-CONTENT.HBS"}}

<div class="section name width-quarter hide-overflow">
    <a class="name item-edit">{{item.name}}</a>
</div>
<div class="section data width-grow hide-overflow">
    {{localize "CPR.seats"}}: {{item.data.seats}}
    |
    {{localize "CPR.speed"}}: {{item.data.spd}}
    |
    {{localize "CPR.combatspeed"}}: {{item.data.speedCombat}}
    </span>
</div>
{{log "END CPR-WEAPON-INV-CONTENT.HBS"}}