{{log "CPR-CYBERWARE-INV-CONTENT.HBS"}}
<div class="section name width-quarter hide-overflow">
    <a class="name item-edit">{{item.name}}</a>
</div>
<div class="section data width-grow hide-overflow">
    {{localize (findConfigValue "cyberwareTypeList" item.data.type)}}
    {{#if item.data.isFoundational}}
        ({{localize "CPR.foundational"}})
    {{/if}}
</div>
{{/unless}}
{{log "END CPR-CYBERWARE-INV-CONTENT.HBS"}}