{{log "CPR-WEAPON-INV-CONTENT.HBS"}}
<li class="item flexrow{{#if item.data.favorite}} favorite{{/if}}" data-item-id="{{item._id}}"
    data-item-category="{{item.data.category}}" draggable="true">
    <div class="item-name gear-name flexrow  text-nowrap">
        <a class="name item-edit">{{item.name}}</a>
    </div>
    <div class="item-detail gear-data text-nowrap">
    {{localize "CPR.seats"}}: {{item.data.seats}}
    |
    {{localize "CPR.speed"}}: {{item.data.spd}}
    |
    {{localize "CPR.combatspeed"}}: {{item.data.speedCombat}}
    </div>
    <div class="item-detail gear-actions text-nowrap">
        {{> "systems/cyberpunk-red-core/templates/actor/parts/common/inventory/actions/cpr-actions.hbs" item}}
    </div>
</li>
{{log "END CPR-WEAPON-INV-CONTENT.HBS"}}