{{log "CPR-ARMOR-INV-CONTENT.HBS"}}
<div class="row item white-bg black-fg" data-item-id={{this._id}}>
    <div class="section name width-quarter hide-overflow">
        <a class="name item-edit">{{this.name}}</a>
    </div>
    <div class="section data width-grow hide-overflow">
        {{#if this.data.isHeadLocation}}
        <span></span>{{localize "CPR.head"}}: {{ablated this.data "head"}} {{localize "CPR.of"}} {{this.data.headLocation.sp}} {{localize "CPR.sp"}}</span>
        {{/if}}
        {{#if this.data.isHeadLocation}}
            {{#if this.data.isBodyLocation}}
            <span>| </span>
            {{/if}}
        {{/if}}
        {{#if this.data.isBodyLocation}}
        <span></span>{{localize "CPR.bodylocation"}}: {{ablated this.data "body"}} {{localize "CPR.of"}} {{this.data.bodyLocation.sp}} {{localize "CPR.sp"}}</span>
        {{/if}}
        
    </div>
    <div class="section action right-text width-fit">
        {{> "systems/cyberpunk-red-core/templates/actor/parts/common/inventory/actions/cpr-repair-glyph.hbs"}}
        {{> "systems/cyberpunk-red-core/templates/actor/parts/common/inventory/actions/cpr-equip-glyph.hbs"}}
        {{!-- ITEM MANAGEMENT --}}
        <a class="item-delete"><i class="fas fa-trash-alt red-fg" title="Delete Item"></i></a>
    </div>
</div>
{{log "END CPR-ARMOR-INV-CONTENT.HBS"}}