{{log "CPR-WEAPON-INV-CONTENT.HBS"}}
{{!-- NAME --}}
<div class="row flex-end inventory item white-bg black-fg" data-item-id={{_id}}>
  <div class="section name hide-overflow">
    <a class="name item-edit">{{item.name}}</a>
  </div>
  {{!-- DATA --}}
  <div class="section data hide-overflow left-text width-grow width-shrink">
    {{localize (findConfigValue "weaponTypeList" item.data.weaponType)}}
    {{#if (ne item.data.quality "standard")}}
    ({{localize item.data.quality}})
    {{/if}}
    {{#if item.data.isRanged}}
    {{#if item.data.magazine.ammoId}}
    |
    {{getProp (getOwnedItem actor item.data.magazine.ammoId) "name"}} ({{item.data.magazine.value}}/{{item.data.magazine.max}})
    {{/if}}
    {{/if}}
  </div>
  <div class="section action right-text width-fit width-no-shrink">
    {{> "systems/cyberpunk-red-core/templates/actor/parts/common/inventory/actions/cpr-actions.hbs" item}}
  </div>
</div>
{{log "END CPR-WEAPON-INV-CONTENT.HBS"}}