{{log "CPR-CYBERWARE-INV-CONTENT.HBS"}}
<div class="row row-section item inventory" data-item-id={{this._id}}>
    <div class="row-section name text-align-left">
        <a class="name" data-item-id={{this._id}}>{{this.name}}</a>
        <a class="item-edit"><i class="fas fa-edit icon-button"></i></a>
        <a class="item-delete"><i class="fas fa-trash-alt icon-button"></i></a>
    </div>
    <div class="row-section data text-align-left">
        {{localize (findConfigValue "cyberwareTypeList" data.type)}}
        {{#if data.isFoundational}}
        (Foundational)
        {{/if}}
    </div>
    <span class="row-section action text-align-right">
        {{!-- INSTALL ACTION --}}
        {{> "systems/cyberpunk-red-core/templates/actor/parts/common/inventory/actions/cpr-install-glyph.hbs"}}
    </span>
</div>
{{log "END CPR-CYBERWARE-INV-CONTENT.HBS"}}