{{log "CPR-WEAPON-INV-CONTENT.HBS"}}
<div class="row item white-bg black-fg" data-item-id={{this._id}}>
    <div class="section name width-quarter hide-overflow">
        <a class="name item-edit">{{this.name}}</a>
    </div>
    <div class="section data width-grow hide-overflow">
        {{localize "CPR.seats"}}: {{data.seats}}
        |
        {{localize "CPR.speed"}}: {{data.spd}}
        |
        {{localize "CPR.combatspeed"}}: {{data.speedCombat}}
    </span>
    </div>
    <div class="section action right-text width-fit">
        {{> "systems/cyberpunk-red-core/templates/actor/parts/common/inventory/actions/cpr-equip-glyph.hbs"}}
        <a class="item-delete"><i class="fas fa-trash-alt red-fg" title="Delete Item"></i></a>

    </div>
</div>
{{log "END CPR-WEAPON-INV-CONTENT.HBS"}}