{{log "CPR-WEAPON-INV-CONTENT.HBS"}}
<div class="row item white-bg black-fg" data-item-id={{this._id}}>
    <div class="section name width-quarter hide-overflow">
        <a class="name item-edit">{{this.name}}</a>        
    </div>
    <div class="section data width-grow hide-overflow">
      {{localize (findConfigValue "weaponTypeList" this.data.weaponType)}}
      {{#if this.data.isRanged}}
      {{#if this.data.magazine.ammoId}}
      |
      {{this.data.magazine.ammoId}} ({{this.data.magazine.value}}/{{this.data.magazine.max}})
      {{/if}}
      {{/if}}
      
    </div>
    <div class="section action right-text width-fit">

        {{!-- LOAD ACTION --}}
        {{#if this.data.isRanged}}
        {{#if (lt this.data.magazine.value this.data.magazine.max)}}
        {{#if (ne this.data.magazine.ammoId "")}}
        <a class="item-action" data-item-id="{{this._id}}" data-action="reload-ammo"><i class="fas fa-redo-alt" title="Reload"></i></a>
        {{/if}}
        {{/if}}
        <a class="item-action" data-item-id="{{this._id}}" data-action="new-ammo"><i class="fas fa-exchange-alt" title="Change Ammo"></i></a>
        {{/if}}

        {{!-- CONCEAL ACTION --}}
        {{#if this.data.concealable}}
        <i class="fas fa-eye-slash" title="Toggle Conceal"></i>
        {{/if}}
        {{!-- EQUIP ACTION --}}
        {{> "systems/cyberpunk-red-core/templates/actor/parts/common/inventory/actions/cpr-equip-glyph.hbs"}}
        {{!-- ITEM MANAGEMENT --}}
        <a class="item-delete"><i class="fas fa-trash-alt red-fg" title="Delete Item"></i></a>

    </div>
</div>
{{log "END CPR-WEAPON-INV-CONTENT.HBS"}}