{{log "CPR-AMMO-INV-CONTENT.HBS"}}
<div class="section name width-quarter hide-overflow">
    <span class="name item-edit">{{item.name}}</span>
    {{#if (gt item.data.amount 0 )}}&nbsp;&nbsp;x{{item.data.amount}}{{/if}}
</div>
<div class="section data width-grow hide-overflow">
    {{localize (findConfigValue "ammoVariety" item.data.variety)}}
    | 
    {{localize (findConfigValue "ammoType" item.data.type)}}
</div>
{{log "END CPR-AMMO-INV-CONTENT.HBS"}}