{{log "CPR-AMMO-INV-CONTENT.HBS"}}
<div class="row flex-end inventory item white-bg black-fg" data-item-id={{item._id}}>
    <div class="section name width-quarter hide-overflow">
        <span class="name item-edit">{{item.name}}</span>
        {{#if (gt item.data.amount 0 )}}&nbsp;&nbsp;x{{item.data.amount}}{{/if}}
    </div>
    <div class="section data width-grow hide-overflow ws-nowrap">
        {{localize (findConfigValue "ammoVariety" item.data.variety)}}
        |
        {{localize (findConfigValue "ammoType" item.data.type)}}
    </div>
    <div class="section action right-text width-fit width-no-shrink">
        {{> "systems/cyberpunk-red-core/templates/actor/parts/common/inventory/actions/cpr-actions.hbs" item}}
    </div>
</div>
{{log "END CPR-AMMO-INV-CONTENT.HBS"}}