{{trace "CPR-CONTAINER-ACTIONS.HBS"}}
{{!-- Item purchase or take --}}
<a class="item-action" data-action-type="purchase">
  {{#if actor.data.flags.cyberpunk-red-core.items-free}}
  <i class="fas fa-hand-pointer" title="{{localize "CPR.containerSheet.takeItem"}}"></i>
  {{else}}
  <i class="fas fa-shopping-cart" title="{{localize "CPR.containerSheet.purchaseItem"}}"></i>
  {{/if}}
</a>
{{!-- Item deletion --}}
{{#if (compare isGM "||" actor.data.flags.cyberpunk-red-core.players-delete)}}
<a class="item-action" data-action-type="delete"><i class="fas fa-trash-alt fg-red" title="{{localize "CPR.global.sheets.deleteItem"}}"></i></a>
{{/if}}
{{trace "END CPR-CONTAINER-ACTIONS.HBS"}}
