{{trace "CPR-MOOK-PROGRAM.HBS"}}
<div class="items-header bg-red fg-white flexrow">
  <span class="item-name section-name text-nowrap text-padding-left">
    {{localize "CPR.cyberdeckprograms"}}
  </span>
</div>
<div class="bg-white fg-black text-padding-left">
  <!-- Program -->
  {{#each actor.data.filteredItems.program as |item i|}}
    <a class="name deletable item-edit" tabindex="0" title="{{localize "CPR.clicktoviewitem"}}, {{localize "CPR.ctrlclicktosendtochat"}}, {{localize "CPR.pressdeletetodelete"}}" data-item-id="{{item.id}}">
      {{item.name}}{{#if (compare item.data.data.amount "!==" 1)}} (x{{item.data.data.amount}}){{/if}}{{#unless @last}},{{/unless}}
    </a>
  {{/each}}
</div>
{{trace "END CPR-MOOK-PROGRAM.HBS"}}
