{{trace "CPR-MOOK-SKILLS.HBS"}}
<div class="bg-red fg-white flexrow">
  <span class="text-nowrap text-padding-left">
    {{localize "CPR.skills"}}
  </span>
  <span class="text-right">
    <a class="mod-mook-skill">
      <i class="fas fa-edit"></i>
    </a>
  </span>
</div>
<div class="bg-white fg-black text-padding-left">
  {{#each (sort actor.filteredItems.skill "name") as |skill s|}}
    {{#if (compare skill.data.level ">" 0)}}
      <a class="rollable" data-item-id="{{skill._id}}" data-roll-type="skill" data-roll-title="{{skill.name}}">
        {{skill.name}} (+{{skill.data.level}}), 
      </a>
    {{/if}}
  {{/each}}
</div>
{{trace "END CPR-MOOK-SKILLS.HBS"}}