{{trace "CPR-MOOK-ARMOR.HBS"}}
<div class="armor-section">
  <div class="items-header bg-red fg-white flexrow">
    <span class="item-name section-name text-nowrap text-padding-left">
      {{localize "CPR.armor"}}
    </span>
  </div>
  <div class="armor-content fg-black">
    <ol class="items-list fight-armor-list">
      {{#each (sort actor.filteredItems.armor "name") as |armor| }}
        {{#if (compare armor.data.equipped "===" "equipped")}}
          <li class="item armor-piece">
            <li class="flex-space-between item flexrow" data-item-id="{{armor._id}}">
              <div class="item-name armor-name text-nowrap">
                <a class="name item-edit">{{armor.name}}</a>
              </div>
              {{#if armor.data.isHeadLocation}}
                <div class="text-right">
                  {{localize "CPR.head"}}
                </div>
                <div class="text-right">
                  {{#if (compare armor.data.headLocation.ablation ">" 0)}}
                    <span class="fg-red">
                  {{/if}}
                  {{math "subtract" armor.data.headLocation.sp armor.data.headLocation.ablation}}
                  {{#if (compare armor.data.headLocation.ablation ">" 0)}}
                    </span>
                  {{/if}}
                  /{{armor.data.headLocation.sp}}
                  <a class="ablate" data-location="head"><i class="far fa-arrow-alt-circle-down" title="Ablate Armor"></i></a>
                </div>
              {{/if}}
              {{#if armor.data.isBodyLocation}}
                <div class="text-right">
                  {{localize "CPR.bodylocation"}}
                </div>
                <div class="text-right">
                  {{#if (compare armor.data.bodyLocation.ablation ">" 0)}}
                    <span class="fg-red">
                  {{/if}}
                  {{math "subtract" armor.data.bodyLocation.sp armor.data.bodyLocation.ablation}}
                  {{#if (compare armor.data.bodyLocation.ablation ">" 0)}}
                    </span>
                  {{/if}}
                  /{{armor.data.bodyLocation.sp}}
                  <a class="ablate" data-location="body"><i class="far fa-arrow-alt-circle-down" title="Ablate Armor"></i></a>
                </div>
              {{/if}}
              {{#if armor.data.isShield}}
                <div class="text-right">
                  {{localize "CPR.shield"}}
                </div>
                <div class="text-right">
                  {{#if (compare armor.data.shieldHitPoints.value "<" armor.data.shieldHitPoints.max)}}
                    <span class="fg-red">
                  {{/if}}
                  {{armor.data.shieldHitPoints.value}}
                  {{#if (compare armor.data.shieldHitPoints.value "<" armor.data.shieldHitPoints.max)}}
                    </span>
                  {{/if}}
                  /{{armor.data.shieldHitPoints.max}}
                  <a class="ablate" data-location="shield">
                    <i class="far fa-arrow-alt-circle-down" title="Damage Shield"></i>
                  </a>
                </div>
              {{/if}}
            </li>
          </li>
        {{/if}}
      {{/each}}
    </ol>
  </div>
</div>
{{trace "END CPR-MOOK-ARMOR.HBS"}}