{{trace "CPR-MOOK-CYBERWARE.HBS"}}
{{log this}}
<div class="items-header bg-red fg-white flexrow">
  <span class="item-name section-name text-nowrap text-padding-left">
    {{localize "CPR.cyberware"}}/{{localize "CPR.specialfeatures"}}
  </span>
</div>
<div class="bg-white fg-black text-padding-left">
  {{#each (findConfigObj "cyberwareTypeList") as |type t|}}
    {{#each (getProp ../this.installedCyberware t) as |cyberware c|}}
      {{#unless foundation.data.data.core}}
        <li class="item flexrow" data-item-id="{{foundation.data._id}}" draggable="false">
          <div class="item-name cyberware-name text-nowrap">
            <a class="name item-view">{{foundation.name}}</a>
          </div>
        </li>
      {{/unless}}
      {{#each optionals as |optional o|}}
        <li class="item flexrow" data-item-id="{{optional.data._id}}" data-foundational-id="{{../foundation._id}}" draggable="false">
          <div class="item-name cyberware-name flexrow text-nowrap">
            <a class="name item-view"><span class="name">&nbsp;{{optional.name}}</span></a>
          </div>
        </li>
      {{/each}}
    {{/each}}
  {{/each}}
</div>
{{trace "END CPR-MOOK-CYBERWARE.HBS"}}