{{cprTrace "CPR-MOOK-CYBERWARE.HBS"}}
<div class="items-header bg-red fg-white flexrow">
  <span class="item-name section-name text-nowrap text-padding-left">
    {{localize "CPR.global.itemTypes.cyberware"}}/{{localize "CPR.mookSheet.items.specialGear"}}
  </span>
</div>
<div class="bg-white fg-black text-padding-left">
  <!-- Cyberware -->
  {{#each (cprGetMookCyberware this.installedCyberware) as |type t|}}
    {{#if foundation.data.data.core}}
      <!-- This messy mapping is because the names of internal cyberware are not concise enough
           Also hasOptionalSlots is false for core cyberware for an unknown reason. We have to
          look at the length of optionals to know the truth about used slots. -->
      {{#if (cprCompare optionals.length ">" 0)}}
        {{#if (cprCompare foundation.data.name "===" "Internal (7 Option Slots)")}}
          {{localize "CPR.mookSheet.items.internalCyberware"~}}
        {{/if}}
        {{#if (cprCompare foundation.data.name "===" "External (7 Option Slots)")}}
          {{localize "CPR.mookSheet.items.externalCyberware"~}}
        {{/if}}
        {{#if (cprCompare foundation.data.name "===" "Fashionware (7 Option Slots)")}}
          {{localize "CPR.global.cyberwareType.fashionware"~}}
        {{/if}}
      {{/if}}
    {{else}}
      <a class="name deletable item-view" tabindex="0" title="{{localize "CPR.mookSheet.items.clickToViewItem"}}, {{localize "CPR.mookSheet.items.ctrlClickToSendToChat"}}, {{localize "CPR.mookSheet.items.pressDeleteToDelete"}}" data-item-id="{{foundation.data._id}}">
        {{~foundation.name~}}{{~#unless (cprCompare optionals.length ">" 0)~}}{{~#unless @last~}},{{~/unless~}}{{~/unless~}}
      </a>
    {{~/if}}
    {{~#if (cprCompare optionals.length ">" 0)~}}&nbsp;({{/if~}}
    {{~#each optionals as |optional o|~}}
      <a class="name deletable item-view" tabindex="0" title="{{localize "CPR.mookSheet.items.clickToViewItem"}}, {{localize "CPR.mookSheet.items.ctrlClickToSendToChat"}}, {{localize "CPR.mookSheet.items.pressDeleteToDelete"}}" data-item-id="{{optional.data._id}}" data-foundational-id="{{../foundation.id}}">
        {{~optional.name}}{{#unless @last}},&nbsp;{{/unless~}}
      </a>
    {{~/each}}
    {{~#if (cprCompare optionals.length ">" 0)~}}
      ){{#unless @last}},{{/unless~}}
    {{/if}}
  {{~/each}}{{#if (cprCompare (cprCompare (cprGetMookCyberwareLength this.installedCyberware) ">" 0) "&&" (cprCompare (cprCompare actor.data.filteredItems.ammo.length ">" 0) "||" (cprCompare actor.data.filteredItems.gear.length ">" 0)))}},{{/if}}
  <!-- Gear -->
  {{#each (cprSort (cprObjConcat actor.data.filteredItems.ammo actor.data.filteredItems.gear) "name") as |item i|}}
    {{#if (cprCompare item.type "===" "ammo")}}
      <a class="name deletable item-edit" tabindex="0" title="{{localize "CPR.mookSheet.items.clickToViewItem"}}, {{localize "CPR.mookSheet.items.ctrlClickToSendToChat"}}, {{localize "CPR.mookSheet.items.pressDeleteToDelete"}}" data-item-id="{{item.id}}">
        {{item.name}} (x{{item.data.data.amount}}){{#unless @last}},{{/unless}}
      </a>
    {{/if}}
    {{#if (cprCompare (cprCompare item.type "===" "gear") "||" (cprCompare item.type "===" "cyberdeck"))}}
      <a class="name deletable item-edit" tabindex="0" title="{{localize "CPR.mookSheet.items.clickToViewItem"}}, {{localize "CPR.mookSheet.items.ctrlClickToSendToChat"}}, {{localize "CPR.mookSheet.items.pressDeleteToDelete"}}" data-item-id="{{item.id}}">
        {{item.name}}{{#unless @last}},{{/unless}}
      </a>
    {{/if}}
  {{/each}}
  <!-- Display Item Upgrades in the Cyberware/Special Gear section -->
  {{#each (cprSort (cprObjConcat actor.data.filteredItems.itemUpgrade) "name") as |item i|}}
    {{#if (cprCompare item.type "===" "itemUpgrade")}}
      <a class="name deletable item-edit" tabindex="0" title="{{localize "CPR.mookSheet.items.clickToViewItem"}}, {{localize "CPR.mookSheet.items.ctrlClickToSendToChat"}}, {{localize "CPR.mookSheet.items.pressDeleteToDelete"}}" data-item-id="{{item.id}}">
        {{item.name}}{{#unless @last}},{{/unless}}
      </a>
    {{/if}}
  {{/each}}
</div>
{{cprTrace "END CPR-MOOK-CYBERWARE.HBS"}}
