{{cprTrace "CPR-MOOK-WEAPONS.HBS"}}
<div class="weapon-section">
  <div class="weapon-content fg-black">
    <ol class="items-list weapons-grid">
      <li class="item mook-weapon fg-white bg-red text-nowrap flexrow">
        <div class="mook-weapon-name text-pad-left">
          {{localize "CPR.mookSheet.weapons"}}
        </div>
        <div class="mook-weapon-mode">
          <div class="mook-weapon-aim text-center">{{localize "CPR.actorSheets.fireModes.aim"}}</div>
          <div class="mook-weapon-auto text-center">{{localize "CPR.actorSheets.fireModes.autoFire"}}</div>
          <div class="mook-weapon-supp text-center">{{localize "CPR.actorSheets.fireModes.suppressiveFireShort"}}</div>
        </div>
        <div class="mook-weapon-rolls text-right">
          {{localize "CPR.global.generic.actions"}}
        </div>
      </li>
      {{#each (cprSort actor.data.filteredItems.weapon "name") as |weapon|}}
        {{#if (cprCompare weapon.data.data.equipped "===" "equipped")}}
          <li class="item flexrow" data-item-id="{{weapon.id}}">
            <div class="mook-weapon">
              <div class="item-name mook-weapon-name text-pad-right text-nowrap">
                <a class="name item-edit deletable" tabindex="0" data-item-id="{{weapon.id}}" title="{{localize "CPR.mookSheet.items.clickToViewItem"}}, {{localize "CPR.mookSheet.items.ctrlClickToSendToChat"}}, {{localize "CPR.mookSheet.items.pressDeleteToDelete"}}">
                  {{weapon.name}}
                  {{#if weapon.data.data.isUpgraded}}<sup><i class="fab fa-uniregistry"></sup></i>{{/if}}
                </a>
                {{#if (cprCompare weapon.data.data.quality "!==" "standard")}}
                  ({{localize weapon.data.data.quality}})
                {{/if}}
                <br>
                {{#if weapon.data.data.isRanged}}
                  {{#if weapon.data.data.magazine.ammoId}}
                    ({{localize "CPR.global.itemTypes.ammo"}}: {{weapon.data.data.magazine.value}}/{{weapon.data.data.magazine.max}})
                  {{else}}
                    ({{localize "CPR.mookSheet.items.unloaded"}})
                  {{/if}}
                  {{> "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-reload-glyph.hbs"}}
                  {{>"systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-dv-glyph.hbs"}}
                  <!-- Use the if check for if the weapon is upgradable. If true, show the upgrade glpyh -->
                  {{#if (cprIsUpgradable type)}}
                    {{#if weapon.data.data.isUpgraded}}
                      {{> "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-upgrade-glyph.hbs"}}
                    {{else}}
                      {{#unless (cprIsEmpty (cprFilter (cprFilter actor.data.filteredItems.itemUpgrade "data.data.type" type) "data.data.isInstalled" false))}}
                        {{> "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-upgrade-glyph.hbs"}}
                      {{/unless}}
                    {{/if}}
                  {{/if}}
                  {{else}}
                  ({{localize "CPR.global.skills.meleeWeapon"}})
                {{/if}}
              </div>
              <div class="mook-weapon-mode">
                <div class="mook-weapon-aim text-center">
                <a class="fire-checkbox" data-fire-mode="aimed" data-item-id="{{weapon.id}}">
                  {{#if (cprFireMode ../actor "aimed" weapon.id)}}
                    <i class="far fa-check-circle"></i>
                  {{else}}
                    <i class="far fa-circle"></i>
                  {{/if}}
                </a>
                </div>
                {{#if (cprCompare (cprListContains "assaultRifle,smg,heavySmg" weapon.data.data.weaponType) "||" weapon.data.data.fireModes.suppressiveFire)}}
                  <div class="mook-weapon-auto text-center">
                  <a class="fire-checkbox" data-fire-mode="autofire" data-item-id="{{weapon.id}}">
                    {{#if (cprFireMode ../actor "autofire" weapon.id)}}
                      <i class="far fa-check-circle"></i>
                    {{else}}
                      <i class="far fa-circle"></i>
                    {{/if}}
                  </a>
                  </div>
                  <div class="mook-weapon-supp text-center">
                  <a class="fire-checkbox" data-fire-mode="suppressive" data-item-id="{{weapon.id}}">
                    {{#if (cprFireMode ../actor "suppressive" weapon.id)}}
                      <i class="far fa-check-circle"></i>
                    {{else}}
                      <i class="far fa-circle"></i>
                    {{/if}}
                  </a>
                  </div>
                {{/if}}
              </div>
              <div class="mook-weapon-rolls fight-weapon-attack text-nowrap text-right">
                <a class="rollable" data-roll-type="attack" data-item-id={{weapon.id}}>
                  <i class="fas fa-fist-raised red-fg" title="Roll an Attack"></i>
                </a>
                {{#if (cprCompare (cprFireFlag ../actor "suppressive" weapon.id) "!==" "checked")}}
                  <a class="rollable damage-roll-{{weapon.id}}" data-roll-type="damage" data-item-id={{weapon.id}}
                    data-damage="{{weapon.data.data.damage}}">
                    <i class="fas fa-tint red-fg" title="Roll Damage"></i>
                  </a>
                {{/if}}
              </div>
          </li>
        {{/if}}
        <!-- Support Weapon Item Upgrades on the Mook Sheet -->
        {{#if weapon.data.data.isUpgraded}}
          {{#each weapon.data.data.upgrades as |upgrade|}}
              {{#if (cprCompare upgrade.data.modifiers.secondaryWeapon.configured "===" "true")}}
                  {{#each (cprFilter ../actor.data.filteredItems.itemUpgrade "data._id" upgrade._id) as |weapon|}}
                    <li class="item flexrow">
                      <div class="mook-weapon">
                        <div class="item-name mook-weapon-name text-pad-right text-nowrap">
                          <a class="name item-edit deletable" tabindex="0" data-item-id="{{weapon.id}}" title="{{localize "CPR.mookSheet.items.clickToViewItem"}}, {{localize "CPR.mookSheet.items.ctrlClickToSendToChat"}}, {{localize "CPR.mookSheet.items.pressDeleteToDelete"}}">
                            {{weapon.name}}
                          </a>
                          {{#if (cprCompare weapon.data.data.quality "!==" "standard")}}
                            ({{localize weapon.data.data.quality}})
                          {{/if}}
                          <br>
                          {{#if weapon.data.data.isRanged}}
                            {{#if weapon.data.data.magazine.ammoId}}
                              ({{localize "CPR.global.itemTypes.ammo"}}: {{weapon.data.data.magazine.value}}/{{weapon.data.data.magazine.max}})
                            {{else}}
                              ({{localize "CPR.mookSheet.items.unloaded"}})
                            {{/if}}
                            {{> "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-reload-glyph.hbs"}}
                            {{>"systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-dv-glyph.hbs"}}
                            {{else}}
                            ({{localize "CPR.global.skills.meleeWeapon"}})
                          {{/if}}
                        </div>
                        <div class="mook-weapon-mode">
                          <div class="mook-weapon-aim text-center">
                          <a class="fire-checkbox" data-fire-mode="aimed" data-item-id="{{weapon.id}}">
                            {{#if (cprFireMode ../actor "aimed" weapon.id)}}
                              <i class="far fa-check-circle"></i>
                            {{else}}
                              <i class="far fa-circle"></i>
                            {{/if}}
                          </a>
                          </div>
                          {{#if (cprCompare (cprListContains "assaultRifle,smg,heavySmg" weapon.data.data.weaponType) "||" weapon.data.data.fireModes.suppressiveFire)}}
                            <div class="mook-weapon-auto text-center">
                            <a class="fire-checkbox" data-fire-mode="autofire" data-item-id="{{weapon.id}}">
                              {{#if (cprFireMode ../actor "autofire" weapon.id)}}
                                <i class="far fa-check-circle"></i>
                              {{else}}
                                <i class="far fa-circle"></i>
                              {{/if}}
                            </a>
                            </div>
                            <div class="mook-weapon-supp text-center">
                            <a class="fire-checkbox" data-fire-mode="suppressive" data-item-id="{{weapon.id}}">
                              {{#if (cprFireMode ../actor "suppressive" weapon.id)}}
                                <i class="far fa-check-circle"></i>
                              {{else}}
                                <i class="far fa-circle"></i>
                              {{/if}}
                            </a>
                            </div>
                          {{/if}}
                        </div>
                        <div class="mook-weapon-rolls fight-weapon-attack text-nowrap text-right">
                          <a class="rollable" data-roll-type="attack" data-item-id={{weapon.id}}>
                            <i class="fas fa-fist-raised red-fg" title="Roll an Attack"></i>
                          </a>
                          {{#if (cprCompare (cprFireFlag ../actor "suppressive" weapon.id) "!==" "checked")}}
                            <a class="rollable damage-roll-{{weapon.id}}" data-roll-type="damage" data-item-id={{weapon.id}}
                              data-damage="{{weapon.data.data.damage}}">
                              <i class="fas fa-tint red-fg" title="Roll Damage"></i>
                            </a>
                          {{/if}}
                        </div>
                    </li>
                  {{/each}}
              {{/if}}
          {{/each}}
        {{/if}}
      {{/each}}

      {{#each (cprSort (cprFilter actor.data.filteredItems.cyberware "data.data.isInstalled" true) "name") as |weapon|}}
        {{#if (cprCompare data.data.isWeapon "===" "true")}}
          <li class="item flexrow">
            <div class="mook-weapon">
              <div class="item-name mook-weapon-name text-pad-right text-nowrap">
                <a class="name item-edit deletable" tabindex="0" data-item-id="{{weapon.id}}" title="{{localize "CPR.mookSheet.items.clickToViewItem"}}, {{localize "CPR.mookSheet.items.ctrlClickToSendToChat"}}, {{localize "CPR.mookSheet.items.pressDeleteToDelete"}}">
                  {{weapon.name}}
                  {{#if weapon.data.data.isUpgraded}}<sup><i class="fab fa-uniregistry"></sup></i>{{/if}}
                </a>
                {{#if (cprCompare weapon.data.data.quality "!==" "standard")}}
                  ({{localize weapon.data.data.quality}})
                {{/if}}
                <br>
                {{#if weapon.data.data.isRanged}}
                  {{#if weapon.data.data.magazine.ammoId}}
                    ({{localize "CPR.global.itemTypes.ammo"}}: {{weapon.data.data.magazine.value}}/{{weapon.data.data.magazine.max}})
                  {{else}}
                    ({{localize "CPR.mookSheet.items.unloaded"}})
                  {{/if}}
                  {{> "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-reload-glyph.hbs"}}
                  {{>"systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-dv-glyph.hbs"}}
                  <!-- Use the if check for if the weapon is upgradable. If true, show the upgrade glpyh -->
                  {{#if (cprIsUpgradable type)}}
                    {{#if weapon.data.data.isUpgraded}}
                      {{> "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-upgrade-glyph.hbs"}}
                    {{else}}
                      {{#unless (cprIsEmpty (cprFilter (cprFilter actor.data.filteredItems.itemUpgrade "data.data.type" type) "data.data.isInstalled" false))}}
                        {{> "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-upgrade-glyph.hbs"}}
                      {{/unless}}
                    {{/if}}
                  {{/if}}
                  {{else}}
                  ({{localize "CPR.global.skills.meleeWeapon"}})
                {{/if}}
              </div>
              <div class="mook-weapon-mode">
                <div class="mook-weapon-aim text-center">
                <a class="fire-checkbox" data-fire-mode="aimed" data-item-id="{{weapon.id}}">
                  {{#if (cprFireMode ../actor "aimed" weapon.id)}}
                    <i class="far fa-check-circle"></i>
                  {{else}}
                    <i class="far fa-circle"></i>
                  {{/if}}
                </a>
                </div>
                {{#if (cprCompare (cprListContains "assaultRifle,smg,heavySmg" weapon.data.data.weaponType) "||" weapon.data.data.fireModes.suppressiveFire)}}
                  <div class="mook-weapon-auto text-center">
                  <a class="fire-checkbox" data-fire-mode="autofire" data-item-id="{{weapon.id}}">
                    {{#if (cprFireMode ../actor "autofire" weapon.id)}}
                      <i class="far fa-check-circle"></i>
                    {{else}}
                      <i class="far fa-circle"></i>
                    {{/if}}
                  </a>
                  </div>
                  <div class="mook-weapon-supp text-center">
                  <a class="fire-checkbox" data-fire-mode="suppressive" data-item-id="{{weapon.id}}">
                    {{#if (cprFireMode ../actor "suppressive" weapon.id)}}
                      <i class="far fa-check-circle"></i>
                    {{else}}
                      <i class="far fa-circle"></i>
                    {{/if}}
                  </a>
                  </div>
                {{/if}}
              </div>
              <div class="mook-weapon-rolls fight-weapon-attack text-nowrap text-right">
                <a class="rollable" data-roll-type="attack" data-item-id={{weapon.id}}>
                  <i class="fas fa-fist-raised red-fg" title="Roll an Attack"></i>
                </a>
                {{#if (cprCompare (cprFireFlag ../actor "suppressive" weapon.id) "!==" "checked")}}
                  <a class="rollable damage-roll-{{weapon.id}}" data-roll-type="damage" data-item-id={{weapon.id}}
                    data-damage="{{weapon.data.data.damage}}">
                    <i class="fas fa-tint red-fg" title="Roll Damage"></i>
                  </a>
                {{/if}}
              </div>
          </li>
        {{/if}}
        <!-- Support Weapon Item Upgrades on the Mook Sheet -->
        {{#if weapon.data.data.isUpgraded}}
          {{#each weapon.data.data.upgrades as |upgrade|}}
              {{#if (cprCompare upgrade.data.modifiers.secondaryWeapon.configured "===" "true")}}
                  {{#each (cprFilter ../actor.data.filteredItems.itemUpgrade "data._id" upgrade._id) as |weapon|}}
                    <li class="item flexrow">
                      <div class="mook-weapon">
                        <div class="item-name mook-weapon-name text-pad-right text-nowrap">
                          <a class="name item-edit deletable" tabindex="0" data-item-id="{{weapon.id}}" title="{{localize "CPR.mookSheet.items.clickToViewItem"}}, {{localize "CPR.mookSheet.items.ctrlClickToSendToChat"}}, {{localize "CPR.mookSheet.items.pressDeleteToDelete"}}">
                            {{weapon.name}}
                          </a>
                          {{#if (cprCompare weapon.data.data.quality "!==" "standard")}}
                            ({{localize weapon.data.data.quality}})
                          {{/if}}
                          <br>
                          {{#if weapon.data.data.isRanged}}
                            {{#if weapon.data.data.magazine.ammoId}}
                              ({{localize "CPR.global.itemTypes.ammo"}}: {{weapon.data.data.magazine.value}}/{{weapon.data.data.magazine.max}})
                            {{else}}
                              ({{localize "CPR.mookSheet.items.unloaded"}})
                            {{/if}}
                            {{> "systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-reload-glyph.hbs"}}
                            {{>"systems/cyberpunk-red-core/templates/actor/parts/common/actions/cpr-dv-glyph.hbs"}}
                            {{else}}
                            ({{localize "CPR.global.skills.meleeWeapon"}})
                          {{/if}}
                        </div>
                        <div class="mook-weapon-mode">
                          <div class="mook-weapon-aim text-center">
                          <a class="fire-checkbox" data-fire-mode="aimed" data-item-id="{{weapon.id}}">
                            {{#if (cprFireMode ../actor "aimed" weapon.id)}}
                              <i class="far fa-check-circle"></i>
                            {{else}}
                              <i class="far fa-circle"></i>
                            {{/if}}
                          </a>
                          </div>
                          {{#if (cprCompare (cprListContains "assaultRifle,smg,heavySmg" weapon.data.data.weaponType) "||" weapon.data.data.fireModes.suppressiveFire)}}
                            <div class="mook-weapon-auto text-center">
                            <a class="fire-checkbox" data-fire-mode="autofire" data-item-id="{{weapon.id}}">
                              {{#if (cprFireMode ../actor "autofire" weapon.id)}}
                                <i class="far fa-check-circle"></i>
                              {{else}}
                                <i class="far fa-circle"></i>
                              {{/if}}
                            </a>
                            </div>
                            <div class="mook-weapon-supp text-center">
                            <a class="fire-checkbox" data-fire-mode="suppressive" data-item-id="{{weapon.id}}">
                              {{#if (cprFireMode ../actor "suppressive" weapon.id)}}
                                <i class="far fa-check-circle"></i>
                              {{else}}
                                <i class="far fa-circle"></i>
                              {{/if}}
                            </a>
                            </div>
                          {{/if}}
                        </div>
                        <div class="mook-weapon-rolls fight-weapon-attack text-nowrap text-right">
                          <a class="rollable" data-roll-type="attack" data-item-id={{weapon.id}}>
                            <i class="fas fa-fist-raised red-fg" title="Roll an Attack"></i>
                          </a>
                          {{#if (cprCompare (cprFireFlag ../actor "suppressive" weapon.id) "!==" "checked")}}
                            <a class="rollable damage-roll-{{weapon.id}}" data-roll-type="damage" data-item-id={{weapon.id}}
                              data-damage="{{weapon.data.data.damage}}">
                              <i class="fas fa-tint red-fg" title="Roll Damage"></i>
                            </a>
                          {{/if}}
                        </div>
                    </li>
                  {{/each}}
              {{/if}}
          {{/each}}
        {{/if}}
      {{/each}}


    </ol>
  </div>
</div>
{{cprTrace "END CPR-MOOK-WEAPONS.HBS"}}
