{{trace "CPR-MOOK-IMAGE.HBS"}}
<div class="mook-image-toggle side-banner fg-white" data-text="{{#if (compare (compare actor.flags.collapsedImage "===" undefined) "||" (compare actor.flags.collapsedImage "===" true))}}{{localize "CPR.imageexpand"}}{{else}}{{localize "CPR.imagecollapse"}}{{/if}}"></div>
<div class="mook-image-block {{#if (compare (compare actor.flags.collapsedImage "===" undefined) "||" (compare actor.flags.collapsedImage "===" true))}}hide{{/if}}">
  <img class="mook-image-block-img"
    src="{{actor.img}}"
    data-edit="img"
    title="{{actor.name}}"
  />
</div>
{{trace "END CPR-MOOK-IMAGE.HBS"}}
