{{trace "CPR-MOOK-IMAGE.HBS"}}
<div class="mook-image-toggle side-banner fg-white" data-text="{{localize "CPR.imageexpand"}}"></div>
<div class="mook-image-block hide">
  <img class="mook-image-block-img"
    src="{{actor.img}}"
    data-edit="img"
    title="{{actor.name}}"
  />
</div>
{{trace "END CPR-MOOK-IMAGE.HBS"}}
