{{trace "CPR-MOOK-CYBERWARE.HBS"}}
<div class="items-header bg-red fg-white flexrow">
  <span class="item-name section-name text-nowrap text-padding-left">
    {{localize "CPR.cyberware"}}/{{localize "CPR.specialgear"}}
  </span>
</div>
<div class="bg-white fg-black text-padding-left">
  <!-- Cyberware -->
  {{log this}}
  {{#each (findConfigObj "cyberwareTypeList") as |type t|}}
    {{#each (getProp ../this.installedCyberware t) as |cyberware c|}}
      {{#if foundation.data.data.core}}
        <!-- This messy mapping is because the names of internal cyberware are not concise enough
             Also hasOptionalSlots is false for core cyberware for an unknown reason. We have to
            look at the length of optionals to know the truth about used slots. -->
        {{#if (compare optionals.length ">" 0)}}
          {{#if (compare foundation.data.name "===" "Internal (7 Option Slots)")}}
            {{localize "CPR.internal"}} (
          {{/if}}
          {{#if (compare foundation.data.name "===" "External (7 Option Slots)")}}
            {{localize "CPR.external"}} (
          {{/if}}
          {{#if (compare foundation.data.name "===" "Fashionware (7 Option Slots)")}}
            {{localize "CPR.fashionware"}} (
          {{/if}}
        {{/if}}
      {{else}}
        <a class="name deletable item-view" tabindex="0" title="{{localize "CPR.clicktoviewitem"}}, {{localize "CPR.ctrlclicktosendtochat"}}, {{localize "CPR.pressdeletetodelete"}}" data-item-id="{{foundation.data._id}}">
          {{foundation.name}}{{#if (compare foundation.data.data.hasOptionalSlots "===" false)}}{{#unless @last}},{{/unless}}{{/if}}
        </a>
      {{/if}}
      {{#if foundation.data.data.hasOptionalSlots}}({{/if}}
      {{#each optionals as |optional o|}}
        <a class="name deletable item-view" tabindex="0" title="{{localize "CPR.clicktoviewitem"}}, {{localize "CPR.ctrlclicktosendtochat"}}, {{localize "CPR.pressdeletetodelete"}}" data-item-id="{{optional.data._id}}" data-foundational-id="{{../foundation.id}}">
          {{optional.name}}{{#unless @last}},{{/unless}}
        </a>
      {{/each}}
      {{#if foundation.data.data.core}}
        {{#if (compare optionals.length ">" 0)}}
          ),
        {{/if}}
      {{else}}
        ),
      {{/if}}
    {{/each}}
  {{/each}}
  <!-- Gear -->
  {{#each this.items as |item i|}}
    {{#if (compare item.type "===" "ammo")}}
    {{trace item}}
      <a class="name deletable item-edit" tabindex="0" title="{{localize "CPR.clicktoviewitem"}}, {{localize "CPR.ctrlclicktosendtochat"}}, {{localize "CPR.pressdeletetodelete"}}" data-item-id="{{item.id}}">
        {{item.name}} (x{{item.data.amount}}){{#unless @last}},{{/unless}}
      </a>
    {{/if}}
    {{#if (compare item.type "===" "gear")}}
      <a class="name deletable item-edit" tabindex="0" title="{{localize "CPR.clicktoviewitem"}}, {{localize "CPR.ctrlclicktosendtochat"}}, {{localize "CPR.pressdeletetodelete"}}" data-item-id="{{item.id}}">
        {{item.name}}{{#unless @last}},{{/unless}}
      </a>
    {{/if}}
  {{/each}}
</div>
{{trace "END CPR-MOOK-CYBERWARE.HBS"}}
