<form>
  {{!-- Item Header Navigation --}}
  {{> "systems/cyberpunk-red-core/templates/item/parts/cpr-header.hbs"}}
  {{!-- Item Sheet Navigation --}}
  <nav class="tabs" data-group="primary">
    <a class="" data-tab="description">DESCRIPTION</a>
    <a class="" data-tab="details">DETAILS</a>
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="content">
    {{!-- Inventory Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{> "systems/cyberpunk-red-core/templates/item/parts/cpr-description.hbs"}}
    </div>
    <div class="tab" data-group="primary" data-tab="details">
      Tags: <input name="data.tags" class="" type="text" value="{{data.tags}}">
      Source: <input name="data.source" class="" type="text" value="{{data.source}}" placeholder="Desc">
      Price: <input name="data.price.market" class="" type="text" value="{{data.price.market}}"
        placeholder="50">
      Spd: <input name="data.spd" class="" type="text" value="{{data.spd}}" placeholder="50">
      Seats: <input name="data.seats" class="" type="text" value="{{data.seats}}" placeholder="50">
      speedCombat: <input name="data.speedCombat" class="" type="text" value="{{data.speedCombat}}"
        placeholder="50">
      speedNarrative: <input name="data.speedNarrative" class="" type="text" value="{{data.speedNarrative}}"
        placeholder="50">
    </div>
  </section>
</form>