<form>
  {{!-- Item Header Navigation --}}
  {{> "systems/cyberpunk-red-core/templates/item/parts/cpr-header.hbs"}}
  {{!-- Item Sheet Navigation --}}
  <nav class="tabs" data-group="primary">
    <a class="" data-tab="description">DESCRIPTION</a>
    <a class="" data-tab="details">DETAILS</a>
  </nav>
  {{!-- Item Sheet Body --}}
  <section class="content">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{> "systems/cyberpunk-red-core/templates/item/parts/cpr-info-pane-armor.hbs"}}
      {{> "systems/cyberpunk-red-core/templates/item/parts/cpr-description.hbs"}}
    </div>
    {{!-- Details Tab --}}
    <div class="tab" data-group="primary" data-tab="details">
      <section class="">
        {{!-- MARKET PRICE --}}
        <div>
          Price: <input name="data.price.market" class="" type="text" value="{{data.price.market}}">
        </div>
        {{!-- ARMOR PENALTY --}}
        <div>
          Armor Penalty: <input name="data.armorpen" class="" type="text" value="{{data.armorpen}}">
        </div>
        {{!-- HEAD ARMOR CHECKBOX --}}
        <div>
          <label class="label-text">Head Armor</label>
          {{#if data.isHeadLocation}}
          <a class="item-checkbox" data-target="data.isHeadLocation"><i class="far fa-check-circle"></i></a>
          {{else}}
          <a class="item-checkbox" data-target="data.isHeadLocation"><i class="far fa-circle"></i></a>
          {{/if}}
        </div>
        {{!-- LOCATION SP --}}
        <div>
          Armor SP: <input name="data.head.sp" class="" type="text" value="{{data.head.sp}}">
        </div>
        {{!-- LOCATION ABLATION --}}
        <div>
          Ablation: <input name="data.head.sp" class="" type="text" value="{{data.head.sp}}">
        </div>
        {{!-- BODY ARMOR LOCATION CHECKBOX --}}
        <div>
          <label class="label-text">Body Armor</label>
          {{#if data.isBodyLocation}}
          <a class="item-checkbox" data-target="data.isBodyLocation"><i class="far fa-check-circle"></i></a>
          {{else}}
          <a class="item-checkbox" data-target="data.isBodyLocation"><i class="far fa-circle"></i></a>
          {{/if}}
        </div>
        {{!-- LOCATION SP --}}
        <div>
          Armor SP: <input name="data.body.sp" class="" type="text" value="{{data.body.sp}}">
        </div>
        {{!-- LOCATION ABLATION --}}
        <div>
          Ablation: <input name="data.body.ablation" class="" type="text" value="{{data.body.ablation}}">
        </div>
      </section>
    </div>
  </section>