<form>
  {{!-- Item Header Navigation --}}
  {{> "systems/cyberpunk-red-core/templates/item/parts/cpr-header.hbs"}}
  {{!-- Item Sheet Navigation --}}
  <nav class="tabs" data-group="primary">
    <a class="" data-tab="description">{{localize "CPR.description"}}</a>
    <a class="" data-tab="details">{{localize "CPR.details"}}</a>
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="content">
    {{!-- Inventory Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{> "systems/cyberpunk-red-core/templates/item/parts/cpr-description.hbs"}}
    </div>
    <div class="tab" data-group="primary" data-tab="details">
      Price: <input name="data.price.market" class="" type="text" value="{{data.price.market}}" placeholder="100">
      PER: <input name="data.per" class="" type="number" value="{{data.per}}" placeholder="5">
      SPD: <input name="data.spd" class="" type="number" value="{{data.spd}}" placeholder="5">
      ATK: <input name="data.atk" class="" type="number" value="{{data.atk}}" placeholder="5">
      DEF: <input name="data.def" class="" type="number" value="{{data.def}}" placeholder="5">
      REZ: <input name="data.rez" class="" type="number" value="{{data.rez}}" placeholder="5">
    </div>
  </section>
</form>