<form>
  {{!-- Item Header Navigation --}}
  {{> "systems/cyberpunk-red-core/templates/item/parts/cpr-header.hbs"}}
  {{!-- Item Sheet Navigation --}}
  <nav class="tabs" data-group="primary">
    <a class="" data-tab="description">{{localize "CPR.description"}}</a>
    <a class="" data-tab="details">{{localize "CPR.details"}}</a>
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="content">
    {{!-- Inventory Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{> "systems/cyberpunk-red-core/templates/item/parts/cpr-description.hbs"}}
    </div>
    <div class="tab" data-group="primary" data-tab="details">
      {{localize "CPR.price"}}: <input data.price.market="price-market" class="" type="text" value="{{data.price.market}}"
        placeholder="50">
      {{localize "CPR.per"}}: <input data.per="per" class="" type="text" value="{{data.per}}" placeholder="5">
      {{localize "CPR.spd"}}: <input data.spd="spd" class="" type="text" value="{{data.spd}}" placeholder="5">
      {{localize "CPR.atk"}}: <input data.atk="atk" class="" type="text" value="{{data.atk}}" placeholder="5">
      {{localize "CPR.def"}}: <input data.def="def" class="" type="text" value="{{data.def}}" placeholder="5">
      {{localize "CPR.rez"}}: <input data.rez="rez" class="" type="text" value="{{data.rez}}" placeholder="5">
    </div>
  </section>
</form>