<form>
  {{!-- Item Header Navigation --}}
  {{> "systems/cyberpunk-red-core/templates/item/parts/cpr-header.hbs"}}
  {{!-- Item Sheet Navigation --}}
  <nav class="tabs" data-group="primary">
    <a class="" data-tab="description">DESCRIPTION</a>
    <a class="" data-tab="details">DETAILS</a>
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="content">
    {{!-- Inventory Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{> "systems/cyberpunk-red-core/templates/item/parts/cpr-description.hbs"}}
    </div>
    <div class="tab" data-group="primary" data-tab="details">
      <div>Tags:<input data.skill.tags="skill.tags" class="" type="" value="{{data.skill.tags}}"></div>
      Source: <input data.source="source" class="" type="text" value="{{data.source}}" placeholder="Desc">
      Value: <input data.value="value" class="" type="text" value="{{data.value}}" placeholder="Desc">
      Stat: <input data.stat="stat" class="" type="text" value="{{data.stat}}" placeholder="Desc">
      Category: <input data.category="category" class="" type="text" value="{{data.category}}" placeholder="Desc">
      Basic: <input data.basic="basic" class="" type="text" value="{{data.basic}}" placeholder="false">
      Cost: <input data.cost="cost" class="" type="text" value="{{data.cost}}" placeholder="1">
    </div>
  </section>
</form>