{{log "CPR-ITEM-ROLL-CARD.HBS"}}
{{log this}}
<div class="item-top-pane">
  <div class="item-image-section">
    <div class="item-image-block">
      <img src="{{img}}" class="" data-edit="img" width="64" height="64"/>
    </div>
  </div>
  <div class="item-header-section items-list flexcol">
    <div class="item-name text-large text-bold text-left text-padding-left">{{name}}</div>
    <div class="item-detail text-right text-padding-right">{{localize (findConfigValue "objectTypes" type)}}
      {{> (generatePartial "systems/cyberpunk-red-core/templates/item/parts/header/cpr-VAR.hbs" type) this}}
    </div>
  </div>
</div>
<div class="item-bottom-pane">
  <div class="item-bottom-tabs-section">
    {{description.value}}
  </div>
</div>
{{log "CPR-ITEM-ROLL-CARD.HBS"}}