{{log "CPR-ITEM-ROLL-CARD.HBS"}}
<div class="item-card-grid-container">
  <div class="item-card-icon">
    <img src="{{img}}"/>
  </div>
  <div class="item-card-header">
    <div class="item-card-name text-large text-bold text-left text-padding-left">
      {{name}}
    </div>
    <div class="item-card-type text-left text-padding-left">
      {{localize (findConfigValue "objectTypes" type)}}
    </div>
  </div>
  <div class="item-card-description text-small text-left text-padding-left">
    {{{desc}}}
  </div>
</div>
{{log "CPR-ITEM-ROLL-CARD.HBS"}}
