{{cprTrace "CPR-ITEM-SETTINGS.HBS"}}
<form>
    <div class="item-settings-tab">
        <div class="item-settings-section">
            <div class="tab item-settings-grid" data-group="primary" data-tab="item-settings">
                <ol class="items-list">
                    {{!-- Item Name --}}
                    {{> "systems/cyberpunk-red-core/templates/item/cpr-item-name.hbs" this}}
                    
                    {{!-- Settings common to all items --}}
                    <li class="item flexrow">
                        <div class="item flexrow setting-name text-nowrap">
                            {{localize "CPR.itemSheet.common.source"}}
                        </div>
                        <div class="item flexrow setting-value text-nowrap item-end">
                            {{#if this.editable}}
                                <input name="data.source" class="" type="text" value="{{data.data.source}}"
                                    placeholder="Example: pg. 1">
                            {{else}}
                                <span>{{data.data.source}}</span>
                            {{/if}}
                        </div>
                    </li>
                    <hr>

                    {{!-- Settings from mixins --}}
                    {{#each (cprGetTemplates item.type) as |mixin|}}
                        {{> (cprGeneratePartial "systems/cyberpunk-red-core/templates/item/settings/mixin/cpr-VAR.hbs" mixin) ../this}}
                    {{/each}}

                    {{!-- Settings specific to the item type --}}
                    {{> (cprGeneratePartial "systems/cyberpunk-red-core/templates/item/settings/cpr-VAR.hbs" item.type) this}}
                </ol>
            </div>
        </div>
    </div>
</form>
{{cprTrace "END CPR-ITEM-SETTINGS.HBS"}}