{{log "CPR-CYBERWARE-SHEET.HBS"}}
{{log this}}
<form>
  {{!-- Item Header Navigation --}}
  {{> "systems/cyberpunk-red-core/templates/item/parts/cpr-header.hbs"}}
  {{!-- Item Sheet Navigation --}}
  <div class="nav-container black-bg">
    <nav class="tabs" data-group="primary">
      <a class="navtab center-text bold white-fg" data-tab="description">{{localize "CPR.description"}}</a>
      <a class="navtab center-text bold white-fg" data-tab="details">{{localize "CPR.details"}}</a>
    </nav>
  </div>
  <section class="content">
    {{!-- Inventory Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{> "systems/cyberpunk-red-core/templates/item/parts/cpr-info-pane-skill.hbs"}}
      {{> "systems/cyberpunk-red-core/templates/item/parts/cpr-description.hbs"}}
    </div>
    <div class="tab" data-group="primary" data-tab="details">
      <section class="">
        {{!-- MARKET PRICE --}}
        <div>
          {{localize "CPR.price"}}: <input name="data.price.market" class="" type="text" value="{{data.price.market}}">
        </div>
        {{!-- MARKET PRICE --}}
        <div>
          {{localize "CPR.static"}} {{localize "CPR.humanityloss"}}: <input name="data.humanityLoss.static" class="" type="text" value="{{data.humanityLoss.static}}">
        </div>
        {{!-- MARKET PRICE --}}
        <div>
          {{localize "CPR.rolled"}} {{localize "CPR.humanityloss"}}: <input name="data.humanityLoss.roll" class="" type="text" value="{{data.humanityLoss.roll}}">
        </div>
        {{!-- WHAT INSTALL LOCATION IS REQUIRED --}}
        <div>
          {{localize "CPR.install"}}:
          <select name="data.install" data-dtype="{{data.install}}">
            {{#select data.install}}
            {{#each (findConfigObj "cyberwareInstallList") as |install i|}}
            <option value="{{i}}">{{localize install}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
        {{!-- WHAT TYPE OF CYBERWARE IS THIS --}}
        <div>
          Type:
          <select name="data.type" data-dtype="{{data.type}}">
            {{#select data.type}}
            {{#each (findConfigObj "cyberwareTypeList") as |type t|}}
            <option value="{{t}}">{{localize type}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
        {{!-- IS THIS HAS OPTIONAL SLOTS --}}
        {{!-- IS THIS OPTIONAL CYBERWARE --}}
        <div>
          <label class="label-text">Requires Foundational</label>
          {{#if data.isFoundational}}
          <a class="item-checkbox" data-target="data.isFoundational"><i class="far fa-circle"></i></a>
          <div>
            <label class="label-text">Has Optional Slots</label>
            {{#if data.hasOptionalSlots}}
            <a class="item-checkbox" data-target="data.hasOptionalSlots"><i class="far fa-check-circle"></i></a>
            {{!-- HAS OPTIONAL SLOTS --}}
            <div>
              {{localize "CPR.optionalslots"}}: <input name="data.optionSlots" class="" type="text" value="{{data.optionSlots}}">
            </div>
            {{else}}
            <a class="item-checkbox" data-target="data.hasOptionalSlots"><i class="far fa-circle"></i></a>
            {{/if}}
          </div>
          {{else}}
          <a class="item-checkbox" data-target="data.isFoundational"><i class="far fa-check-circle"></i></a>
          {{/if}}
        </div>
      </section>
    </div>
  </section>
</form>
{{log "END CPR-CYBERWARE-SHEET.HBS"}}