{{cprTrace "CPR-ITEM-SETTINGS.HBS"}}
<div class="item-settings-tab">
    <div class="item-settings-section">
        <div class="tab item-settings-grid" data-group="primary" data-tab="item-settings">
            <ol class="items-list">
                {{!-- Item Name --}}
                {{> "systems/cyberpunk-red-core/templates/item/cpr-item-name.hbs" this}}

                {{!-- Settings common to all items --}}
                <li class="item flexrow">
                    <div class="item flexrow setting-name text-nowrap">
                        {{localize "CPR.itemSheet.common.source"}}
                    </div>
                    <div class="item flexrow setting-value text-nowrap item-end">
                        {{#if this.editable}}
                        <input name="system.source" class="" type="text" value="{{item.system.source}}"
                            placeholder="Example: pg. 1">
                        {{else}}
                        <span>{{item.system.source}}</span>
                        {{/if}}
                    </div>
                </li>
                <hr>

                {{!-- Settings from mixins --}}
                {{#each (cprGetTemplates item.type) as |mixin|}}
                  {{#if (cprCompare mixin "!==" "effects")}}
                    {{#if (cprCompare (cprCompare mixin "===" "attackable") "&&" (cprCompare ../item.type "!==" "itemUpgrade"))}}
                      {{> (cprGeneratePartial "systems/cyberpunk-red-core/templates/item/settings/mixin/cpr-VAR.hbs" mixin) ../this}}
                    {{/if}}
                  {{/if}}
                {{/each}}

                {{!-- Settings specific to the item type --}}
                {{> (cprGeneratePartial "systems/cyberpunk-red-core/templates/item/settings/cpr-VAR.hbs" item.type) this}}
            </ol>
        </div>
    </div>
</div>
{{cprTrace "END CPR-ITEM-SETTINGS.HBS"}}
