{{trace "VERIFY-PROGRAM-ATTACK-PROMPT.HBS"}}
<form>
    <div>
        {{localize "CPR.rollingfor"}} "{{rollTitle}}", Choomba!
    </div>

    <ol class="items-list">
        <li class="item flexrow">
            <div class="item flexrow setting-name text-nowrap">
                {{localize "CPR.atk"}} {{localize "CPR.value"}} ({{localize statName}})
            </div>
            <div class="item flexrow setting-value text-nowrap item-end">
                <input name="statValue" class="" type="number" data-dtype="Number" value={{statValue}}>
            </div>
        </li>

        <li class="item flexrow">
            <div class="item flexrow setting-name text-nowrap">
                {{localize "CPR.abilityrank"}} ({{localize skillName}})
            </div>
            <div class="item flexrow setting-value text-nowrap item-end">
                <input name="skillValue" class="" type="number" data-dtype="Number" value={{skillValue}}>
            </div>
        </li>

        <li class="item flexrow">
            <div class="item flexrow setting-name text-nowrap">
                {{localize "CPR.mods"}}:
            </div>
            <div class="item flexrow setting-value text-nowrap item-end">
                <input name="mods" class="" type="text" data-dtype="String" value={{mods}}>
            </div>
        </li>


        <li class="item flexrow">
            <div class="item flexrow setting-name text-nowrap">
                {{localize "CPR.shouldrollcriticals"}}:
            </div>
            <div class="item flexrow setting-value text-nowrap item-end">
                <input name="calculateCritical" class="" type="checkbox" data-dtype="Checkbox" checked>
            </div>
        </li>
    </ol>
</form>
{{trace "END VERIFY-PROGRAM-ATTACK-PROMPT.HBS"}}