{{trace "VERIFY-ROLL-ROLEABILITY-PROMPT.HBS"}}
<form>
    <div>
        {{localize "CPR.rollingfor"}} {{#if (compare roleName "===" "operator")}}"{{localize "CPR.haggle"}}"{{else}}"{{localize (findConfigValue "roleAbilityList" roleName)}}"{{/if}}, Choomba!
    </div>

    <ol class="items-list">
        <li class="item flexrow">
            <div class="item flexrow setting-name text-nowrap">
                {{localize "CPR.abilityrank"}}:
            </div>
            <div class="item flexrow setting-value text-nowrap item-end">
                <input name="roleValue" class="" type="number" data-dtype="Number" value={{roleValue}}>
            </div>
        </li>

        {{#if roleOther}}
        <li class="item flexrow">
            <div class="item flexrow setting-name text-nowrap">
                {{localize "CPR.other"}} -
                {{#if (compare roleName "===" "operator")}} {{localize "CPR.trading"}}:{{/if}}
                {{#if (compare roleName "===" "medtechPharma")}} {{localize "CPR.medicaltechcryooperation"}}:{{/if}}
                {{#if (compare roleName "===" "medtechCryo")}} {{localize "CPR.medicaltechpharmaceuticals"}}:{{/if}}
            </div>
            <div class="item flexrow setting-value text-nowrap item-end">
                <input name="roleOther" class="" type="number" data-dtype="Number" value={{roleOther}}>
            </div>
        </li>
        {{/if}}

        {{#if roleStat}}
        <li class="item flexrow">
            <div class="item flexrow setting-name text-nowrap">
                {{localize "CPR.abilitystat"}} ({{localize (findConfigValue "statList" statName)}}):
            </div>
            <div class="item flexrow setting-value text-nowrap item-end">
                <input name="roleStat" class="" type="number" data-dtype="Number" value={{roleStat}}>
            </div>
        </li>
        {{/if}}

        <li class="item flexrow">
            <div class="item flexrow setting-name text-nowrap">
                {{localize "CPR.mods"}}:
            </div>
            <div class="item flexrow setting-value text-nowrap item-end">
                <input name="mods" class="" type="text" data-dtype="String" value={{mods}}>
            </div>
        </li>


        <li class="item flexrow">
            <div class="item flexrow setting-name text-nowrap">
                {{localize "CPR.shouldrollcriticals"}}:
            </div>
            <div class="item flexrow setting-value text-nowrap item-end">
                <input name="calculateCritical" class="" type="checkbox" data-dtype="Checkbox" checked>
            </div>
        </li>

</form>
{{trace "END VERIFY-ROLL-ROLEABILITY-PROMPT.HBS"}}
