{{trace "VERIFY-ROLL-AIMED-ATTACK-PROMPT.HBS"}}
<form>
    <div>
        {{localize "CPR.rollingfor"}} {{localize "CPR.aimedshot"}} {{localize "CPR.with"}} "{{rollTitle}}", Choomba!
    </div>

    <ol class="items-list">
        <li class="item flexrow">
            <div class="item flexrow setting-name text-nowrap">
                {{localize "CPR.stat"}} {{localize "CPR.value"}} ({{localize statName}}):
            </div>
            <div class="item flexrow setting-value text-nowrap item-end">
                <input name="statValue" class="" type="number" data-dtype="Number" value={{statValue}}>
            </div>
        </li>

        <li class="item flexrow">
            <div class="item flexrow setting-name text-nowrap">
                {{localize "CPR.global.itemTypes.skill"}} {{localize "CPR.value"}} ({{localize skillName}}):
            </div>
            <div class="item flexrow setting-value text-nowrap item-end">
                <input name="skillValue" class="" type="number" data-dtype="Number" value={{skillValue}}>
            </div>
        </li>

        <li class="item flexrow">
            <div class="item flexrow setting-name text-nowrap">
                {{localize "CPR.mods"}}:
            </div>
            <div class="item flexrow setting-value text-nowrap item-end">
                <input name="mods" class="" type="text" data-dtype="String" value="{{mods}}">
            </div>
        </li>

        <li class="item flexrow">
            <div class="item flexrow setting-name text-nowrap">
                {{localize "CPR.shouldrollcriticals"}}:
            </div>
            <div class="item flexrow setting-value text-nowrap item-end">
                <input name="calculateCritical" class="" type="checkbox" data-dtype="Checkbox" checked>
            </div>
        </li>

        <li class="item flexrow">
            <div class="item flexrow setting-name text-nowrap">
                {{localize "CPR.aimfor"}}:
            </div>
            <div class="item flexrow setting-value text-nowrap item-end">
                <select name="location">
                    {{#each (findConfigObj "aimedLocation") as |location l|}}
                    <option value="{{l}}">{{localize location}}</option>
                    {{/each}}
                </select>
            </div>
        </li>

    </ol>
</form>
{{trace "END VERIFY-ROLL-AIMED-ATTACK-PROMPT.HBS"}}
