{{log "VERIFY-ROLL-ROLEABILITY-PROMPT.HBS"}}
<form>
    <div>
        {{localize "CPR.rollingfor"}} "{{rollTitle}}", Choomba!
    </div>

    <ol class="items-list">
        <li class="item flexrow">
            <div class="item flexrow setting-name text-nowrap">
                {{localize "CPR.abilityrank"}}:
            </div>
            <div class="item flexrow setting-value text-nowrap item-end">
                <input name="roleValue" class="" type="number" data-dtype="Number" value={{roleValue}}>
            </div>
        </li>


        <li class="item flexrow">
            <div class="item flexrow setting-name text-nowrap">
                {{localize "CPR.mods"}}:
            </div>
            <div class="item flexrow setting-value text-nowrap item-end">
                <input name="mods" class="" type="text" data-dtype="Text" value={{mods}}>
            </div>
        </li>


        <li class="item flexrow">
            <div class="item flexrow setting-name text-nowrap">
                {{localize "CPR.shouldrollcriticals"}}:
            </div>
            <div class="item flexrow setting-value text-nowrap item-end">
                <input name="calculateCritical" class="" type="checkbox" data-dtype="Checkbox" checked>
            </div>
        </li>

</form>
{{log "END VERIFY-ROLL-ROLEABILITY-PROMPT.HBS"}}