{{cprTrace "CPR-CRITICALINJURY.HBS"}}
<div class="item-summary-line">
    <span class="text-bold summary-name">{{localize "CPR.rolls.location"}}:</span>
    <span class="summary-value">{{localize (cprFindConfigValue "criticalInjuryLocation" data.data.location)}}</span>
</div>
<div class="item-summary-line">
    <span class="text-bold summary-name">{{localize "CPR.itemSheet.criticalInjury.deathSaveIncrease"}}:</span>
    <span class="summary-value">{{cprYesNo data.data.deathSaveIncrease}}</span>
</div>
{{cprTrace "END CPR-CRITICALINJURY.HBS"}}
