{{cprTrace "CPR-EFFECTS.HBS"}}
{{log item}}
{{#each item.data.effects}}
    {{!-- "effects" is a Map, so "this" is now an Active Effects object within the #each loop! --}}
    {{log @key}}
    {{log this}}
    {{#unless this.data.disabled}}
        <div class="item-summary-line">
            <span class="text-bold summary-name">
                {{this.data.label}} {{#if (cprIsDebug)}}({{this.data._id}}){{/if}}
            </span>
        </div>
        {{!-- {{#each effect.changes as change}}
            <div class="item-summary-line">
                <span class="text-bold summary-name">{{change.mod}}:</span>
                <span class="summary-value">{{change.val}}</span>
            </div>
        {{/each}} --}}
    {{/unless}}
{{/each}}
{{cprTrace "END CPR-EFFECTS.HBS"}}