{{cprTrace "CPR-CYBERWARE.HBS"}}
<div class="item-summary-line">
    <span class="text-bold summary-name">{{localize "CPR.global.generic.install"}}: </span>
    <span class="summary-value">{{localize (cprFindConfigValue "cyberwareInstallList" data.data.install)}}</span>
</div>
<div class="item-summary-line">
    <span class="text-bold summary-name">{{localize "CPR.itemSheet.cyberware.staticHl"}}:</span>
    <span class="summary-value">{{data.data.humanityLoss.static}}</span>
</div>
<div class="item-summary-line">
    <span class="text-bold summary-name">{{localize "CPR.itemSheet.cyberware.rollHl"}}:</span>
    <span class="summary-value">{{data.data.humanityLoss.roll}}</span>
</div>

{{#if data.data.hasOptionalSlots}}
    <div class="item-summary-line">
        <span class="text-bold summary-name">{{localize "CPR.itemSheet.cyberware.optionalSlots"}}:</span>
        <span class="summary-value">{{data.data.optionSlots}}</span>
    </div>
{{/if}}
{{cprTrace "END CPR-CYBERWARE.HBS"}}