{{cprTrace "CPR-SKILL.HBS"}}
<div class="item-summary-line">
    <span class="text-bold summary-name">{{localize "CPR.itemSheet.skill.level"}}:</span>
    <span class="summary-value">{{data.data.level}}</span>
</div>
<div class="item-summary-line">
    <span class="text-bold summary-name">{{localize "CPR.global.generic.stat"}}:</span>
    <span class="summary-value">{{localize (cprFindConfigValue "statList" data.data.stat)}}</span>
</div>
{{cprTrace "END CPR-SKILL.HBS"}}
