{{cprTrace "CPR-ARMOR.HBS"}}
<div class="item-summary-section">
    {{#if data.data.isHeadLocation}}
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.itemSheet.armor.headSp"}}:</span>
            <span class="summary-value">{{cprApplyUpgrade this.item data.data.headLocation.sp "headSp"}}</span>
        </div>
        <div class="item-summary-line">
            <span class="text-bold summary-name">&nbsp;{{localize "CPR.itemSheet.armor.ablation"}}:</span>
            <span class="summary-value">{{data.data.headLocation.ablation}}</span>
        </div>
    {{/if}}
    {{#if data.data.isBodyLocation}}
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.itemSheet.armor.bodySp"}}:</span>
            <span class="summary-value">{{cprApplyUpgrade this.item data.data.bodyLocation.sp "bodySp"}}</span>
        </div>
        <div class="item-summary-line">
            <span class="text-bold summary-name">&nbsp;{{localize "CPR.itemSheet.armor.ablation"}}:</span>
            <span class="summary-value">{{data.data.bodyLocation.ablation}}</span>
        </div>
    {{/if}}
    {{#if data.data.isShield}}
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.itemSheet.common.maximumShort"}} {{localize "CPR.global.generic.hitpointsShort"}}:</span>
            <span class="summary-value">{{cprApplyUpgrade this.item data.data.shieldHitPoints.max "shieldHp"}}</span>
        </div>
        <div class="item-summary-line">
            <span class="text-bold summary-name">{{localize "CPR.itemSheet.armor.currentHitpointsShort"}}:</span>
            <span class="summary-value">{{data.data.shieldHitPoints.value}}</span>
        </div>
    {{/if}}
</div>
{{cprTrace "END CPR-ARMOR.HBS"}}
