{{cprTrace "CPR-VEHICLE.HBS"}}

<div class="item-summary-line">
    <span class="text-bold summary-name">{{localize "CPR.itemSheet.vehicle.seats"}}:</span>
    <span class="summary-value">{{cprApplyUpgrade item data.data.seats "seats"}}</span>
</div>
<div class="item-summary-line">
    <span class="text-bold summary-name">{{localize "CPR.itemSheet.vehicle.sdp"}}:</span>
    <span class="summary-value">{{cprApplyUpgrade item data.data.sdp "sdp"}}</span>
</div>
<div class="item-summary-line">
    <span class="text-bold summary-name">{{localize "CPR.itemSheet.vehicle.combatSpeed"}}:</span>
    <span class="summary-value">{{cprApplyUpgrade item data.data.speedCombat "speedCombat"}}</span>
</div>

{{cprTrace "END CPR-VEHICLE.HBS"}}